<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style data-tag="default-style-sheet">
        html {
            font-family: Inter;
            font-size: 16px;
            overflow: hidden;
        }

        body {
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            text-transform: none;
            letter-spacing: normal;
            line-height: 1.15;
            color: var(--dl-color-gray-black);
            background-color: var(--dl-color-gray-white);
        }
    </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" data-tag="font" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link href="~/css/site.css" rel="stylesheet" />
    <title>@ViewData["Title"] - GoS</title>


</head>
<body>
    <div>
        <link href="~/css/home.css" rel="stylesheet" />
        <div class="home-container">
            <div class="home-top-container">
                <div class="home-social-bar">              
                    <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/baseimg/GoS-home.png" width="65" height="65" /></a>             
                    <a asp-area="" asp-controller="Home" asp-action="Facebook"><img src="~/baseimg/GoS-facebook.png" width="65"height="65" /></a>
                </div>
                <div class="home-banner">
                    <img alt="image"
                         src="~/baseimg/goshead.jpg"
                         loading="eager"
                         class="home-image" />
                </div>
                <div class="home-about">
                    <button class="home-about-button">About Us</button>
                    <button class="home-about-button">Contact Us</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>