@{
    ViewData["Title"] = "ArgyleFCFacts";
}
<h1>@ViewData["Title"]</h1>

<p>Argyle FC Facts PAGE WILL GO HERE</p>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script>
    $(function () {
        $("#nav-placeholder").load(Home/History.cshtml)
    });
</script>
