@{
    ViewData["Title"] = "History Menu";
}

<link href="~/css/home.css" rel="stylesheet" />

<ul class="navbar">
    <li><a asp-controller="History" asp-action="HowItAllBegan">How it all began</a></li>
    <li><a asp-controller="History" asp-action="HistoryMenu">History menu</a></li>
    <li><a asp-controller="History" asp-action="ArgyleFCFacts">Argyle FC facts</a></li>
    <li><a asp-controller="History" asp-action="ShowChapters">Show chapters</a></li>
    <li><a href="\Content\argylehistory_shirt.pdf">Green Jersey Journey PDF</a></li>
</ul>


<div class="home-middle-content" style="padding-left:15%;padding-right:15%; border:none;">

    <p1 class="bulktext">
        <h1 style="color:forestgreen">THE HISTORY OF ARGYLE</h1>Greens on Screen's History of Argyle is an original, comprehensive
        and thoroughly researched account of Plymouth Argyle Football Club from its earliest roots to 
1957 (so far).<br> 
It is an ongoing project and will be reviewed and improved from time to 
time. If you can contribute, either by improving existing content or by 
adding your own research, please get in touch <a href="mailto:history@greensonscreen.co.uk">here.</a><br />
    Special thanks to the chapter authors; you can find out more about them here:
<a href="argylehistory.asp?era=authors">Authors(Put link to authers here)</a>
Important copyright conditions: The chapters listed below are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/"> Creative Commons Licence</a> 
You may read, copy and/or share the work as long as (a) it is not altered, transformed or built upon
it is not used for commercial purposes without express permission and (c) the work is attributed to the named author and this website (www.greensonscreen.co.uk).

        <p >
            And the picture opposite? The Borough Arms Coffee Tavern at 35, Bedford Street,
            Plymouth, where it all began.
        </p>
    </p1>
    <style type="text/css">
        .tg {
            border-collapse: collapse;
            border-spacing: 0;
        }

            .tg td {
                border-color: black;
                border-style: solid;
                border-width: 1px;
                font-family: Arial, sans-serif;
                font-size: 14px;
                overflow: hidden;
                padding: 10px 5px;
                word-break: normal;
            }

            .tg th {
                border-color: black;
                border-style: solid;
                border-width: 1px;
                font-family: Arial, sans-serif;
                font-size: 14px;
                font-weight: normal;
                overflow: hidden;
                padding: 10px 5px;
                word-break: normal;
            }

            .tg .tg-k2kf {
                background-color: #FFF;
                border-color: inherit;
                color: #000000;
                font-family: Tahoma, Geneva, sans-serif !important;
                text-align: left;
                vertical-align: middle
            }

            .tg .tg-dj4g {
                border-color: inherit;
                color: #000000;
                font-family: Tahoma, Geneva, sans-serif !important;
                text-align: left;
                vertical-align: top
            }

            .tg .tg-1sj7 {
                background-color: #FFF;
                border-color: inherit;
                color: #000000;
                font-family: Tahoma, Geneva, sans-serif !important;
                text-align: center;
                vertical-align: middle
            }

            .tg .tg-sf2o {
                background-color: #FFF;
                border-color: inherit;
                color: #000000;
                font-family: Tahoma, Geneva, sans-serif !important;
                font-weight: bold;
                text-align: left;
                vertical-align: top
            }

            .tg .tg-i327 {
                background-color: #FFF;
                border-color: inherit;
                color: #000000;
                font-family: Tahoma, Geneva, sans-serif !important;
                text-align: left;
                vertical-align: top
            }
    </style>

    <table class="tg">
        <thead>
            <tr>
                <th class="tg-dj4g" colspan="2">Chapter</th>
                <th class="tg-dj4g">Title</th>
                <th class="tg-dj4g">Version</th>
                <th class="tg-dj4g">Last Update</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tg-dj4g">1</td>
                <td class="tg-dj4g">1886-1890</td>
                <td class="tg-dj4g">In the Beginning (Roger Walters)</td>
                <td class="tg-1sj7">1.1</td>
                <td class="tg-k2kf">19 Jun 2016</td>
            </tr>
            <tr>
                <td class="tg-dj4g">2</td>
                <td class="tg-dj4g">1890-1895</td>
                <td class="tg-dj4g">From Struggle to Demise (Roger Walters)</td>
                <td class="tg-1sj7">1.0</td>
                <td class="tg-k2kf">30 Jun 2011</td>
            </tr>
            <tr>
                <td class="tg-dj4g">3</td>
                <td class="tg-dj4g">1895-1899</td>
                <td class="tg-sf2o"><a href="https://www.greensonscreen.co.uk/argylehistory.asp?era=1895-1899" target="_blank" rel="noopener noreferrer"><span style="text-decoration:none">Rising from the Phoenix</span></a> (Roger Walters)</td>
                <td class="tg-1sj7">1.2</td>
                <td class="tg-k2kf">19 Jun 2016</td>
            </tr>
            <tr>
                <td class="tg-dj4g">4</td>
                <td class="tg-dj4g">1899-1900</td>
                <td class="tg-dj4g">he Argyle Athletic Umbrella (Roger Walters)</td>
                <td class="tg-1sj7">1.0</td>
                <td class="tg-k2kf">14 Jul 2011</td>
            </tr>
            <tr>
                <td class="tg-dj4g">5</td>
                <td class="tg-i327">1900-1901</td>
                <td class="tg-sf2o"><a href="https://www.greensonscreen.co.uk/argylehistory.asp?era=1900-1901" target="_blank" rel="noopener noreferrer"><span style="text-decoration:none">Home Park Home</span></a> (Roger Walters)</td>
                <td class="tg-1sj7">1.1</td>
                <td class="tg-k2kf">11 Aug 2011</td>
            </tr>
            <tr>
                <td class="tg-dj4g">6</td>
                <td class="tg-dj4g">1901-1902 P1</td>
                <td class="tg-dj4g">The Argyle Affair (Roger Walters)</td>
                <td class="tg-1sj7">1.2</td>
                <td class="tg-k2kf">3 Aug 2016</td>
            </tr>
            <tr>
                <td class="tg-dj4g">7</td>
                <td class="tg-dj4g">1901-1902 P2</td>
                <td class="tg-dj4g">The Big Boys Come to Town (Roger Walters)</td>
                <td class="tg-1sj7">1.0</td>
                <td class="tg-k2kf">4 Aug 2011</td>
            </tr>
            <tr>
                <td class="tg-dj4g">8</td>
                <td class="tg-dj4g">1902-1903 P2</td>
                <td class="tg-dj4g">Argyle FC becomes Semi-professional (Roger Walters)</td>
                <td class="tg-1sj7">1.0</td>
                <td class="tg-k2kf">11 Aug 2011</td>
            </tr>
            <tr>
                <td class="tg-dj4g">9</td>
                <td class="tg-i327">1902-1903 P2</td>
                <td class="tg-sf2o"><a href="https://www.greensonscreen.co.uk/argylehistory.asp?era=1902-1903_2" target="_blank" rel="noopener noreferrer"><span style="text-decoration:none">The Birth of Plymouth Argyle</span></a> (Roger Walters)</td>
                <td class="tg-1sj7">1.0</td>
                <td class="tg-k2kf">18 Aug 2011</td>
            </tr>
            <tr>
                <td class="tg-dj4g">10</td>
                <td class="tg-sf2o">1902-1903 P3</td>
                <td class="tg-sf2o"><a href="https://www.greensonscreen.co.uk/argylehistory.asp?era=1902-1903_3" target="_blank" rel="noopener noreferrer"><span style="text-decoration:none">Argyle FC's Final Triumph</span></a> (Roger Walters)</td>
                <td class="tg-1sj7">1.1</td>
                <td class="tg-k2kf">19 Aug 2016</td>
            </tr>
            <tr>
                <td class="tg-dj4g" colspan="2">Argyle FC Postscript</td>
                <td class="tg-sf2o"><a href="https://www.greensonscreen.co.uk/argylehistory.asp?era=ps1" target="_blank" rel="noopener noreferrer"><span style="text-decoration:none">In memory of a player and a football club</span></a> (Roger Walters)</td>
                <td class="tg-1sj7">1.0</td>
                <td class="tg-k2kf">25 Aug 2011</td>
            </tr>
            <tr>
                <td class="tg-dj4g">11</td>
                <td class="tg-sf2o">1903-1910</td>
                <td class="tg-sf2o"><a href="https://www.greensonscreen.co.uk/argylehistory.asp?era=1903-1910" target="_blank" rel="noopener noreferrer"><span style="text-decoration:none">Plymouth Argyle's Early Years</span></a> (Colin Parsons)</td>
                <td class="tg-1sj7">1.0</td>
                <td class="tg-k2kf">22 Sep 2011</td>
            </tr>
            <tr>
                <td class="tg-dj4g">12</td>
                <td class="tg-sf2o">1910-1920</td>
                <td class="tg-sf2o"><a href="https://www.greensonscreen.co.uk/argylehistory.asp?era=1910-1920" target="_blank" rel="noopener noreferrer"><span style="text-decoration:none">Argyle and The Great War</span></a> (Colin Parsons)</td>
                <td class="tg-1sj7">1.3</td>
                <td class="tg-k2kf">13 Jan 2015</td>
            </tr>
            <tr>
                <td class="tg-dj4g">13</td>
                <td class="tg-sf2o">1920-1930</td>
                <td class="tg-sf2o"><a href="https://www.greensonscreen.co.uk/argylehistory.asp?era=1920-1930" target="_blank" rel="noopener noreferrer"><span style="text-decoration:none">Into the Football League</span></a> (Colin Parsons)</td>
                <td class="tg-1sj7">1.1</td>
                <td class="tg-k2kf">21 Sep 2012</td>
            </tr>
            <tr>
                <td class="tg-dj4g">14</td>
                <td class="tg-sf2o">1930-1934</td>
                <td class="tg-sf2o"><a href="https://www.greensonscreen.co.uk/argylehistory.asp?era=1930-1934" target="_blank" rel="noopener noreferrer"><span style="text-decoration:none">Life in the Second Division</span></a> (Colin Parsons &amp; Steve Dean)</td>
                <td class="tg-1sj7">1.2</td>
                <td class="tg-k2kf">8 Nov 2015</td>
            </tr>
            <tr>
                <td class="tg-dj4g">15</td>
                <td class="tg-sf2o">1934-1939</td>
                <td class="tg-sf2o"><a href="https://www.greensonscreen.co.uk/argylehistory.asp?era=1934-1939" target="_blank" rel="noopener noreferrer"><span style="text-decoration:none">The End of an Era</span></a> (Steve Dean &amp; Colin Parsons)</td>
                <td class="tg-1sj7">1.0</td>
                <td class="tg-k2kf">30 Dec 2013</td>
            </tr>
            <tr>
                <td class="tg-dj4g">16</td>
                <td class="tg-sf2o">1939-1945</td>
                <td class="tg-sf2o"><a href="https://www.greensonscreen.co.uk/argylehistory.asp?era=1939-1945" target="_blank" rel="noopener noreferrer"><span style="text-decoration:none">The Second World War Years</span></a> (Steve Dean &amp; Colin Parsons)</td>
                <td class="tg-1sj7">1.2</td>
                <td class="tg-k2kf">4 Mar 2022</td>
            </tr>
            <tr>
                <td class="tg-dj4g">17</td>
                <td class="tg-sf2o">1945-1950</td>
                <td class="tg-sf2o"><a href="https://www.greensonscreen.co.uk/argylehistory.asp?era=1945-1950" target="_blank" rel="noopener noreferrer"><span style="text-decoration:none">From the Ashes</span></a> (Steve Dean)</td>
                <td class="tg-1sj7">1.0</td>
                <td class="tg-k2kf">22 Dec 2017</td>
            </tr>
            <tr>
                <td class="tg-dj4g">18</td>
                <td class="tg-sf2o">1950-1953</td>
                <td class="tg-sf2o"><a href="https://www.greensonscreen.co.uk/argylehistory.asp?era=1950-1953" target="_blank" rel="noopener noreferrer"><span style="text-decoration:none">Into the Fifties</span></a> (Steve Dean)</td>
                <td class="tg-1sj7">1.1</td>
                <td class="tg-k2kf">5 Dec 2021</td>
            </tr>
            <tr>
                <td class="tg-dj4g">19</td>
                <td class="tg-sf2o">1953-1957</td>
                <td class="tg-sf2o"><a href="https://www.greensonscreen.co.uk/argylehistory.asp?era=1953-1957" target="_blank" rel="noopener noreferrer"><span style="text-decoration:none">From Best to Worst, via Hollywood</span></a> (Steve Dean)</td>
                <td class="tg-1sj7">1.2</td>
                <td class="tg-k2kf">13 Jul 2020</td>
            </tr>
        </tbody>
    </table>

</div>

		



