@{
    ViewData["Title"] = "History";
}

<ul class="navbar">
    <li><a>How it all began</a></li>
    <li><a>History menu</a></li>
    <li><a>Argyle FC facts</a></li>
    <li><a>Green Jersey Journey PDF</a></li>
    <li><a>Show chapters</a></li>
</ul>
