@{
    ViewData["Title"] = "Home Page";
}
<body>
    @*Database search box*@
<div class="home-lower-top-container">
    <div class="home-database-search">
        <span class="home-text">Database/search</span>
    </div>
        @*Match of the day box*@
    <div class="home-last-3-m-o-t-d">
        <span class="home-text">Last three motd</span>
    </div>
        @*History box*@
    <div class="home-history"><span class="home-text">History</span>
        <img class="small_history" src="~/baseimg/history-small.png">
        <span class="home-text">The History of Argyle is an original, comprehensive and thoroughly researched account of Plymouth Argyle - formerly Argyle FC - from its earliest roots in 1886 to, so far, 1957</span>
        <a class="history_button" asp-area="" asp-controller="Home" asp-action="History">More history here!</a>
    </div>
</div>
    @*Lower half of the page*@
<div class="home-middle-content">
        @*Other Sites/What's new containers*@
    <div class="home-side-bar-left">
        <div class="home-other-sites">
            <span class="home-text">Other sites</span>
            <ul class="other-sites-list">
            <li><a target="_blank" href="https://www.pafc.co.uk">PAFC Official</a></li>
            <li><a target="_blank" href="https://www.facebook.com/ArgyleWFC">Argyle Women</a></li>
            <li><a target="_blank" href="https://www.argylearchive.org.uk/">The Argyle Archive</a></li>
            <li><a target="_blank" href="https://www.argylefanstrust.com/">Argyle Fans' Trust</a></li>
            <li><a target="_blank" href="https://pasoti.co.uk/talk/">PASOTI</a></li>
            <li><a target="_blank" href="https://www.greentaverners.co.uk">Green Taverners</a></li>
            <li><a target="_blank" href="https://www.facebook.com/groups/1325246504231190">Senior Greens</a></li>
            <li><a target="_blank" href="https://www.plymouthherald.co.uk/all-about/plymouth-argyle">Plymouth Live</a></li>
            <li><a target="_blank" href="https://www.bbc.co.uk/sport/football/teams/plymouth-argyle">BBC Sport</a></li>
            <li><a target="_blank" href="https://www.skysports.com/plymouth-argyle">Sky Sports</a></li>
            <li><a target="_blank" href="https://www.newsnow.co.uk/h/Sport/Football/League+One/Plymouth+Argyle?type=ln">News Now</a></li>
            <li><a target="_blank" href="http://www.historicalkits.co.uk/Plymouth_Argyle/Plymouth_Argyle.htm">Historical Football Kits</a></li>
        </ul>
        </div>
            @*What's new box*@
        <div class="home-whats-new">
            <span class="home-text">What&apos;s new</span>
            <ul class="other-sites-list">
                    @*What's new box contents*@
                <li><a asp-controller="Home" asp-action="DailyDiary">Daily Diary & OTD</a></li>
                <li><a href="">Current Squad</a></li>
                <li><a href="">The Latest Match: English Football League One #27 Ipswich Town  1 Argyle 1</a></li>
                <li><a href="">League Table Plus</a></li>
                <li><a href="">Appearance Chart</a></li>
                <li><a href="">Progress Graphs</a></li>
            </ul>
        </div>
    </div>

    <div class="home-middle-boxes">
        <div class="home-middle-boxes-top">
            <div class="home-on-this-day">
                <span class="home-text-head">
                        On this day @*On This Day section*@
                    </span>
                <span class="home-text">
                    
                    <p1>
                        1927: Argyle 4 Newport County 1. One of Argyle's goals that day was scored by their 'keeper, Fred Craig, from the penalty spot. This was the first of five penalties that Craig converted in his time, but this one was special; he broke the back of the net.
                    </p1>
                </span>
            </div>
            
        </div>
            @*lower middle section*@
        <div class="home-middle-boxes-bottom">
            <div class="home-on-this-day">
                    <span class=" home-text-head">Born this day</span> @*Born this day section*@

                    <table class="home-table">
                        @*table of people born today section*@
                          <tr>
                            <td><img class="home-born-img" src="~/baseimg/CliveGoodyear.jpg" /></td>
                            <td> 1961 - Clive Goodyear - 125 games, 7 goals between 1984 and 1987.
                            Born in Luton, Goodyear started his career with Luton Town, making 90 appearances in three seasons before joining Argyle in 1984.</td>
                          </tr>
                          <tr>
                            <td><img class="home-born-img" src="~/baseimg/JonBeswetherick.jpg"/></td>
                            <td>1978: Jon Beswetherick - 169 games, no goals between 1997 and 2002.
                        'Bessie' was a product of the Argyle youth set-up, progressing through the ranks to play over 150 games for the first-team, primarily at left-back.</td>
                          </tr>
                          <tr>
                            <td><img class="home-born-img" src="~/baseimg/JermaineEaster.jpg" /></td>
                            <td>1982: Jermaine Easter - 39 games, 6 goals between 2007 and 2008.
                        Easter began his career with Wolverhampton Wanderers before moving on to Hartlepool United in 2001, and then to Spennymoor United, Cambridge United, Boston ...</td>
                          </tr>
                          <tr>
                            <td><img class="home-born-img" src="~/baseimg/BenGibson.jpg"/></td>
                            <td>1993: Ben Gibson - 16 games, no goals in 2011.
                        Gibson joined Argyle on loan from Middlesbrough, the club he began his career with as a 12-year-old in 2005.</td>
                          </tr>
                    </table>


            </div>
            
        </div>
    </div>
    @*bottom right sidebar*@
    <div class="home-side-bar-right">
        <div class="home-here-and-now">
            <span class="home-text">Here and now</span>
            <ul class="other-sites-list">
                @*Here and now*@
                <li><a href="">Daily Diary & OTD</a></li>
                <li><a href="">Current Squad</a></li>
                <li><a href="">The Latest Match: English Football League One #27 Ipswich Town  1 Argyle 1</a></li>
                <li><a href="">League Table Plus</a></li>
                <li><a href="">Appearance Chart</a></li>
                <li><a href="">Progress Graphs</a></li>
            </ul>
        </div>
            @*Then and now*@
        <div class="home-then-and-now">
                <span class="home-text"> Then and now </span>
                <ul class="other-sites-list">

                <li><a href="">Records and achievements</a></li>
                <li><a href="/home/teamphotos.cshtml"</>Team photos </a></li>
                <li><a href="">Friendly matches </a></li>
                <li><a href="">Videos found online </a></li>
                <li><a href="">Non match photo archive</a></li>
                
            </ul>
                <br />
          
        </div>
    </div>
</div>
</body>