@{
    ViewData["Title"] = "Home Page";
}

<div class="home-lower-top-container">
    <div class="home-database-search">
        <span class="home-text">Database/search</span>
    </div>
    <div class="home-last-3-m-o-t-d">
        <span class="home-text">Last three motd</span>
    </div>
    <div class="home-history"><span class="home-text">History</span></div>
</div>
<div class="home-middle-content">
    <div class="home-side-bar-left">
        <div class="home-other-sites">
            <span class="home-text">Other sites</span>
        </div>
        <div class="home-whats-new">
            <span class="home-text">What&apos;s new</span>
        </div>
    </div>
    <div class="home-middle-boxes">
        <div class="home-middle-boxes-top">
            <div class="home-on-this-day">
                <span class="home-text">
                    <span>On this day</span>
                    <br />
                </span>
            </div>
            <div class="home-yesterday">
                <span class="home-text">Yesterday</span>
            </div>
            <div class="home-two-days-ago">
                <span class="home-text">2 days ago</span>
            </div>
        </div>
        <div class="home-middle-boxes-bottom">
            <div class="home-on-this-day">
                <span class="home-text">
                    <span>Born this day</span>
                    <br />
                </span>
            </div>
            <div class="home-yesterday">
                <span class="home-text">Born Yesterday</span>
            </div>
            <div class="home-two-days-ago">
                <span class="home-text">Born 2 days ago</span>
            </div>
        </div>
    </div>
    <div class="home-side-bar-right">
        <div class="home-here-and-now">
            <span class="home-text">Here and now</span>
        </div>
        <div class="home-then-and-now">
            <span class="home-text">
                <span>Then and now</span>
                <br />
            </span>
        </div>
    </div>
</div>
