@{
    ViewData["Title"] = "Home Page";
}
<body>
<div class="home-lower-top-container">
    <div class="home-database-search">
        <span class="home-text">Database/search</span>
    </div>
    <div class="home-last-3-m-o-t-d">
        <span class="home-text">Last three motd</span>
    </div>
    <div class="home-history"><span class="home-text">History</span>
        <img class="small_history" src="~/baseimg/history-small.png">
        <span class="home-text">The History of Argyle is an original, comprehensive and thoroughly researched account of Plymouth Argyle - formerly Argyle FC - from its earliest roots in 1886 to, so far, 1957</span>
        <a class="history_button" asp-area="" asp-controller="Home" asp-action="History">More history here!</a>
    </div>

</div>
<div class="home-middle-content">
    <div class="home-side-bar-left">
        <div class="home-other-sites">
            <span class="home-text">Other sites</span>
            <ul class="other-sites-list">
            <li><a target="_blank" href="https://www.pafc.co.uk">PAFC Official</a></li>
            <li><a target="_blank" href="https://www.facebook.com/ArgyleWFC">Argyle Women</a></li>
            <li><a target="_blank" href="https://www.argylearchive.org.uk/">The Argyle Archive</a></li>
            <li><a target="_blank" href="https://www.argylefanstrust.com/">Argyle Fans' Trust</a></li>
            <li><a target="_blank" href="https://pasoti.co.uk/talk/">PASOTI</a></li>
            <li><a target="_blank" href="https://www.greentaverners.co.uk">Green Taverners</a></li>
            <li><a target="_blank" href="https://www.facebook.com/groups/1325246504231190">Senior Greens</a></li>
            <li><a target="_blank" href="https://www.plymouthherald.co.uk/all-about/plymouth-argyle">Plymouth Live</a></li>
            <li><a target="_blank" href="https://www.bbc.co.uk/sport/football/teams/plymouth-argyle">BBC Sport</a></li>
            <li><a target="_blank" href="https://www.skysports.com/plymouth-argyle">Sky Sports</a></li>
            <li><a target="_blank" href="https://www.newsnow.co.uk/h/Sport/Football/League+One/Plymouth+Argyle?type=ln">News Now</a></li>
            <li><a target="_blank" href="http://www.historicalkits.co.uk/Plymouth_Argyle/Plymouth_Argyle.htm">Historical Football Kits</a></li>
        </ul>
        </div>
        <div class="home-whats-new">
            <span class="home-text">What&apos;s new</span>
            <ul class="other-sites-list">

                <li><a asp-controller="Home" asp-action="DailyDiary">Daily Diary & OTD</a></li>
                <li><a href="">Current Squad</a></li>
                <li><a href="">The Latest Match: English Football League One #27 Ipswich Town  1 Argyle 1</a></li>
                <li><a href="">League Table Plus</a></li>
                <li><a href="">Appearance Chart</a></li>
                <li><a href="">Progress Graphs</a></li>
            </ul>
        </div>
    </div>
    <div class="home-middle-boxes">
        <div class="home-middle-boxes-top">
            <div class="home-on-this-day">
                <span class="home-text-head">
                        On this day
                    </span>
                <span class="home-text">
                    
                    <p1>
                        1927: Argyle 4 Newport County 1. One of Argyle's goals that day was scored by their 'keeper, Fred Craig, from the penalty spot. This was the first of five penalties that Craig converted in his time, but this one was special; he broke the back of the net.
                    </p1>
                </span>
            </div>
            <div class="home-yesterday">
                <span class="home-text">Yesterday</span>
            </div>
            <div class="home-two-days-ago">
                <span class="home-text">2 days ago</span>
            </div>
        </div>
        <div class="home-middle-boxes-bottom">
            <div class="home-on-this-day">
                <span class="home-text">
                    <span>Born this day</span>
                    <br />
                </span>
            </div>
            <div class="home-yesterday">
                <span class="home-text">Born Yesterday</span>
            </div>
            <div class="home-two-days-ago">
                <span class="home-text">Born 2 days ago</span>
            </div>
        </div>
    </div>
    <div class="home-side-bar-right">
        <div class="home-here-and-now">
            <span class="home-text">Here and now</span>
            <ul class="other-sites-list">

                <li><a href="">Daily Diary & OTD</a></li>
                <li><a href="">Current Squad</a></li>
                <li><a href="">The Latest Match: English Football League One #27 Ipswich Town  1 Argyle 1</a></li>
                <li><a href="">League Table Plus</a></li>
                <li><a href="">Appearance Chart</a></li>
                <li><a href="">Progress Graphs</a></li>
            </ul>
        </div>
        <div class="home-then-and-now">
            <span class="home-text">
                <span>Then and now</span>
                <br />
            </span>
        </div>
    </div>
</div>
</body>