@page
@model AllPlayersModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Website</title>
</head>
<body>
<div id="bigDiv" style="width: 1000px; display: flex; justify-content: space-between;">
        <div id="DivA" style="text-align: left; width: 300px; display: inline-block; vertical-align: top;">
            <div style="display: inline-block; vertical-align: top;">
            <img src="~/images/gosdb-small.jpg" alt="Image" style="width: 160px; height: 70px; display: inline-block; vertical-align: top;">
            <div style="display: inline-block; vertical-align: top; margin-left: 10px;">
                <p style="font-size: 14px; font-weight: bold; margin: 0; padding: 0; height: 35px;">Search by Date</p>
                <a onclick="window.location.href='ShowFullDatabase'" style="display: block; width: 100px; height: 35px; margin: 0; padding: 0;">Back to GoS-DB Hub</a>
            </div>
        </div>
        
    </div>

        <div id="DivB" class="border d-flex flex-column justify-content-center align-items-center" style="width: 300px; height: 100%;">
            <h1 class="text-center">The Players</h1>
            <p class="text-center">Competitions selected: all</p>
            <p class="text-center"><b>To find a player</b>, type the first few letters of the surname:</p>
            <div class="input-group mb-3" style="width: 230px; padding: 5px;">
                <input type="text" class="form-control" placeholder="Search..." aria-label="Search..." aria-describedby="basic-addon2" id="searchInput">
            </div>
            <p class="text-center">... then select a name revealed below.</p>
        </div>

        <div id="DivC" style="text-align: left; width: 290px; display: inline-block; vertical-align: top;">
        <div style="display: inline-block; vertical-align: top;">
            <p>A full PAFC history of every first-team player since 1903, with details relevant for the competitions selected. Note that the names listed here are from the complete set; they are not limited to those playing in the chosen competitions.</p>

        </div>    
    </div>
</div>


    <div class="container mt-4" style="max-width: 1000px; height: 200px;">
        <div class="row justify-content-center align-items-center" style="height: 100%;">
            <div class="col-sm-12" style="text-align: center;">
                <p id="input-output"></p>
            </div>
        </div>
    </div>

    <script>
        const input = document.getElementById('searchInput');
        const output = document.getElementById('input-output');
        input.addEventListener('input', (event) => {
            output.innerText = event.target.value;
            input.value = event.target.value;
        });
    </script>
</body>
</html>
