@page
@model _2003v5.Pages.Index1Model
@{
}
<p style="line-height: 130%; text-align:justify; margin-right:4; margin-top:9; margin-bottom:12">
Greens on Screen's History of Argyle is an original, comprehensive 
and thoroughly researched account of Plymouth Argyle Football Club from its earliest roots to 
1957 (so far). 
It is an ongoing project and will be reviewed and improved from time to 
time. If you can contribute, either by improving existing content or by 
adding your own research, please
<a href="mailto:history@greensonscreen.co.uk">Get in Touch</a>.</p>
<p style="line-height: 130%; text-align:justify; margin-right:4; margin-top:9; margin-bottom:12">
Special thanks to the chapter authors; you can find out more about them here:
<a href="argylehistory.asp?era=authors">Authors</a></p>

<p style="line-height: 130%; text-align:justify; margin-right:4; margin-top:4; margin-bottom:12">Important copyright conditions: The chapters listed below are 
licensed under a
<b> <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/">
Creative Commons Licence</a></b>. 
You may read, copy and/or share the work as long as (a) it is not
<span id="devnations-container"><span id="by-more-container">
<span id="nc-more-container">altered, transformed or built upon; (b)</span></span></span> 
it is not used for commercial purposes without express permission and (c) the work 
is attributed to the 
named author and this website (www.greensonscreen.co.uk).</p>
<table>
    <thead>
        <tr>
            <th>Chapter</th>
            <th>Title</th>
            <th>Version</th>
            <th>Last update</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td><a href="Chapter1InTheBeginning">In the Beginning</a> (Roger Walters)</td>
            <td>1.1</td>
            <td>19 Jun 2016</td>
        </tr>
        <tr>
            <td>2</td>
            <td><a href="Chapter2FromStruggleToDemise"> From Struggle to Demise</a> (Roger Walters)</td>
            <td>1.0</td>
            <td>30 Jun 2011</td>
        </tr>
        <tr>
            <td>3</td>
            <td><a href="Chapter3RisingFromThePhoenix"> Rising from the Phoenix </a> (Roger Walters)</td>
            <td>1.2</td>
            <td>19 Jun 2016</td>
        </tr>
        <tr>
            <td>4</td>
            <td><a href="Chapter4TheArgyleAthleticUmbrella"> The Argyle Athletic Umbrella </a> (Roger Walters)</td>
            <td>1.0</td>
            <td>14 Jul 2011</td>
        </tr>
        <tr>
            <td>5</td>
            <td><a href="Chapter5HomeParkHome"> Home Park Home </a> (Roger Walters)</td>
            <td>1.1</td>
            <td>11 Aug 2011</td>
        </tr>
        <tr>
            <td>6</td>
            <td><a href="Chapter6TheArgyleAffair"> The Argyle Affair </a> (Roger Walters)</td>
            <td>1.2</td>
            <td>3 Aug 2016</td>
        </tr>
        <tr>
            <td>7</td>
            <td><a href="Chapter7TheBigBoysComeToTown"> The Big Boys Come to Town </a> (Roger Walters)</td>
            <td>1.0</td>
            <td>4 Aug 2011</td>
        </tr>
        <tr>
            <td>8</td>
            <td><a href="Chapter8ArgyleFCBecomesSemiprofessional"> Argyle FC becomes Semi-professional </a> (Roger Walters)</td>
            <td>1.0</td>
            <td>11 Aug 2011</td>
        </tr>
        <tr>
            <td>9</td>
            <td><a href="Chapter9TheBirthOfPlymouthArgyle"> The Birth of Plymouth Argyle </a> (Roger Walters)</td>
            <td>1.0</td>
            <td>18 Aug 2011</td>
        </tr>
        <tr>
            <td>10</td>
            <td><a href="Chapter10ArgyleFCsFinalTriumph"> Argyle FC's Final Triumph </a> (Roger Walters)</td>
            <td>1.1</td>
            <td>19 Aug 2016</td>
        </tr>
        <tr>
            <td>Argyle FC Postscript</td>
            <td><a href="InMemoryOfAPlayerAndAFootballClub"> In memory of a player and a football club </a>(Roger Walters)</td>
            <td>1.0</td>
            <td>25 Aug 2011</td>
        </tr>
        <tr>
            <td>11</td>
            <td><a href="Chapter11PlymouthArgylesEarlyYears">Plymouth Argyle's Early Years (Colin Parsons)</a></td>
            <td>1.0</td>
            <td>22 Sep 2011</td>
        </tr>
        <tr>
            <td>12</td>
            <td><a href="Chapter12ArgyleAndTheGreatWar">Argyle and The Great War (Colin Parsons)</a></td>
            <td>1.3</td>
            <td>13 Jan 2015</td>
        </tr>
        <tr>
            <td>13</td>
            <td><a href="Chapter13IntoTheFootballLeague">Into the Football League (Colin Parsons)</a></td>
            <td>1.1</td>
            <td>21 Sep 2012</td>
        </tr>
        <tr>
            <td>14</td>
            <td><a href="Chapter14LifeInTheSecondDivision">Life in the Second Division (Colin Parsons & Steve Dean)</a></td>
            <td>1.2</td>
            <td>8 Nov 2015</td>
        </tr>
        <tr>
            <td>15</td>
            <td><a href="Chapter15TheEndOfAnEra">The End of an Era (Steve Dean & Colin Parsons)</a></td>
            <td>1.0</td>
            <td>30 Dec 2013</td>
        </tr>
        <tr>
            <td>16</td>
            <td><a href="Chapter16TheSecondWorldWarYears">The Second World War Years (Steve Dean & Colin Parsons)</a></td>
            <td>1.2</td>
            <td>4 Mar 2022</td>
        </tr>
        <tr>
            <td>17</td>
            <td><a href="Chapter17FromTheAshes">From the Ashes (Steve Dean)</a></td>
            <td>1.0</td>
            <td>22 Dec 2017</td>
        </tr>
        <tr>
            <td>18</td>
            <td><a href="Chapter18IntoTheFifties">Into the Fifties (Steve Dean)</a></td>
            <td>1.1</td>
            <td>5 Dec 2021</td>
        </tr>
        <tr>
            <td>19</td>
            <td><a href="Chapter19FromBestToWorstViaHollywood">From Best to Worst, via Hollywood (Steve Dean)</a></td>
            <td>1.2</td>
            <td>13 Jul 2020</td>
        </tr>
</table>
