@page
@model _2003v5.Pages.AudiotitlesModel
@{

}
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Language" content="en-gb">
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <title>Greens on Screen</title>

    <link rel="stylesheet" type="text/css" href="gos2.css">

    <style>
            font-size: 11px;
    </style>

</head>

<body>
    <div style="text-align: center; margin: 36px 0 36px;">
        <font color="#47784D">
            <span style="font-size: 18px">
                <b>Audio Titles</b>
            </span>
        </font>
    </div>
  
   
</body>

</html>

