@page
@model OppositionModel
@{
}
<html>
<table>
    <thead>
        <tr>
            <th>Opposition</th>
            <th>P</th>
            <th>W</th>
            <th>D</th>
            <th>L</th>
            <th>F</th>
            <th>A</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Total</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

</html>
