@page
@model RecordsAndAchievementsModel
@{
}
<!DOCTYPE html PUBLIC "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <meta name="Author" content="Trevor Scallan">
    <meta name="GENERATOR" content="Microsoft FrontPage 6.0">
    <meta name="Author" content="Miguel Relvas">

    <title>Greens on Screen</title>
    <link rel="stylesheet" type="text/css" href="~/css/gos2.css">
    <style>
        <!--
        a:link {
            text-decoration: underline;
        }

        a:visited {
            text-decoration: underline;
        }
        -->
    </style>
</head>
<body>
<!--#include file="top_code.htm"-->
<div id="sv3">
<center>
    <p style="margin-top: 3px; margin-bottom: 3px;">
        <font color="#457b44">
            <span style="font-size: 18px;">RECORDS AND ACHIEVEMENTS</span>
        </font>
    </p>
</center>
<center>
<table style="border-collapse: collapse;" border="0" bordercolor="#111111" cellpadding="0" cellspacing="0" width="945">
<tbody>
<tr>
<td align="center" valign="top" width="225">
    <p align="left">
        <b>
            <font color="#40703f">
                Record League Victory<br>
            </font>8-1
        </b>
        Home to Millwall, Div 2, 16 Jan 1932 and away to Hartlepool United, Div 2, 7 May 1994
    </p>
    <p align="left">
        <b>
            <font color="#40703f">
                Record Cup Victory<br>
            </font>6-0
        </b>Home to Corby Town, FA Cup Round 3, 22 Jan 1966
    </p>
    <p align="left">
        <b>
            <font color="#40703f">
                Record Defeat<br>
            </font>0-9
        </b>
        Away to Stoke City, Div 2, <br>
        17 Dec 1960
    </p>
    <p align="left">
        <b>
            <font color="#40703f">
                Consecutive Wins<br>
            </font>9
        </b>
        (22-3-1930 - 21-4-1930<br>
        and 8-3-1986 - 12-4-1986)
    </p>
    <p align="left">
        <b>
            <font color="#40703f">
                Consecutive Draws<br>
            </font>6
        </b>
        (21-2-1914 - 28-3-1914)
    </p>
    <p align="left">
        <b>
            <font color="#40703f">Consecutive Defeats</font> <br>
            9
        </b>
        (3-11-1945 - 25-12-1945 <br>
        and
        26-4-1947 - 30-8-1947)
    </p>
    <p align="left">
        <b>
            <font color="#40703f">
                Consecutive Undefeated<br>
            </font>25
        </b>(20-4-1929 - 21-12-1929)<br>
        Single season:<br>
        <b>21</b> (31-8-1929 - 21-12-1929)
    </p>
    <p align="left">
        <b>
            <font color="#40703f">
                Consecutive Without a Win<br>
            </font>29
        </b>(7-6-1940 - 19-1-1946)<br>
        Single season: <br>
        <b>27</b> (25-8-1945 - 19-1-1946)
    </p>
    <p align="left">
        'Consecutive' records include all first team competitions.
    </p>
</td>
<td align="center" valign="top" width="495">
    <table style="border-collapse: collapse;" border="0" bordercolor="#111111" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
        <tr>
            <td width="88">
                <p align="center">
                    <img src="images/sv-achievements1.jpg" align="left" border="0">
                </p>
            </td>
            <td>
                <p style="margin-top: 0pt; margin-bottom: 9px;" align="center">
                    <b>
                        <font color="#40703f">
                            Formed:
                        </font> 1886
                    </b> (as Argyle FC)
                </p>
                <p style="margin-top: 0pt; margin-bottom: 9px;" align="center">
                    <b>
                        <font color="#40703f">
                            Professional:
                        </font> 1903
                    </b> (as Plymouth Argyle FC)
                </p>
                <p style="margin-top: 0pt; margin-bottom: 9px;" align="center">
                    <b>
                        <font color="#40703f">
                            Football League:
                        </font> 1920
                    </b>
                </p>
                <p style="margin-top: 0pt; margin-bottom: 0px;" align="center">
                    <b>
                        <font color="#40703f">Tier Seasons:</font> T1:
                    </b>0<b>&nbsp; T2: </b>41&nbsp;
                    <b>T3: </b>43 <b>&nbsp;T4: 12</b>
                </p>
                <p style="margin-top: 0pt; margin-bottom: 9px;" align="center">
                    (complete
                    seasons, excluding 39-40 and current)
                </p>
                <p style="margin-top: 0pt; margin-bottom: 9px;" align="center">
                    <b><font color="#40703f">Best Season:</font> 4th in T2 </b>(1931-32, 1952-53)
                </p>
                <p style="margin-top: 18px; margin-bottom: 0pt;" align="center">
                    <font style="font-size: 13px;" color="#40703f">
                        <b>
                            HONOURS
                        </b>
                    </font>
                </p>
            </td>
            <td width="88">
                <p align="left">
                    <img src="images/sv-achievements2.jpg" align="right" border="0">
                </p>
            </td>
        </tr>
        </tbody>
    </table>
    <table style="border-width: 0pt; border-collapse: collapse;" border="1" bordercolor="#c0c0c0" cellpadding="0" cellspacing="0" cols="2" width="490">
        <tbody>
        <tr>
            <td style="border-style: none; border-width: medium;" align="right" width="165" height="87">
                <p style="margin-left: 12px; margin-top: 0pt; margin-bottom: 0pt;">
                    <font color="#40703f">
                        <b>
                            Football League
                            Tier 3<br>
                        </b>&nbsp;<br>
                        &nbsp;
                    </font>
                </p>
            </td>
            <td style="border-style: none; border-width: medium;" height="87">
                <p style="margin: 0pt 8px 0pt 6px;">
                    <b>D3(S) Champs:</b> 1929-30, 1951-52<br>
                    Runners up (not promoted): 1921-22, 1922-23, 1923-24, 1924-25,
                    1925-26,&nbsp;1926-27
                </p>
                <p style="margin: 0pt 8px 0pt 6px;"><b>D3 Champs:</b> 1958-59</p>
                <p style="margin: 0pt 8px 0pt 6px;">Runners up (promoted): 1974-75, 1985-86 </p>
                <p style="margin: 0pt 8px 0pt 6px;">
                    <b>D2 Champs:</b>
                    <a href="season0304.asp">2003-04</a>
                </p>
            </td>
        </tr>
        <tr>
            <td style="border-style: none; border-width: medium;" align="right" width="165">
                <p style="margin-left: 12px; margin-top: 0pt; margin-bottom: 0pt;">
                    <font color="#40703f">
                        <b>
                            &nbsp;Football
                            League Tier 4
                        </b>
                    </font>
                </p>
            </td>
            <td style="border-style: none; border-width: medium;">
                <p style="margin: 0pt 8px 0pt 6px;">
                    <b>D3 Champs:</b> <a href="season0102.asp">2001-02</a><br>
                    Play-off promotion: 1995-96
                </p>
                <p style="margin: 0pt 8px 0pt 6px;"><b>League Two Champs: </b>Never</p>
                <p style="margin: 0pt 8px 0pt 6px;">Runners up (promoted): 2017-18</p>
                <p style="margin: 0pt 8px 0pt 6px;">Third place (promoted): 2019-20</p>
            </td>
        </tr>
        <tr>
            <td style="border-style: none; border-width: medium;" align="right" width="165">
                <p style="margin-left: 12px; margin-top: 0pt; margin-bottom: 0pt;">
                    <font color="#40703f">
                        <b>
                            FA Cup
                        </b>
                    </font>
                </p>
            </td>
            <td style="border-style: none; border-width: medium;">
                <p style="margin: 0pt 8px 0pt 6px;">
                    <b>Semi Final</b>
                    1984<br>
                    <b>Quarter Final</b> <a href="match200607.asp?team=watford&amp;code=FA606H">2007</a>
                </p>
            </td>
        </tr>
        <tr>
            <td style="border-style: none; border-width: medium;" align="right" width="165">
                <p style="margin-left: 12px; margin-top: 0pt; margin-bottom: 0pt;">
                    <font color="#40703f">
                        <b>
                            League Cup
                        </b>
                    </font>
                </p>
            </td>
            <td style="border-style: none; border-width: medium;">
                <p style="margin: 0pt 8px 0pt 6px;">
                    <b>Semi Final</b>
                    1965, 1974
                </p>
            </td>
        </tr>
        <tr>
            <td style="border-style: none; border-width: medium;" align="right" width="165">
                <p style="margin-left: 12px; margin-top: 0pt; margin-bottom: 0pt;">
                    <font color="#40703f">
                        <b>
                            Southern League
                        </b>
                    </font>
                </p>
            </td>
            <td style="border-style: none; border-width: medium;">
                <p style="margin: 0pt 8px 0pt 6px;">
                    <b>Champs:</b>
                    1912-13 Runners up:1907-08, 1911-12
                </p>
            </td>
        </tr>
        <tr>
            <td style="border-style: none; border-width: medium;" align="right" width="165">
                <p style="margin-left: 12px; margin-top: 0pt; margin-bottom: 0pt;">
                    <font color="#40703f">
                        <b>
                            Western League
                        </b>
                    </font>
                </p>
            </td>
            <td style="border-style: none; border-width: medium;">
                <p style="margin: 0pt 8px 0pt 6px;">
                    <b>D1 Champs: </b>
                    1904-05<br>
                    D1B Runners up: 1906-07
                </p>
            </td>
        </tr>
        <tr>
            <td style="border-style: none; border-width: medium;" align="right" width="165">
                <p style="margin-left: 12px; margin-top: 0pt; margin-bottom: 0pt;">
                    <font color="#40703f">
                        <b>
                            SW Regional League
                        </b>
                    </font>
                </p>
            </td>
            <td style="border-style: none; border-width: medium;">
                <p style="margin: 0pt 8px 0pt 6px;">
                    <b>Champs:</b>
                    1939-40
                </p>
            </td>
        </tr>
        </tbody>
    </table>
</td>
<td align="center" valign="top" width="225">
    <p style="margin-top: 0pt; margin-bottom: 8px;" align="left">
        <font color="#40703F">
            <b>Highest</b>
        </font>
        <b>
            <font color="#40703f">
                League
                Points
            </font>
        </b><br>
        <b>68</b>&nbsp; (2 for a win)<b> - </b>Div 3S 1929-30<br>
        <b>102</b>&nbsp; (3 for a win)<b> - </b><a href="season0102.asp">Div 3 2001-02</a>
    </p>
    <p style="margin-top: 0pt; margin-bottom: 8px;" align="left">
        <b>
            <font color="#40703f">
                Highest Goals in a Season<br>
            </font>
        </b>All comps:
        <font color="#40703f">
            <b> </b>
        </font>
        <b>108 </b>- 1925-26
        <font color="#40703f">
            <b>
                <br>
            </b>
        </font>League:
        <b>107 </b>- 1925-26 and 1951-52
    </p>
    <p style="margin-top: 0pt; margin-bottom: 8px;" align="left">
        <font color="#40703f">
            <b>
                Highest
                Goalscorer in a Season <br>
            </b>
        </font>All comps:
        <b>Jack Cock (33)</b>
        <font color="#40703f">
            <b>
                <br>
            </b>
        </font>League:
        <b>Jack Cock (32) </b>1926-27
    </p>
    <p style="margin-top: 0pt; margin-bottom: 8px;" align="left">
        <b>
            <font color="#40703f">Most Goals</font><br>
        </b>All comps:
        <b>
            Sammy Black (182)
        </b>&nbsp;
        <b>
            <br>
        </b>League:
        <b>Sammy Black (174)</b>&nbsp; 1924-38
    </p>
    <p style="margin-top: 0pt; margin-bottom: 8px;" align="left">
        <font color="#40703f">
            <b>
                Most Appearances<br>
            </b>
        </font>All comps:
        <b>
            Kevin Hodges (620) <br>
        </b>League:
        <b>
            Kevin Hodges (530)
        </b>1978-92
    </p>
    <p style="margin-top: 0pt; margin-bottom: 8px;" align="left">
        <b>
            <font color="#40703f">Record Transfer Fee</font><br>
            Received - £2,250,000
        </b>from Ipswich Town for David Norris - Jan 2008 <br>
        <b>
            Paid - £500,000
        </b>to<b> </b>Cardiff City for Steve MacLean - Jan 2008
    </p>
    <p style="margin-bottom: 8px; margin-top: 0pt;" align="left">
        <font color="#40703f">
            <b>
                Record Attendance <br>
                at Home Park
            </b>
        </font> <br>
        <b>Overall - 43,596</b> v A. Villa, 1936<br>
        <b>Cup - 43,426*</b> v Huddersfield, 1934. *Match reports say 44,526, but this
        was corrected in later club documents.
    </p>
</td>
</tr>
</tbody>
</table>
<table style="border-collapse: collapse;" border="0" bordercolor="#111111" cellpadding="0" cellspacing="0" width="1000">
    <tbody>
    <tr>
        <td colspan="5" valign="top">
            <p style="margin-top: 0pt; margin-bottom: 0pt;" align="center">
                <font color="#40703f">
                    <b>
                        &nbsp;
                        --------------------------------------------------------------&nbsp; Player of
                        the Season&nbsp; --------------------------------------------------------------
                    </b>
                </font>
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top" width="196">
            1965-66&nbsp;Johnny Newman&nbsp; <br>
            1966-67&nbsp;Norman Piper&nbsp; <br>
            1967-68 Pat Dunne&nbsp; <br>
            1968-69 David Burnside&nbsp; <br>
            1969-70 Derek Rickard&nbsp; <br>
            1970-71 Jim Furnell&nbsp; <br>
            1971-72&nbsp;Dave Provan&nbsp; <br>
            1972-73 Neil Hague&nbsp; <br>
            1973-74 Ernie Machin&nbsp; <br>
            1974-75 Paul Mariner&nbsp; <br>
            1975-76 Paul Mariner&nbsp;
        </td>
        <td valign="top" width="196">
            1976-77 Neil Ramsbottom&nbsp; <br>
            1977-78 George Foster&nbsp; <br>
            1978-79 Fred Binney&nbsp; <br>
            1979-80 George Foster&nbsp; <br>
            1980-81 David Kemp&nbsp; <br>
            1981-82 John Sims&nbsp; <br>
            1982-83 Gordon Nisbet&nbsp;<br>
            1983-84 Gordon Staniforth&nbsp; <br>
            1984-85&nbsp;Tommy Tynan&nbsp; <br>
            1985-86 Kevin Hodges&nbsp; <br>
            1986-87 Tommy Tynan&nbsp;
        </td>
        <td valign="top" width="196">
            1987-88 Steve Cherry&nbsp; <br>
            1988-89 Tommy Tynan&nbsp; <br>
            1989-90 Nicky Marker&nbsp; <br>
            1990-91&nbsp;Kenny Brown&nbsp; <br>
            1991-92&nbsp;Dwight Marshall <br>
            1992-93&nbsp;Steve McCall&nbsp; <br>
            1993-94&nbsp;Steve McCall&nbsp; <br>
            1994-95&nbsp;Marc Edworthy&nbsp; <br>
            1995-96&nbsp;Mick Heathcote&nbsp;<br>
            1996-97 Chris Billy&nbsp; <br>
            1997-98&nbsp;Martin Barlow &amp; Carlo Corazzin
        </td>
        <td valign="top" width="209">
            1998-99&nbsp;Mick Heathcote&nbsp; <br>
            1999-2000&nbsp;Paul McGregor&nbsp; <br>
            2000-01&nbsp;Wayne O'Sullivan&nbsp; <br>
            2001-02&nbsp;Graham Coughlan&nbsp;<br>
            2002-03&nbsp;Paul Wotton&nbsp; <br>
            2003-04 Mickey Evans<br>
            2004-05&nbsp;Paul Wotton&nbsp; <br>
            2005-06&nbsp;David Norris&nbsp; <br>
            2006-07&nbsp;Lilian Nalis<br>2007-08 Krisztian Timar<br>2008-09 Romain Larrieu<br>2009-10 Carl Fletcher
        </td>
        <td valign="top" width="209">
            2010-11 Carl Fletcher<br>
            2011-12 Maxime Blanchard<br>
            2012-13 Onismor Bhasera<br>
            2013-14 Reuben Reid<br>
            2014-15 Luke McCormick<br>
            2015-16 Graham Carey<br>
            2016-17 Sonny Bradley<br>
            2017-18 Graham Carey<br>
            2018-19 Ruben Lameiras<br>
            2019-20 Antoni Sarcevic<br>
            2020-21 Joe Edwards<br>
            2021-22 Mike Cooper
        </td>
    </tr>
    </tbody>
</table>
<table style="border-collapse: collapse;" border="0" bordercolor="#111111" cellpadding="0" cellspacing="0" width="1000">
<tbody>
<tr>
    <td colspan="3" align="center" valign="top" width="567">
        <p style="margin-top: 9px; margin-bottom: 0pt;">
            <font color="#40703f">
                <b>
                    -------------------------------&nbsp;
                    Hat-tricks and more&nbsp; -------------------------------
                </b>
            </font>
        </p>
    </td>
    <td colspan="2" align="center" valign="top" width="378">
        <p style="margin-top: 9px; margin-bottom: 0pt;" align="center">
            <font color="#40703f">
                <b>
                    ---------&nbsp; Leading Goalscorer&nbsp;
                </b>
            </font>(all competitions)
            <font color="#40703f">
                <b>&nbsp; ---------</b>
            </font>
        </p>
    </td>
</tr>
<tr>
<td valign="top" width="194">
    <font color="#40703f">
        <b>
            5 in a game<br>
        </b>
    </font>31-10-06 Herbert Swann <br>
    27-12-60 Wilf Carter
    <p>
        <b>
            <font color="#40703f">
                4 in a game <br>
            </font>
        </b>
        29-03-13 Fred Burch <br>
        07-11-14 Bert Bowler <br>
        03-02-23 Frank Richardson<br>
        16-01-26 Jack Cock<br>
        27-08-27 Freddie Forbes<br>
        21-12-29 Tommy Grozier<br>
        19-04-30 Jack Vidler<br>
        17-10-31 Jack Leslie <br>
        04-01-36 Sammy Black<br>
        03-02-40 Jackie Smith<br>
        14-10-50 Maurice Tadman<br>
        18-11-50 Maurice Tadman<br>
        15-10-66 Mike Bickle<br>
        26-12-69 Mike Bickle<br>
        05-11-88 Tommy Tynan
    </p>
    <p>
        <b>
            <font color="#40703f">
                3 in a game<br>
            </font>
        </b>05-12-03 Wattie Anderson<br>
        14-09-04 Bill Cox<br>
        08-10-04 Jack Picken<br>
        12-10-04 J. McLuckie<br>
        19-10-04 Jack Picken<br>
        09-09-05 Freddie Buck<br>
        13-01-06 Harry Wilcox<br>
        29-09-06 Thomas McKenzie<br>
        10-03-09 Tommy Hakin<br>
        16-12-11 John Boden<br>
        13-04-12 John Boden<br>
        16-11-12 Bert Bowler<br>
        08-03-13 Fred Burch<br>
        17-01-14 Fred Burch<br>
        23-01-15 Fred Burch<br>
        27-08-21 Frank Richardson<br>
        31-12-21 Frank Richardson<br>
        28-01-22 Frank Richardson<br>
        30-03-23 Jack Fowler<br>
        22-03-24 John Smith<br>
        03-05-24 Frank Sloan<br>
        20-09-24 Bert Batten<br>
        27-12-24 Sammy Black<br>
        10-04-25 Jack Leslie<br>
        29-08-25 Jack Cock<br>
        18-09-26 Jack Cock<br>
        05-02-27 Jack Cock<br>
        12-02-27 Jack Leslie<br>
        31-08-27 Frank Sloan<br>
        29-10-27 Freddie Forbes<br>
        28-01-28 Norman Mackay<br>
        17-03-28 Percy Richards<br>
        12-01-29 Sammy Black<br>
        29-03-29 Percy Richards<br>
        26-10-29 Raymond Bowden<br>
        18-12-29 Jack Vidler<br>
        05-04-30 Jack Vidler<br>
        31-01-31 Jack Vidler<br>
        02-05-31 Tommy Grozier<br>
        12-09-31 Jack Leslie<br>
        05-12-31 Raymond Bowden
    </p>
</td>

<td valign="top" width="194">
    <font color="#40703f">... 3 in a game (cont.)<br></font>
    26-12-31 Jack Vidler<br>
    16-01-32 Jack Vidler<br>
    08-10-32 Sammy Black<br>
    07-10-33 Eugene Melaniphy<br>
    29-08-34 Jack Vidler<br>
    12-10-35 Sammy Black<br>
    05-09-36 Jackie Smith<br>
    07-05-38 Bill Hullett<br>
    31-08-38 Bill Hullett<br>
    17-09-38 Bill Hullett<br>
    21-01-39 Fred Mitcheson<br>
    28-10-39 Pat Glover<br>
    03-02-40 Leonard Townsend<br>
    24-02-40 Leonard Townsend<br>
    09-03-40 Bill Archer<br>
    13-05-40 Len Rich<br>
    25-08-45 Ron Brown<br>
    02-02-46 Ron Brown<br>
    19-04-47 Bob Thomas<br>
    10-04-48 Ernie Edds<br>
    25-11-50 Maurice Tadman<br>
    22-12-51 Maurice Tadman<br>
    27-03-54 Neil Langman<br>
    11-02-56 Neil Langman<br>
    02-02-57 Neil Langman<br>
    04-09-57 Neil Langman<br>
    07-12-57 Wilf Carter<br>
    14-12-57 Wilf Carter<br>
    15-02-58 Wilf Carter<br>
    02-10-58 Peter Anderson<br>
    18-10-58 Wilf Carter<br>
    19-11-58 Barrie Meyer<br>
    28-02-59 Jimmy Gauld<br>
    03-10-59 Wilf Carter<br>
    17-09-60 George Kirby<br>
    04-03-61 Wilf Carter<br>
    27-10-62 Wilf Carter<br>
    06-04-63 Peter McParland<br>
    11-11-64 Frank Lord<br>
    11-09-65 Mike Trebilcock<br>
    22-01-66 Mike Bickle<br>
    10-09-66 Richard Reynolds<br>
    21-03-70 Derek Rickard<br>
    08-01-72 Derek Rickard<br>
    07-09-74 Billy Rafferty<br>
    23-09-78 Fred Binney<br>
    06-09-80 David Kemp<br>
    26-12-84 Tommy Tynan<br>
    17-09-88 Tommy Tynan<br>
    16-04-90 Sean McCarthy<br>
    18-01-92 Dwight Marshall<br>
    06-02-93 Kevin Nugent<br>
    12-04-93 Steve Castle<br>
    20-11-93 Dwight Marshall<br>
    17-12-93 Steve Castle<br>
    07-05-94 Richard Landon<br>
    21-10-95 Adrian Littlejohn<br>
    30-03-99 Steve Guinan<br>
    14-11-99 Paul McGregor<br>
    25-03-00 Paul McGregor<br>
    03-01-04 David Friio
</td>
<td valign="top" width="194">
    <font color="#40703f">... 3 in a game (cont.)<br></font>
    18-02-06 Vincent Pericard<br>
    20-11-13 Reuben Reid <br>
    21-02-15 Reuben Reid<br>
    08-02-22 Ryan Hardie
</td>

<td valign="top" width="200">
    <p style="margin-top: 0pt;">
        1903-04 Jack Peddie - 21<br>
        1904-05 Jack Picken - 29<br>
        1905-06 Harry Wilcox - 25<br>
        1906-07 Herbert Swann - 15<br>
        1907-08 Harry Ingham - 14<br>
        1908-09 Tommy Hakin - 17<br>
        1909-10 Jimmy Hindmarsh - 16<br>
        1910-11 Harry Raymond - 12<br>
        1911-12 John Boden - 20<br>
        1912-13 Freddie Burch - 30<br>
        1913-14 Freddie Burch - 14<br>
        1914-15 Freddie Burch - 15<br>
        1919-20 Billy Kellock - 13<br>
        1920-21 Harry Raymond - 7<br>
        1921-22 Frank Richardson - 31<br>
        1922-23 Jack Fowler - 17<br>
        1923-24 Percy Cherrett - 27<br>
        1924-25 Jack Leslie - 14<br>
        1925-26 Jack Cock - 32<br>
        1926-27 Jack Cock - 33<br>
        1927-28 Sammy Black - 16<br>
        1928-29 Ray Bowden, Jack<br>
        &nbsp; Leslie - 22<br>
        1929-30 Sammy Black - 24<br>
        1930-31 Sammy Black - 19<br>
        1931-32 Ray Bowden, Jack<br>
        &nbsp; Leslie - 21<br>
        1932-33 Sammy Black - 13<br>
        1933-34 Jimmy Cookson - 28<br>
        1934-35 Jack Vidler - 21<br>
        1935-36 Sammy Black - 16<br>
        1936-37 Jack Connor - 17<br>
        1937-38 Bill Hullett - 10<br>
        1938-39 Bill Hullett - 10<br>
        1939-40 Jackie Smith - 13<br>
        1945-46 Ron Brown - 17<br>
        1946-47 Dave Thomas - 19<br>
        1947-48 Ernie Edds - 14<br>
        1948-49 Maurice Tadman - 15<br>
        1949-50 Bill Strauss - 10<br>
        1950-51 Maurice Tadman - 26<br>
        1951-52 Maurice Tadman - 27<br>
        1952-53 Maurice Tadman - 15<br>
        1953-54 Maurice Tadman - 12<br>
        1954-55 Peter Anderson, Eric<br>
        &nbsp; Davis, Johnny Porteous - 8<br>
        1955-56 Neil Langman - 9<br>
        1956-57 Neil Langman - 18<br>
        1957-58 Wilf Carter - 32<br>
        1958-59 Wilf Carter - 25<br>
        1959-60 Wilf Carter - 22<br>
        1960-61 Wilf Carter - 28<br>
        1961-62 Wilf Carter - 20<br>
        1962-63 Wilf Carter - 14<br>
        1963-64 Frank Lord - 8<br>
        1964-65 Frank Lord, Mike<br>
        &nbsp; Trebilcock - 17<br>
        1965-66 Mike Trebilcock - 12<br>
        1966-67 Mike Bickle - 13<br>
        1967-68 Mike Bickle - 10<br>
        1968-69 Mike Bickle - 12<br>
        1969-70 Mike Bickle - 18
    </p>
</td>
<td valign="top" width="218">
    <p style="margin-top: 0pt;">
        1970-71 Don Hutchins - 11<br>
        1971-72 Derek Rickard - 14<br>
        1972-73 Alan Welsh - 13<br>
        1973-74 Paul Mariner - 19<br>
        1974-75 Billy Rafferty - 26<br>
        1975-76 Paul Mariner- 16<br>
        1976-77 Brian Hall - 10<br>
        1977-78 Terry Austin - 13<br>
        1978-79 Fred Binney - 28<br>
        1979-80 Dave Kemp - 15<br>
        1980-81 Dave Kemp - 28<br>
        1981-82 John Sims - 19<br>
        1982-83 Kevin Hodges - 14<br>
        1983-84 Tommy Tynan - 20<br>
        1984-85 Tommy Tynan - 32<br>
        1985-86 Kevin Hodges - 16<br>
        1986-87 Tommy Tynan - 20<br>
        1987-88 Tommy Tynan - 19<br>
        1988-89 Tommy Tynan - 26<br>
        1989-90 Tommy Tynan - 18<br>
        1990-91 Robbie Turner - 14<br>
        1991-92 Dwight Marshall - 15<br>
        1992-93 Steve Castle, Paul Dalton, <br>
        &nbsp; Kevin Nugent - 13<br>
        1993-94 Steve Castle - 22<br>
        1994-95 Richard Landon, Kevin<br>
        &nbsp; Nugent - 7<br>
        1995-96 Adrian Littlejohn - 18<br>
        1996-97 Mickey Evans - 15<br>
        1997-98 Carlo Corrazin - 17<br>
        1998-99 Dwight Marshall - 12<br>
        1999-00 Paul McGregor - 16<br>
        2000-01 Ian Stonebridge - 12<br>
        2001-02 Graham Coughlan, David<br>
        &nbsp; Friio - 11<br>
        2002-03 Marino Keith - 12<br>
        2003-04 David Friio - 15<br>
        2004-05 Paul Wotton - 13<br>
        2005-06 Paul Wotton - 9<br>
        2006-07 Barry Hayles - 14<br>
        2007-08 Sylvan Ebanks-Blake - 13<br>
        2008-09 Paul Gallagher - 13<br>
        2009-10 Jamie Mackie - 8<br>
        2010-11 Bradley Wright-Phillips - 13<br>
        2011-12 Simon Walton - 8<br>
        2012-13 Jason Banton - 6<br>
        2013-14 Reuben Reid - 21<br>
        2014-15 Reuben Reid - 20<br>
        2015-16 Jake Jervis - 14<br>
        2016-17 Graham Carey - 15<br>
        2017-18 Graham Carey - 16<br>
        2018-19 Freddie Ladapo - 19<br>
        2019-20 Antoni Sarcevic - 11<br>
        2020-21 Luke Jephcott - 18<br>
        2021-22 Ryan Hardie - 19
    </p>
</td>
</tr>
</tbody>
</table>
</center>
</div><!--#include file="base_code.htm"-->
</body>
</html>