@page
@model _2003v5.Pages.ScoreCountsModel
@{
}
<link rel="stylesheet" type="text/css" href="gos2.css">
<head>
<style>
    <!--
    #table1 td {
        border: 1px solid #c0c0c0;
        margin: 0;
        white-space: nowrap;
    }

    #table2 td {
        border-bottom: 1px solid #c0c0c0;
        margin: 0;
        padding: 4px;
        white-space: nowrap;
    }

        #table2 td a {
            padding: 3px;
            margin: 0
        }

    #scorelist {
        margin: 15px auto
    }

    .score {
        min-width: 30px;
        text-align: right;
        background-color: #e0f0e0;
        padding: 3px 2px 3px 4px;
    }

    .score-never {
        min-width: 30px;
        text-align: right;
        background-color: #f4f4f4;
        padding: 3px 2px 3px 4px;
    }

    .scorecount {
        width: 24px;
        text-align: right;
        padding: 3px 4px 3px 2px;
    }

    .dummycell {
        width: 3px;
        border-top-style: none !important;
        border-bottom-style: none !important;
    }

    .hover {
        color: #000000;
        background-color: #c8e0c7 !important;
        cursor: pointer;
        font-weight: 700;
    }

    .right {
        text-align: right;
    }

    .nowrap {
        white-space: nowrap;
    }

        .nowrap .noverticalborder {
            border-left: 0px none;
            border-right: 0px none;
        }
    -->
</style>
</head>
<body>
<center>
        <table border="0" cellspacing="0" style="margin:auto; border-collapse: collapse" cellpadding="0" width="980">
            <tr>
                <td width="260" valign="top" style="text-align:center;">
                    <p style="text-align: center; margin-top:0; margin-bottom:3">
                        <a href="gosdb"><font color="#404040"><img border="0" src="images/gosdb-small.jpg" align="left"></font></a><font color="#404040">
                            <b>
                                <font style="font-size: 15px">
                                    Search by<br>
                                </font>
                            </b><span style="font-size: 15px"><b>Player</b></span>
                        </font>
                    <p style="text-align: center; margin-top:0; margin-bottom:0">
                        <b>
                            <a href="gosdb">Back to<br>GoS-DB Hub</a>
                        </b>
                    </p>
                </td>

                <td width="460" align="center" style="text-align: center" valign="top">
                    <p style="margin:12px 0 0; text-align:center; font-size:18px; color:#006E32">MISCELLANEOUS REPORTS</p>
                    <p style="margin:6px 0; text-align:center; font-size:13px">
                        <b>Report 11: Score Counts</b>
                    </p>
                </td>

                <td width="260" valign="top" align="justify">
                    <span style="font-size: 10px">
                        'Miscellaneous Reports' is an ever-growing collection of pages that reflect
                        broad aspects of Argyle's playing history. If you have an idea for another,
                        please get in touch.
                    </span>
                </td>
            </tr>
        </table>
</center>
</body>