@page
@model ShowChaptersModel
@{
}
<ul>
    <li><a href="Chapter1InTheBeginning">1886-90: In the Beginning</a></li>
    <li><a href="Chapter2FromStruggleToDemise">1890-95: From Struggle to Demise</a></li>
    <li><a href="Chapter3RisingFromThePhoenix">1895-99: Rising from the Phoenix</a></li>
    <li><a href="Chapter4TheArgyleAthleticUmbrella">1899-00: The Argyle Athletic Umbrella</a></li>
    <li><a href="Chapter5HomeParkHome">1900-01: Home Park Home</a></li>
    <li><a href="Chapter6TheArgyleAffair">1901-02 (1): The Argyle Affair</a></li>
    <li><a href="Chapter7TheBigBoysComeToTown">1901-02 (2): The Big Boys Come to Town</a></li>
    <li><a href="Chapter8ArgyleFCBecomesSemiprofessional">1902-03 (1): Argyle FC Becomes Semi-Pro</a></li>
    <li><a href="Chapter9TheBirthOfPlymouthArgyle">1902-03 (2): Birth of Plymouth Argyle</a></li>
    <li><a href="Chapter10ArgyleFCsFinalTriumph">1902-03 (3): Argyle FC's Final Triumph</a></li>
    <li><a href="Chapter11PlymouthArgylesEarlyYears">1903-10: Plymouth Argyle's Early Years</a></li>
    <li><a href="Chapter12ArgyleAndTheGreatWar">1910-20: Argyle and the Great War</a></li>
    <li><a href="Chapter13IntoTheFootballLeague">1920-30: Into the Football League</a></li>
    <li><a href="Chapter14LifeInTheSecondDivision">1930-34: Life in the Second Division</a></li>
    <li><a href="Chapter15TheEndOfAnEra">1934-39: The End of an Era</a></li>
    <li><a href="Chapter16TheSecondWorldWarYears">1939-45: The Second World War Years</a></li>
    <li><a href="Chapter17FromTheAshes">1945-50: From the Ashes</a></li>
    <li><a href="Chapter18IntoTheFifties">1950-53: Into the Fifties</a></li>
    <li><a href="Chapter19FromBestToWorstViaHollywood">1953-57: From Best to Worst, via Hollywood</a></li>
</ul>
