@page
@model ShowReportsModel
@{
}
<ol>
    <li><a href="CompetitionTotals">Competition Totals</a></li>
    <li><a href="ConsecutiveResults">Consecutive Results</a></li>
    <li><a href="AttendanceHighsAndLows">Attendance Highs and Lows</a></li>
    <li><a href="TopSubstitutes">Top Substitutes</a></li>
    <li><a href="YoungestAndOldest">Youngest and Oldest</a></li>
    <li><a href="BestAndWorstStarts">Best and Worst Starts</a></li>
    <li><a href="FootballLeagueRecordByDecade">Football League by Decade</a></li>
    <li><a href="FootballLeagueByCalendarYear">Football League by Calendar Year</a></li>
    <li><a href="SuccessRankingsByOpposition">Success Rankings by Opposition</a></li>
    <li><a href="GoalscorersBySeason">Goalscorers by Season</a></li>
    <li><a href="ScoreCounts">Score Counts</a></li>
    <li><a href="ConsecutiveAppearances">Consecutive Appearances</a></li>
</ol>
