@page
@model GoSWeb.Pages.teampic86_87Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic85-86">&lt; 1985-86</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1986-87</div>
        <div class="head3"><a href="teampic87-88">1987-88 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1986-87a.jpg">
        <p class="caption">
            <i>Back row:</i> D. Smith, J. Matthews, J. Uzzell, H. Lim, G. Nisbet, G. Crudgington, K. Summerfield, C. Goodyear, M. Musgrove
        </p><p class="caption">
            <i>Front row:</i> D. Rowbotham, L. Cooper, J. Clayton, G. McElhinney, S. Cooper, G. Nelson, K. Hodges, R. Coughlin, A. Burrows
        </p>
    </div>
    <div class="image">
        <img src="images/1986-87.jpg">
        <p class="caption">
            <i>Back row: </i>D. Smith, S. Cooper, G. Nelson, G. Nisbet, G. McElhinney, S. Cherry, G. Crudgington, K. Summerfield, J. Matthews, N. Law, J. Clayton, S. Houston, M. Musgrove
        </p><p class="caption">
            <i>Front row:</i> E. McElhinney, L. Cooper, K. Hodges, A. Burrows, T. Tynan, R. Coughlin, D. Rowbotham, J. Uzzell, C. Goodyear
        </p>
    </div>
</div>