@page
@model GoSWeb.Pages.teampic02_03Model
@{
}

<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic00-01">&lt; 1900-01</a></div>
        <div class="head2">ARGYLE FC 1902-03</div>
        <div class="head3"><a href="teampic03-04">1903-04 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1902-03.jpg">
        <p class="caption" style="margin-bottom: 15px">
            This photograph, taken at the end of the 1902-03 season, is the last known image of the  Argyle Football Club, winners in their final season of the Devon Senior League Cup (left) and the Devon Senior Cup (right).
        </p><p class="caption">
            <i>Back row: </i>Charles W. Bishop (Hon. Secretary), John 'Percy' Hooper, Percy N. Buchan, Sid J. Wyatt (Captain), John 'Jack' Jaques (Committee)
        </p><p class="caption">
            <i>Middle row: </i>Robert Wilson (Trainer), John 'Jack' Vivian, Tommy Broad, Clifton Pethick (Vice-Captain), Vic Matters, William O. Cleminson, Clifford Vivian (Trainer)
        </p><p class="caption">
            <i>Front row: </i>Archie Wheaton, Earnest J. Moore, Charlie Hare (Professional Coach), Johnny Andrews, William 'Jacko' Matters
        </p>
    </div>
</div>