@page
@model GoSWeb.Pages.teampic2009_10Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic2008-09">&lt; 2008-09</a></div>
        <div class="head2">PLYMOUTH ARGYLE 2009-10</div>
        <div class="head3"><a href="teampic2010-11">2010-11 &gt;</a></div>
    </div>
    <p style="margin-bottom: 0; margin-top:12px"><b><span style="font-size: 12px">September 2009</span></b></p>
    <div class="image">
        <img border="0" src="images/2009-2010.jpg">
        <p class="caption">
            <i>Back Row:</i>S. Meddleton, D. McNamee, G. Sawyer, J. Paterson, M. Seip, K. Letheren, R. Larrieu, L. Saxton, L. Head, J. Chester, J. Mackie, D. Gray, S. Russell
        </p><p class="caption">
            <i>Middle Row:</i>M. Opie, B. Kilroy, Y. Folly, K. Timar, K. Arnason, R. Fallon, B. Gerring, R. Johnson, C. Sheridan, R. Brett. A. Gow, A. Barnes, G. Crudgington, P. Maxwell
        </p><p class="caption"><i>Front Row:</i>S. MacLean, A. Judge, B. Wright-Phillips, K. Duguid, C. Fletcher, K. Summerfield, P. Sturrock, J. Blackley, J. Mason, C. Clark, D. Blake, S. Lowry</p>
    </div>
    <p style="margin-top: 12px; margin-bottom: 0"><b><span style="font-size: 12px">March 2010</span></b></p>
    <div class="image">
        <img border="0" src="images/2009-10a.jpg">
        <p class="caption">
            <i>Back Row:</i> G. Sawyer, D. McNamee, L. Summerfield, L. Saxton, R. Larrieu, D. Stockdale, J. Mackie, Y. Bolasie, J. Mason
        </p><p class="caption">
            <i>Middle Row:</i>P. Atkinson, B. Wright-Phillips, R. Leonard, K. Timar, K. Arnason, K. Cooper, Reda Johnson, C. Barker, L. Head, R. Eckersley, G. Crudgington
        </p><p class="caption"><i>Front Row:</i>C. Turner, A. Judge, S. Kinsella, C. Noone, J. Carver, C. Fletcher, P. Mariner, K. Duguid, C. Clark, Damien Johnson, S. Russell</p>
    </div>
</div>