@page
@model GoSWeb.Pages.teampic56_57Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic55-56">&lt; 1955-56</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1956-57</div>
        <div class="head3"><a href="teampic57-58">1957-58 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1956-57.jpg">
        <p class="caption">
            <i>Back row: </i>R. Mallett, R. Mitchell, P. Dyer, L. Major, J. Cahill, P. Langman, G. Robertson, R. Wyatt
        </p><p class="caption">
            <i>Middle row</i>: G. Taylor, W. Strauss, M. Kimberley, J. Penny, D. Hancock, C. Dougall, P. Jones, R. Tilley, A. Kerr, G. Reed
        </p><p class="caption">
            <i>Front row:</i> R. Swiggs, E. Davis, M. Davies, J. Williams, N. Langman, A. Cole, J. Rowley, K. Mitchell, P. Anderson, A. Morgan, A. Ankers, C. Twissell
        </p>
    </div>
</div>