@page
@model GoSWeb.Pages.teampic30_31Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic29-30">&lt; 1929-30</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1930-31</div>
        <div class="head3"><a href="teampic31-32">1931-32 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1930-31.jpg">
        <p class="caption">
            <i>Back row: </i>R. Bowden, A. Thompson, F. Cosgrove, H. Bland, H. Cann, G. Stanbury, F. Titmuss, W. Price, F. Voden
        </p><p class="caption">
            <i>Middle row:</i> S. Atterbury, I. Mackay, N. Mackay, W. Fellowes, F. McKenzie, J. Pullen, A. Hardie, T. Haynes
        </p><p class="caption">
            <i>Front row:</i> A. Matthews, J. Healy, T. Grozier, F. Sloan, J. Vidler, J. Leslie, S. Black, J. Prentice, J. Leitch
        </p>
    </div>
</div>