@page
@model GoSWeb.Pages.teampic85_86Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic84-85">&lt; 1984-85</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1985-86</div>
        <div class="head3"><a href="teampic86-87">1986-87 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1985-86b.jpg">
        <p class="caption">
            <i>Back row: </i>T. Tynan, K. Summerfield, J. Clayton, G. Crudgington, D. Philp, J. Matthews, G. Nisbet, G. McElhinney
        </p><p class="caption">
            <i>Front row:</i> A. Burrows, J. Uzzell, K. Hodges, D. Rowbotham, M. Harvey, D. Smith, G. Nelson, R. Coughlin, L. Cooper
        </p><p class="caption">
            <i>Kneeling:</i> S. Cooper, C. Goodyear
        </p>
    </div>
    <div class="image">
        <img src="images/1985-86.jpg">
        <p class="caption">
            <i>Back row: </i>G. Nelson, A. Burrows, C. Goodyear, D. Philp, G. McElhinney, G. Crudgington, K. Summerfield, J. Brimacombe, J. Uzzell
        </p><p class="caption">
            <i>Front row:</i> G. Staniforth, K. Hodges, L. Cooper, D. Rowbotham, D. Smith, R. Coughlin, C. Harrison, G. Nisbet, M. Harvey
        </p><p class="caption">
            <i>Seated:</i> J. Spear, D. Francis-Long, S. Daly, P. Edwards
        </p>
    </div>
    <div class="image">
        <img src="images/1985-86a.jpg">
    </div>
</div>