@page
@model GoSWeb.Pages.teampic48_49Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic47-48">&lt; 1947-48</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1948-49</div>
        <div class="head3"><a href="teampic49-50">1949-50 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1948-49.jpg">
        <p class="caption">
            <i>Back row: </i>G. Silk, S. Dixon, P. Jones, T. Harris, G. Wright, W. Shortt, R. Goddard, N. Pengelly, D. Nail
        </p><p class="caption">
            <i>Second row:</i> G. Hackworthy, J. Oakes, S. Rundle, A. Machin, L. Jones, J. Buist, L. Boyd, M. Tadman, B. Greenaway, J. Hartery, A. Gorman, B. Harper
        </p><p class="caption">
            <i>Third row:</i> P. Ratcliffe, G. Astall, A. Cole, J. C. Tozer, J. Rae, O. Hatherley, W. Strauss
        </p><p class="caption">
            <i>Front row:</i> E. Edds, F. Squires, T. Jones, J. Mullholland, G. Taylor, R. Stuart
        </p>
    </div>
    <div class="image">
        <img src="images/1948-49a.jpg">
        <p class="caption">
            <i>Back row: </i>A. Machin, P. Jones, B. Shortt, L. Jones, G. Dews, G. Silk
        </p><p class="caption">
            <i>Front row:</i> G. Astall, E. Edds, R. Goddard, M. Tadman, P. Blatchford
        </p>
    </div>
</div>