@page
@model GoSWeb.Pages.teampic96_97Model
@{
}
<div id="teampic">
<div class="head">
<div class="head1"><a href="teampic95-96">&lt; 1995-96</a></div>
<div class="head2">PLYMOUTH ARGYLE 1996-97</div>
<div class="head3"><a href="teampic97-98">1997-98 &gt;</a></div>
</div>
<div class="image">
<img src="images/1996-97.jpg">
<p class="caption"><i>Back row: </i>C. Curran, T. James, M. Heathcote, K. Blackwell, B. Grobbelaar, R. Logan, P. Wotton, D. O'Hagan
</p><p class="caption"><i>Middle row:</i> M. Jones, M. Evans, C. Billy, G. Clayton, J. Dungey, M. Patterson, R. Mauge, M. Saunders, N. Medhurst
</p><p class="caption"><i>Front row:</i> C. Corrazin, P. Williams, C. Leadbitter, N. Warnock, D. McCauley, M. Barlow, A. Liitlejohn, N. Illman
</p></div>
</div>