@page
@model GoSWeb.Pages.teampic88_89Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic87-88">&lt; 1987-88</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1988-89</div>
        <div class="head3"><a href="teampic89-90">1989-90 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1988-89.jpg">
        <p class="caption">
            <i>Back row: </i>J. Brimacombe, N. Marker, S. Evans, G. Penhaligon, G. Crudgington, S. Cherry, M. Smith, A. Morrison
        </p><p class="caption">
            <i>Middle row:</i> S. Casey, O. Pickard, T. Tynan, J. Uzzell, A. Burrows, D. Anderson, K. Summerfield
        </p><p class="caption">
            <i>Front row:</i> K. Hodges, L. Cooper, J. Matthews, M. Musgrove, K. Brown, M. Harvey, S. McCarthy, K. Brown, J. Rowbotham
        </p>
    </div>
    <div class="image">
        <img src="images/1988-89a.jpg">
    </div>
</div>