@page
@model GoSWeb.Pages.teampic2021_22Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic2020-21">&lt; 2020-21</a></div>
        <div class="head2">PLYMOUTH ARGYLE 2021-22</div>
        <div class="head3"><a href="teampic2022-23">2022-23&gt;</a></div>
    </div>
    <div class="image">
        <img border="0" src="images/2021-2022.jpg">
        <p class="caption">
            <i>Back Row: </i>Nick Fulton (head physiotherapist), Dave Galley (physiotherapist), Ollie Tomlinson, Macauley Gillesphey, Ryan Hardie, Panutche Camara, Brendan Galloway, Jordan Houghton, Conor Grant, Brandon Pursall, Jimmy Dickenson (first
            team analyst).
        </p><p class="caption">
            <i>Middle Row: </i>Pete Pollak (club doctor), Darren Behcet (goalkeeping coach), George Cooper, Dan Scarr, Luke McCormick, Michael Cooper, Callum Burton, James Wilson, Ryan Law, Sean
            Porter-Nail (assistant kit man), Neil Lunno
            (kit man).
        </p><p class="caption">
            <i>Front Row: </i>Abner Bruzzichessi (sports therapist), John Lucas (fitness and
            conditioning coach), Ryan Broom, Luke Jephcott, Danny Mayor, Ryan Lowe (manager), Steven Schumacher (assistant manager), Joe Edwards (captain), Nial Ennis, Adam Randell, Kevin Nancekivell (first
            team coach), Sam Morcom (analyst).
        </p>
    </div>
</div>