@page
@model GoSWeb.Pages.teampic97_98Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic96-97">&lt; 1996-97</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1997-98</div>
        <div class="head3"><a href="teampic98-99">1998-99 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1997-98a.jpg">
        <p class="caption">
            <i>Back row: </i>G. Clayton, J. Ashton, P. Wotton, S. Perkins, M. Heathcote, T. James, S. Collins, J. Beswetherick, K. Summerfield
        </p><p class="caption">
            <i>Middle row: </i>N. Medhurst, G. Anthony, J. Rowbotham, M. Patterson, C. Billy, J. Sheffield, J. Dungey, M. Saunders, R. Mauge, R. Bushby, C. Leadbitter, K. Blackwell
        </p><p class="caption">
            <i>Front row: </i>K. Francis, C. Corrazin, E. Jean, N. Illman, M. Jones, D. McCauley, A. Littlejohn, P. Williams, M. Barlow, A. Sargent
        </p>
    </div>
    <div class="image">
        <img src="images/1997-98.jpg">
    </div>
    <!--client forgot this line of code, it doesn't work has a result-->
    <div class="image">
        <img the same picture from a different angle <div>
    </div>
</div>