@page
@model GoSWeb.Pages.teampic12_13Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic11-12">&lt; 1911-12</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1912-13</div>
        <div class="head3"><a href="teampic13-14">1913-14 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1912-13.jpg">
        <p class="caption">
            <i>Back row:</i> L. Crabb (secretary), J. Hutchison, J. Butler, W.
            Horne, S. Atterbury, F. Craig, W. Forbes, W. Baker.
        </p><p class="caption">
            <i>Middle row:</i> T. Haynes (Trainer), W. Sutherland, A. Peard, W. Litt, J.
            McCormick, G. Malcolm, A. Tainsh, M. Thom,
            J. Paltridge, F. Worden, A. Wheaton (assistant trainer), R. Jack (manager).
        </p><p class="caption">
            <i>Front row:</i> J. Kirkpatrick, J. Bell, F. Burch, H. Wilcox (captain), J.
            Boden, H. Raymond, W. Dixon, B. Bowler.<img src="images/1912-13b.jpg">
        </p><p class="caption">
            <i>Inset left:</i> W. Horne
        </p><p class="caption">
            <i>Inset right</i>: J. Kirkpatrick
        </p><p class="caption">
            <i>
                Back row:
            </i> S.Atterbury, J.Butler, A.Tainsh
        </p><p class="caption">
            <i>
                Middle row:
            </i> W.Baker, H.Wilcox, G.McLaren, T.Haynes
        </p><p class="caption">
            <i>
                Front row:
            </i> J.McCormick, J.Bell, F.Burch, B.Bowler, W.Dixon
        </p>
    </div>
    <div class="image">
        <img src="images/1912-13a.jpg">
    </div>
    <div class="image">
        <img j.kirkpatrick,="" w.baker,="" j.bell,="" w.dixon,="" j.butler,="" s.atterbury,="" w.horne,="" j.mccormick,="" f.burch,="" h.wilcox,="" b.bowler,="" t.haynes="" <="" div="">
    </div>
</div>