@page
@model GoSWeb.Pages.teampic2007_08Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic2006-07">&lt; 2006-07</a></div>
        <div class="head2"></div>
        <div class="head3"><a href="teampic2008-09">2008-09 &gt;</a></div>
    </div>
    <div class="image">
        <img border="0" src="images/2007-2008.jpg">
        <p class="caption"><i>Back Row:</i> N. Chadwick, M. Kouo-Doumbe, S. Laird, P. Connolly, L. Summerfield, G. Sawyer, R. Dickson, C. Samba, L. Hodges, B. Djordjic, D. Gosling</p>
        <p class="caption"><i>Middle Row:</i> G. Penrice, I. Pearce, L. Nalis, R. Reid, R. Larrieu, R. Fallon, L. McCormick, K. Timar, A. Barnes, M. Seip, S. Russell, Dr P. Giles</p>
        <p class="caption"><i>Front Row:</i> G. Crudgington, P. Halmosi, S. Ebanks-Blake, P. Wotton, D. Bulpin, I. Holloway, T. Breacker, B. Hayles, D. Norris, A. Buzsaky, P. Maxwell</p>
    </div>
    <div class="image">
        <img border="0" src="images/2007-08a.jpg">
        <p class="caption">
            <i>Back Row:</i> D. Smith, S. MacLean, L. Hodges, L. Summerfield, P. Connolly, R. Anderson, G. Sawyer, M. Kouo-Doumbe, M. Watts, J. Moult
        </p><p class="caption">
            <i>Middle Row:</i> J. Blackley, G. Crudgington, K. Summerfield, N. Abdou, P. Halmosi, A. Barnes, K. Timar, L. McCormick, R. Fallon, R. Larrieu, L. Jutkiewicz, N. Chadwick, M. Seip, G. Teale, I. Pearce, P. Maxwell, S. Russell
        </p><p class="caption"><i>Front Row:</i> J. Mackie, G. Sandor, J. Easter, P. Wotton, P. Sturrock, L. Nalis, C. Clark, Y. Folly, J. Paterson</p>
    </div>
    <div class="image">
        <img border="0" src="images/2007-08b.jpg">
        <p class="caption">
            <i>Back Row:</i> D. Smith, S. MacLean, L. Hodges, L. Summerfield, P. Connolly, R. Anderson, G. Sawyer, M. Kouo-Doumbe, M. Watts, J. Moult
        </p><p class="caption">
            <i>Middle Row:</i> N. Abdou, P. Halmosi, A. Barnes, K. Timar, L. McCormick, R. Fallon, R. Larrieu, L. Jutkiewicz, N. Chadwick, M. Seip, G. Teale
        </p><p class="caption"><i>Front Row:</i> J. Mackie, G. Sandor, J. Easter, P. Wotton, P. Sturrock, L. Nalis, C. Clark, Y. Folly, J. Paterson</p>
    </div>
</div>