@page
@model GoSWeb.Pages.teampic2022_23Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic2021-22">&lt; 2021-22</a></div>
        <div class="head2">PLYMOUTH ARGYLE 2022-23</div>
        <div class="head3"></div> <!--insert here next link to next year page-->
    </div>
    <div class="image">
        <img border="0" src="images/2022-2023.jpg"><!--client send wrong files whence the differente name form the original (2022-23.jpg), but since we can't access the original image it is what it is-->
        <p class="caption">
            <i>Back Row: </i>Alex Kay (Physiotherapist), Finley Craske, Jordan Houghton, Conor Grant, Finn Azaz, Brandon Pursall, Brendan Galloway, Morgan Whittaker, Ryan Hardie, Panutche Camara, Jimmy Dickinson (Head of Recruitment)
        </p><p class="caption">
            <i>Middle Row: </i>Ollie Carthew (Fitness &amp; Conditioning Coach), Abner Bruzzichessi (Sports Therapist), Sean Porter-Nail (Assistant Kit &amp; Equipment Manager), Matt Butcher, Dan Scarr, James Wilson, Mike Cooper, Callum Burton, Macaulay Gillesphey, Danny Mayor, Alfie Lewis (left the club before the season began), Nick Fulton (Physiotherapist), Neil Lunnon (Kit &amp; Equipment Manager), Harry Powell (Performance Analyst)
        </p><p class="caption">
            <i>Front Row: </i>Sam Morcom (Lead Performance Analyst), Darren Behcet (Goalkeeping Coach), Mickel Miller, Bali Mumba, Luke Jephcott, Mark Hughes (First-Team Assistant Manager), Steven Schumacher (First-Team Manager), Joe Edwards, Adam Randell, Niall Ennis, Kevin Nancekivell (First-Team Coach), Elliot Turner (Head of Fitness &amp; Conditioning)
        </p>
    </div>
</div>