@page
@model GoSWeb.Pages.teampic05_06Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic04-05">&lt; 1904-05</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1905-06</div>
        <div class="head3"><a href="teampic06-07">1906-07 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1905-06.jpg">
        <p class="caption">
            <i>Back row: </i>J. Hughes (Assist. Trainer), R. McNeil, P. Saul, H. Wilcox, W. Horne, R. Jack
            (Manager), J. Sutcliffe, R. Mortimer, A. Clark (Captain), T. Cleghorn (Trainer)
        </p><p class="caption">
            <i>Middle row:</i> F. Bouchop, T. Briercliffe, F. Buck, I. Owens, F. Crouch
            (Secretary), C. Clark, D. Buchanan, J. Wright (Sub-Captain), T. Corrin
        </p><p class="caption">
            <i>Front row:</i> W. Leech, T. Banks, W. Godley
        </p>
    </div>
</div>