@page
@model GoSWeb.Pages.teampic46_47Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic45-46">&lt; 1945-46</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1946-47</div>
        <div class="head3"><a href="teampic47-48">1947-48 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1946-47.jpg">
        <p class="caption">
            <i>Back row: </i>G. Silk, S. Rundle, A. Holland, L. Boyd, H. Butler
        </p><p class="caption">
            <i>Second row:</i> J. Rae, T. Briggs, R. Case, R. Gibson, G. Brown, W. Shortt, G. Poyser, S. Dixon
        </p><p class="caption">
            <i>Middle row:</i> A. Gorman, R. Coxon, A. Dyer, W. Strauss, L. Jones, R. Thomas, T. Parnaby, N. O'Rorke, W. Harper
        </p><p class="caption">
            <i>Fourth row:</i> S. Rawlings, A. Govan, A. Miller, J. Tresadern, D. Thomas, E. Stuttard, T. Howshall
        </p><p class="caption">
            <i>Front row:</i> R. Strathie, R. Royston, R. Brown, M. Murphy, W. Hurst, L. Tinkler
        </p>
    </div>
    <div class="image">
        <img src="images/1946-47b.jpg">
        <p class="caption">
            <i>Back row: </i>A. Gorman, E. Stuttard, B. Royston, B. Shortt, G. Silk, J. Davies, L. Tinkler
        </p><p class="caption">
            <i>Front row:</i> B. Strauss, B. Thomas, D. Thomas, S. Rawlings, B. Hurst, S. Dixon
        </p>
    </div>
    <div class="image">
        <img src="images/1946-47a.jpg">
        <p class="caption">
            <i>Left to Right:</i> A. Gorman, T. Briggs, A. Miller, H. Butler, R. Royston, W. Strauss, W. Hurst, S. Rawlings, A. Dyer, A. Govan, G. Poyser, L. Tinkler, L. Boyd, W. Shortt, T. Parnaby, D. Thomas, G. Silk, E. Stuttard, R. Gibson, L. Jones, A. Holland, S. Dixon, S. Rundle, W. Harper.
        </p><p class="caption">
            <i>Kneeling:</i> P. Brown
        </p>
    </div>
</div>