@page
@model GoSWeb.Pages.teampicsModel
@{
}
<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>GoS Team Photos</title>
<meta name="Author" content="Miguel Relvas">
<link rel="stylesheet" type="text/css" href="../gos2.css"></head>
<style>
<!--
#container {width:980px; margin: 0 auto;}
.button {
	width: 75px;
    padding: 3px; 
    margin: 2px;
    font-family: verdana, sans-serif;
    display: inline-block;
    white-space: nowrap;
    font-size:12px;
    position:relative;
    outline: none;
    overflow: visible;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid #808080;
    color: #000000 !important; 
    background: linear-gradient(#efffef,#dfefdf);  
}
.button:hover {
    background: linear-gradient(#c8e0c7,#c6dbc5);
    border: 1px solid #000000; 
}
.blank {
	width: 77px;
    padding: 3px; 
    margin: 2px;
	display: inline-block;
	font-size:10px;
	border: 0px none;
	background-color: white
	}
#updatelist {
	width: 900px;
    padding: 5px; 
    margin: 6px 4px 12px;
	font-size:11px;
	text-align: left;
	}
#updatelist p {
	margin: 6px;
	}
	
-->
</style>
<body>
<!--#include file="top_code.htm"-->
<div id=container>
<p style="margin: 12px 0 6px; color: #457B44; font-size: 18px">TEAM PHOTOS</p>
<div style="position: relative">
<p style="position: absolute; left: 42px; top: 4px; margin: 0; font-size: 11px; text-align:left;">If you can help to improve this collection with new or better images, please get in touch.</p>
<p class="blank"></p>
<p class="blank"></p>
<p class="blank"></p>
<p class="blank"></p>
<p class="blank"></p>
<p class="blank"></p>
<p class="blank"></p>
<p class="blank"></p>
<a class="button" href="teampic1898-99">1898-99</a>
<a class="button" href="../teampic1899-00">1899-00</a>
<a class="button" href="../teampic00-01">1900-01</a>
<p class="blank"></p>
<a class="button" href="../teampic02-03">1902-03</a>
<a class="button" href="../teampic03-04">1903-04</a>
<a class="button" href="../teampic04-05">1904-05</a>
<a class="button" href="../teampic05-06">1905-06</a>
<a class="button" href="../teampic06-07">1906-07</a>
<a class="button" href="../teampic07-08">1907-08</a>
<a class="button" href="../teampic08-09">1908-09</a>
<a class="button" href="../teampic09-10">1909-10</a>
<a class="button" href="../teampic10-11">1910-11</a>
<a class="button" href="../teampic11-12">1911-12</a>
<a class="button" href="../teampic12-13">1912-13</a>
<a class="button" href="../teampic13-14">1913-14</a>
<a class="button" href="../teampic14-15">1914-15</a>
<p class="blank">WW1</p>
<p class="blank">WW1</p>
<p class="blank">WW1</p>
<p class="blank">WW1</p>
<a class="button" href="teampic19-20">1919-20</a>
<a class="button" href="teampic20-21">1920-21</a>
<a class="button" href="teampic21-22">1921-22</a>
<a class="button" href="teampic22-23">1922-23</a>
<a class="button" href="teampic23-24">1923-24</a>
<a class="button" href="teampic24-25">1924-25</a>
<a class="button" href="teampic25-26">1925-26</a>
<a class="button" href="teampic26-27">1926-27</a>
<a class="button" href="teampic27-28">1927-28</a>
<a class="button" href="teampic28-29">1928-29</a>
<a class="button" href="teampic29-30">1929-30</a>
<a class="button" href="teampic30-31">1930-31</a>
<a class="button" href="teampic31-32">1931-32</a>
<a class="button" href="teampic32-33">1932-33</a>
<a class="button" href="teampic33-34">1933-34</a>
<a class="button" href="teampic34-35">1934-35</a>
<a class="button" href="teampic35-36">1935-36</a>
<a class="button" href="teampic36-37">1936-37</a>
<a class="button" href="teampic37-38">1937-38</a>
<a class="button" href="teampic38-39">1938-39</a>
<a class="button" href="teampic39-40">1939-40</a>
<p class="blank">WW2</p>
<p class="blank">WW2</p>
<p class="blank">WW2</p>
<p class="blank">WW2</p>
<p class="blank">WW2</p>
<a class="button" href="teampic45-46">1945-46</a>
<a class="button" href="teampic46-47">1946-47</a>
<a class="button" href="teampic47-48">1947-48</a>
<a class="button" href="teampic48-49">1948-49</a>
<a class="button" href="teampic49-50">1949-50</a>
<a class="button" href="teampic50-51">1950-51</a>
<a class="button" href="teampic51-52">1951-52</a>
<a class="button" href="teampic52-53">1952-53</a>
<a class="button" href="teampic53-54">1953-54</a>
<a class="button" href="../teampic54-55">1954-55</a>
<a class="button" href="../teampic55-56">1955-56</a>
<a class="button" href="../teampic56-57">1956-57</a>
<a class="button" href="../teampic57-58">1957-58</a>
<a class="button" href="../teampic58-59">1958-59</a>
<a class="button" href="../teampic59-60">1959-60</a>
<a class="button" href="../teampic60-61">1960-61</a>
<a class="button" href="../teampic61-62">1961-62</a>
<a class="button" href="../teampic62-63">1962-63</a>
<a class="button" href="../teampic63-64">1963-64</a>
<a class="button" href="../teampic64-65">1964-65</a>
<a class="button" href="../teampic65-66">1965-66</a>
<a class="button" href="../teampic66-67">1966-67</a>
<a class="button" href="../teampic67-68">1967-68</a>
<a class="button" href="../teampic68-69">1968-69</a>
<a class="button" href="../teampic69-70">1969-70</a>
<a class="button" href="../teampic70-71">1970-71</a>
<a class="button" href="../teampic71-72">1971-72</a>
<a class="button" href="../teampic72-73">1972-73</a>
<a class="button" href="../teampic73-74">1973-74</a>
<a class="button" href="../teampic74-75">1974-75</a>
<a class="button" href="../teampic75-76">1975-76</a>
<a class="button" href="../teampic76-77">1976-77</a>
<a class="button" href="../teampic77-78">1977-78</a>
<a class="button" href="../teampic78-79">1978-79</a>
<a class="button" href="../teampic79-80">1979-80</a>
<a class="button" href="../teampic80-81">1980-81</a>
<a class="button" href="../teampic81-82">1981-82</a>
<a class="button" href="../teampic82-83">1982-83</a>
<a class="button" href="../teampic83-84">1983-84</a>
<a class="button" href="../teampic84-85">1984-85</a>
<a class="button" href="../teampic85-86">1985-86</a>
<a class="button" href="../teampic86-87">1986-87</a>
<a class="button" href="../teampic87-88">1987-88</a>
<a class="button" href="../teampic88-89">1988-89</a>
<a class="button" href="../teampic89-90">1989-90</a>
<a class="button" href="../teampic90-91">1990-91</a>
<a class="button" href="../teampic91-92">1991-92</a>
<a class="button" href="../teampic92-93">1992-93</a>
<a class="button" href="../teampic93-94">1993-94</a>
<a class="button" href="../teampic94-95">1994-95</a>
<a class="button" href="../teampic95-96">1995-96</a>
<a class="button" href="../teampic96-97">1996-97</a>
<a class="button" href="../teampic97-98">1997-98</a>
<a class="button" href="../teampic98-99">1998-99</a>
<a class="button" href="../teampic99-2000">1999-00</a>
<a class="button" href="../teampic2000-01">2000-01</a>
<a class="button" href="../teampic2001-02">2001-02</a>
<a class="button" href="../teampic2002-03">2002-03</a>
<a class="button" href="../teampic2003-04">2003-04</a>
<a class="button" href="../teampic2004-05">2004-05</a>
<a class="button" href="../teampic2005-06">2005-06</a>
<a class="button" href="../teampic2006-07">2006-07</a>
<a class="button" href="../teampic2007-08">2007-08</a>
<a class="button" href="../teampic2008-09">2008-09</a>
<a class="button" href="../teampic2009-10">2009-10</a>
<a class="button" href="../teampic2010-11">2010-11</a>
<a class="button" href="../teampic2011-12">2011-12</a>
<a class="button" href="../teampic2012-13">2012-13</a>
<a class="button" href="../teampic2013-14">2013-14</a>
<a class="button" href="../teampic2014-15">2014-15</a>
<a class="button" href="../teampic2015-16">2015-16</a>
<a class="button" href="../teampic2016-17">2016-17</a>
<a class="button" href="../teampic2017-18">2017-18</a>
<a class="button" href="../teampic2018-19">2018-19</a>
<a class="button" href="../teampic2019-20">2019-20</a>
<a class="button" href="../teampic2020-21">2020-21</a>
<a class="button" href="../teampic2021-22">2021-22</a>
<a class="button" href="../teampic2022-23">2022-23</a>
</div>
<div id=updatelist>
<p>Recent Changes:</p>
<p>Aug 8, 2022: 2022-23 season added.</p>
</div
</div>
<!--#include file="base_code.htm"-->
</body>
</html>