@page
@model GoSWeb.Pages.teampic11_12Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic10-11">&lt; 1910-11</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1911-12</div>
        <div class="head3"><a href="teampic12-13">1912-13 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1911-12.jpg">
        <p class="caption">
            <i>
                Player names not available - please let me know
                if you can help.
            </i>
        </p>
    </div>
</div>