@page
@model GoSWeb.Pages.teampic87_88Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic86-87">&lt; 1986-87</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1987-88</div>
        <div class="head3"><a href="teampic88-89">1988-89 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1987-88.jpg">
        <p class="caption">
            <i>Back row: </i>A. Burrows, S. Evans, G. McElhinney, S. Cherry, G. Crudgington, E. McElhinney, J. Brimacombe, J. Rowbotham
            Mid
        </p><p>
            <i>dle row:</i> M.Harvey, M.Smith, R.Coughlin, J.Uzzell,
            K.Summerfield, J.Clayton, P.Edwards, K.Hodges, M.Musgrove
        </p><p class="caption">
            <i>Front row:</i> J. Matthews, S. Cooper, N. Law, D. Smith, T. Tynan, D. Rowbotham, L. Cooper
        </p>
    </div>
</div>