@page
@model GoSWeb.Pages.teampic14_15Model
@{
}
<div id="teampic">
<div class="head">
<div class="head1"><a href="teampic13-14">&lt; 1913-14</a></div>
<div class="head2">PLYMOUTH ARGYLE 1914-15</div>
<div class="head3"><a href="teampic19-20">1919-20 &gt;</a></div>
</div>
<div class="image">
<img src="images/1914-15.jpg">
<p class="caption"><i>Back row: </i>S. Davis, M. Russell, J. Butler, F. Craig, W. Horne, S. Atterbury, B. Forbes, A. Peard
</p><p class="caption"><i>Second row:</i> T. Haynes (trainer), ?, T. Gallogley, W. Baker, ?, ?, ?, ?, ?, W. Dixon, ?, A. Wheaton (assistant trainer), R. Jack (manager), 
</p><p class="caption"><i>Front row:</i> S. P. Blott, J. Kirkpatrick, F. Burch, H. Wilcox, W. Kellock, J. McCormick, A. Rutter, B. Bowler
</p></div>
</div>