@page
@model GoSWeb.Pages.teampic78_79Model
@{
}
<div id="teampic">
<div class="head">
<div class="head1"><a href="teampic77-78">&lt; 1977-78</a></div>
<div class="head2">PLYMOUTH ARGYLE 1978-79</div>
<div class="head3"><a href="teampic79-80">1979-80 &gt;</a></div>
</div>
<div class="image">
<img src="images/1978-79a.jpg">
</div>
<div class="image">
<img src="images/1978-79.jpg">
</div>
<div class="image">
<img src="images/1978-79b.jpg">
</div>
<div class="image">
<img src="images/1978-79c.jpg">
</div>
</div>