@page
@model GoSWeb.Pages.teampic2013_14Model
@{
}
<div id="teampic">
<div class="head">
<div class="head1"><a href="teampic2012-13">&lt; 2012-13</a></div>
<div class="head2">PLYMOUTH ARGYLE 2013-14</div>
        <div class="head3"><a href="teampic2014-15">2014-15 &gt;</a></div>
</div>
<div class="image">
        <img border="0" src="images/2013-2014.jpg">
<p class="caption"><i>Back Row: </i>B. Purrington, G. Branston, R. Reid, D. Blizzard, C. Nelson, T. Harvey, M. Blanchard, A. Blackman. </p>
<p class="caption"><i>Middle Row: </i>J. Harbin (fitness coach), S. McCarthy (coach), R. Wilmot (goalkeeping coach), J. Richards, J. Cole, M. Morgan, L. McCormick, M. Lecointe, P. Atkinson (physio), G. Owers (coach), N. Lunnon (kit man). </p>
<p class="caption"><i>Front Row: </i>A. Gurrieri, L. Alessandra, I. Vassell, C. Hourihane, J. Sheridan (manager), P. Wotton, R. Boco, D. Berry, L. Young. </p>
</div>
</div>