@page
@model GoSWeb.Pages.teampic74_75Model
@{
}
<div id="teampic">
<div class="head">
<div class="head1"><a href="teampic73-74">&lt; 1973-74</a></div>
<div class="head2">PLYMOUTH ARGYLE 1974-75</div>
<div class="head3"><a href="teampic75-76">1975-76 &gt;</a></div>
</div>
<div class="image">
<img src="images/1974-75a.jpg">
<p class="caption"><i>Back row: </i>P. Hardcastle, B. Johnson, D. Sutton, C. Griffiths, I. Pearson, J. Delve
</p><p class="caption"><i>Middle row:</i> C. Randell, M. Nickeas, P. Mariner, M. Green, J. Furnell, M. Aleksic, W. Rafferty, A. Rogers, P. Darke, P. Burrows
</p><p class="caption"><i>Front row:</i> W. Shearer, D. Provan, J. Hore, E. Machin, T. Waiters, S. Davey, B. Saxton, H. Burrows, K. Blunt
</p></div>
<div class="image">
<img src="images/1974-75.jpg">
<p class="caption"><i>Back row: </i>B. Saxton, G. Foster, B. Johnson, J. Furnell, M. Aleksic, B. Vassallo
</p><p class="caption"><i>Middle row:</i> A. Brown, B. Shearer, J. Hore, J. Delve, P. Darke, D. Sutton, P. Mariner, C. Randell, H. Burrows, K. Blunt
</p><p class="caption"><i>Front row:</i> S. Davey, H. McAuley, A. Rogers, M. Green, T. Waiters, B. Rafferty, P. Burrows, M. Nickeas, C. Harrison
</p></div>
</div>