@page
@model GoSWeb.Pages.dailydiaryModel
@{
    ViewData["Title"] = "GoS Daily Diary";
}
<head>



    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <title>Greens on Screen</title>

    <style>



        *::before, *::after, * {
            box-sizing: border-box;
        }

        body {
            background-color: white;
            color: black;
            text-align: center;
        }

        .strength-meter {
            position: relative;
            left: -42%;
            height: 1rem;
            width: 15%;
            border: 3px solid black;
            border-radius: 1rem;
            margin: 0 auto;
            overflow: hidden;
        }

            .strength-meter::before {
                content: '';
                position: absolute;
                height: 100%;
                width: calc(1% * var(--strength, 0));
                background-color: black;
                transition: width 200ms;
            }

        .normal > * {
            margin-top: .3rem;
            color: black;
        }
    </style>

</head>

<body>


    <P></P>
    <P></P>
    <P></P>

    <table>
        <tr>
            <th>
                            <p >
                    <font>
                        Argyle News Sites:
                    </font>
                </p><p>
                    <span style="font-size: 13px">
                        Greens on Screen's Daily Diary is a compilation of
                        Argyle news, with help from these and other Argyle-related sites.
                    </span>
                </p><p >
                    <span >
                        <img src="images/link5.gif" border="0">
                        <a href="http://www.pafc.co.uk/">Plymouth Argyle FC</a>
                    </span>

                </p><p >
                    <span >
                        <img src="images/link5.gif" border="0">
                        <a href="http://www.thisisplymouth.co.uk/plymouthargyle">The Herald</a>
                    </span>

                </p><p >
                    <span >
                        <img src="images/link5.gif" border="0">
                        <a href="http://www.thisisdevon.co.uk/plymouthargyle">Western Morning News</a>
                    </span>

                </p><p>
                    <span >
                        <img src="images/link5.gif" border="0">
                        <a href="http://www.newsnow.co.uk/newsfeed/?name=Plymouth+Argyle+FC">News Now</a>
                    </span>
                </p><p >
                    <font>
                        On This Day:
                    </font>
                </p><p >
                    <span>
                        Also included on the three most recent days, facts from Argyle's history.
                    </span>

                </p>
            

            </th>

            <th>
                <h1>The Daily Diary</h1>
            </th>

            <th>
                <table style="border-collapse: collapse" width="100%" cellspacing="0" cellpadding="0" bordercolor="#111111" border="0">
                    <tbody>
                        <tr>
                            <td colspan="6"><a href="dailydiary.asp">Current</a></td>
                        </tr>

                        <tr><td ><span ><font >2023</font></span></td></tr>
                        <tr class="diary-dates-tbl"><td><a href="dailydiary.asp?archive=feb23">Feb</a></td><td><a href="dailydiary.asp?archive=jan23">Jan</a></td></tr>
                        <tr><td ><span ><font >2022</font></span></td></tr>
                        <tr class="diary-dates-tbl"><td><a href="dailydiary.asp?archive=dec22">Dec</a></td><td><a href="dailydiary.asp?archive=nov22">Nov</a></td><td><a href="dailydiary.asp?archive=oct22">Oct</a></td><td><a href="dailydiary.asp?archive=sep22">Sep</a></td><td><a href="dailydiary.asp?archive=aug22">Aug</a></td><td><a href="dailydiary.asp?archive=jul22">Jul</a></td></tr>
                        <tr class="diary-dates-tbl"><td><a href="dailydiary.asp?archive=jun22">Jun</a></td><td><a href="dailydiary.asp?archive=may22">May</a></td><td><a href="dailydiary.asp?archive=apr22">Apr</a></td><td><a href="dailydiary.asp?archive=mar22">Mar</a></td><td><a href="dailydiary.asp?archive=feb22">Feb</a></td><td><a href="dailydiary.asp?archive=jan22">Jan</a></td></tr>
                        <tr><td ><span ><font >2021</font></span></td></tr>
                        <tr class="diary-dates-tbl"><td><a href="dailydiary.asp?archive=dec21">Dec</a></td><td><a href="dailydiary.asp?archive=nov21">Nov</a></td><td><a href="dailydiary.asp?archive=oct21">Oct</a></td><td><a href="dailydiary.asp?archive=sep21">Sep</a></td><td><a href="dailydiary.asp?archive=aug21">Aug</a></td><td><a href="dailydiary.asp?archive=jul21">Jul</a></td></tr>
                        <tr class="diary-dates-tbl"><td><a href="dailydiary.asp?archive=jun21">Jun</a></td><td><a href="dailydiary.asp?archive=may21">May</a></td><td><a href="dailydiary.asp?archive=apr21">Apr</a></td><td><a href="dailydiary.asp?archive=mar21">Mar</a></td><td><a href="dailydiary.asp?archive=feb21">Feb</a></td><td><a href="dailydiary.asp?archive=jan21">Jan</a></td></tr>
                        <tr><td ><span ><font >2020</font></span></td></tr>
                        <tr class="diary-dates-tbl"><td><a href="dailydiary.asp?archive=dec20">Dec</a></td><td><a href="dailydiary.asp?archive=nov20">Nov</a></td><td><a href="dailydiary.asp?archive=oct20">Oct</a></td><td><a href="dailydiary.asp?archive=sep20">Sep</a></td><td><a href="dailydiary.asp?archive=aug20">Aug</a></td><td><a href="dailydiary.asp?archive=jul20">Jul</a></td></tr>
                        <tr class="diary-dates-tbl"><td><a href="dailydiary.asp?archive=jun20">Jun</a></td><td><a href="dailydiary.asp?archive=may20">May</a></td><td><a href="dailydiary.asp?archive=apr20">Apr</a></td><td><a href="dailydiary.asp?archive=mar20">Mar</a></td><td><a href="dailydiary.asp?archive=feb20">Feb</a></td><td><a href="dailydiary.asp?archive=jan20">Jan</a></td></tr>
                        <tr><td ><span ><font >2019</font></span></td></tr>
                        <tr class="diary-dates-tbl"><td><a href="dailydiary.asp?archive=dec19">Dec</a></td><td><a href="dailydiary.asp?archive=nov19">Nov</a></td><td><a href="dailydiary.asp?archive=oct19">Oct</a></td><td><a href="dailydiary.asp?archive=sep19">Sep</a></td><td><a href="dailydiary.asp?archive=aug19">Aug</a></td><td><a href="dailydiary.asp?archive=jul19">Jul</a></td></tr>
                        <tr class="diary-dates-tbl"><td><a href="dailydiary.asp?archive=jun19">Jun</a></td><td><a href="dailydiary.asp?archive=may19">May</a></td><td><a href="dailydiary.asp?archive=apr19">Apr</a></td><td><a href="dailydiary.asp?archive=mar19">Mar</a></td><td><a href="dailydiary.asp?archive=feb19">Feb</a></td><td><a href="dailydiary.asp?archive=jan19">Jan</a></td></tr>
                        <tr><td ><span ><font >2018</font></span></td></tr>
                        <tr class="diary-dates-tbl"><td><a href="dailydiary.asp?archive=dec18">Dec</a></td><td><a href="dailydiary.asp?archive=nov18">Nov</a></td><td><a href="dailydiary.asp?archive=oct18">Oct</a></td><td><a href="dailydiary.asp?archive=sep18">Sep</a></td><td><a href="dailydiary.asp?archive=aug18">Aug</a></td><td><a href="dailydiary.asp?archive=jul18">Jul</a></td></tr>
                        <tr class="diary-dates-tbl"><td><a href="dailydiary.asp?archive=jun18">Jun</a></td><td><a href="dailydiary.asp?archive=may18">May</a></td><td><a href="dailydiary.asp?archive=apr18">Apr</a></td><td><a href="dailydiary.asp?archive=mar18">Mar</a></td><td><a href="dailydiary.asp?archive=feb18">Feb</a></td><td><a href="dailydiary.asp?archive=jan18">Jan</a></td></tr>
                        <tr><td ><span ><font >2017</font></span></td></tr>
                        <tr class="diary-dates-tbl"><td><a href="dailydiary.asp?archive=dec17">Dec</a></td><td><a href="dailydiary.asp?archive=nov17">Nov</a></td><td><a href="dailydiary.asp?archive=oct17">Oct</a></td><td><a href="dailydiary.asp?archive=sep17">Sep</a></td><td><a href="dailydiary.asp?archive=aug17">Aug</a></td><td><a href="dailydiary.asp?archive=jul17">Jul</a></td></tr>
                        <tr class="diary-dates-tbl"><td><a href="dailydiary.asp?archive=jun17">Jun</a></td><td><a href="dailydiary.asp?archive=may17">May</a></td><td><a href="dailydiary.asp?archive=apr17">Apr</a></td><td><a href="dailydiary.asp?archive=mar17">Mar</a></td><td><a href="dailydiary.asp?archive=feb17">Feb</a></td><td><a href="dailydiary.asp?archive=jan17">Jan</a></td></tr>
                        <tr><td ><span ><font >2016</font></span></td></tr>
                        <tr class="diary-dates-tbl"><td><a href="dailydiary.asp?archive=dec16">Dec</a></td><td><a href="dailydiary.asp?archive=nov16">Nov</a></td><td><a href="dailydiary.asp?archive=oct16">Oct</a></td><td><a href="dailydiary.asp?archive=sep16">Sep</a></td><td><a href="dailydiary.asp?archive=aug16">Aug</a></td><td><a href="dailydiary.asp?archive=jul16">Jul</a></td></tr>
                        <tr class="diary-dates-tbl"><td><a href="dailydiary.asp?archive=jun16">Jun</a></td><td><a href="dailydiary.asp?archive=may16">May</a></td><td><a href="dailydiary.asp?archive=apr16">Apr</a></td><td><a href="dailydiary.asp?archive=mar16">Mar</a></td><td><a href="dailydiary.asp?archive=feb16">Feb</a></td><td><a href="dailydiary.asp?archive=jan16">Jan</a></td></tr>
                        <tr><td ><span ><font >2015</font></span></td></tr>
                        <tr class="diary-dates-tbl"><td><a href="dailydiary.asp?archive=dec15">Dec</a></td><td><a href="dailydiary.asp?archive=nov15">Nov</a></td><td><a href="dailydiary.asp?archive=oct15">Oct</a></td><td><a href="dailydiary.asp?archive=sep15">Sep</a></td><td><a href="dailydiary.asp?archive=aug15">Aug</a></td><td><a href="dailydiary.asp?archive=jul15">Jul</a></td></tr>
                        <tr class="diary-dates-tbl"><td><a href="dailydiary.asp?archive=jun15">Jun</a></td><td><a href="dailydiary.asp?archive=may15">May</a></td><td><a href="dailydiary.asp?archive=apr15">Apr</a></td><td><a href="dailydiary.asp?archive=mar15">Mar</a></td><td><a href="dailydiary.asp?archive=feb15">Feb</a></td><td><a href="dailydiary.asp?archive=jan15">Jan</a></td></tr>
                        <tr><td><span><font>2014</font></span></td></tr>
                        <tr class="diary-dates-tbl"><td><a href="dailydiary.asp?archive=dec14">Dec</a></td><td><a href="dailydiary.asp?archive=nov14">Nov</a></td><td><a href="dailydiary.asp?archive=oct14">Oct</a></td><td><a href="dailydiary.asp?archive=sep14">Sep</a></td><td><a href="dailydiary.asp?archive=aug14">Aug</a></td><td><a href="dailydiary.asp?archive=jul14">Jul</a></td></tr>
                        <tr class="diary-dates-tbl"><td><a href="dailydiary.asp?archive=jun14">Jun</a></td><td><a href="dailydiary.asp?archive=may14">May</a></td><td><a href="dailydiary.asp?archive=apr14">Apr</a></td><td><a href="dailydiary.asp?archive=mar14">Mar</a></td><td><a href="dailydiary.asp?archive=feb14">Feb</a></td><td><a href="dailydiary.asp?archive=jan14">Jan</a></td></tr>
                        <tr><td ><span ><font >2013</font></span></td></tr>
                        <tr class="diary-dates-tbl"><td><a href="dailydiary.asp?archive=dec13">Dec</a></td><td><a href="dailydiary.asp?archive=nov13">Nov</a></td><td><a href="dailydiary.asp?archive=oct13">Oct</a></td><td><a href="dailydiary.asp?archive=sep13">Sep</a></td><td><a href="dailydiary.asp?archive=aug13">Aug</a></td><td><a href="dailydiary.asp?archive=jul13">Jul</a></td></tr>
                        <tr class="diary-dates-tbl"><td><a href="dailydiary.asp?archive=jun13">Jun</a></td><td><a href="dailydiary.asp?archive=may13">May</a></td><td><a href="dailydiary.asp?archive=apr13">Apr</a></td><td><a href="dailydiary.asp?archive=mar13">Mar</a></td><td><a href="dailydiary.asp?archive=feb13">Feb</a></td><td><a href="dailydiary.asp?archive=jan13">Jan</a></td></tr>
                        <tr><td><span><font>2012</font></span></td></tr>
                        <tr class="diary-dates-tbl"><td><a href="dailydiary.asp?archive=dec12">Dec</a></td><td><a href="dailydiary.asp?archive=nov12">Nov</a></td><td><a href="dailydiary.asp?archive=oct12">Oct</a></td><td><a href="dailydiary.asp?archive=sep12">Sep</a></td><td><a href="dailydiary.asp?archive=aug12">Aug</a></td><td><a href="dailydiary.asp?archive=jul12">Jul</a></td></tr>
                        <tr class="diary-dates-tbl"><td><a href="dailydiary.asp?archive=jun12">Jun</a></td><td><a href="dailydiary.asp?archive=may12">May</a></td><td><a href="dailydiary.asp?archive=apr12">Apr</a></td><td><a href="dailydiary.asp?archive=mar12">Mar</a></td><td><a href="dailydiary.asp?archive=feb12">Feb</a></td><td><a href="dailydiary.asp?archive=jan12">Jan</a></td></tr>
                        <tr><td><span><font>2011</font></span></td></tr>
                        <tr class="diary-dates-tbl"><td><a href="dailydiary.asp?archive=dec11">Dec</a></td><td><a href="dailydiary.asp?archive=nov11">Nov</a></td><td><a href="dailydiary.asp?archive=oct11">Oct</a></td><td><a href="dailydiary.asp?archive=sep11">Sep</a></td><td><a href="dailydiary.asp?archive=aug11">Aug</a></td><td><a href="dailydiary.asp?archive=jul11">Jul</a></td></tr>
                        <tr class="diary-dates-tbl"><td><a href="dailydiary.asp?archive=jun11">Jun</a></td><td><a href="dailydiary.asp?archive=may11">May</a></td><td><a href="dailydiary.asp?archive=apr11">Apr</a></td><td><a href="dailydiary.asp?archive=mar11">Mar</a></td><td><a href="dailydiary.asp?archive=feb11">Feb</a></td><td><a href="dailydiary.asp?archive=jan11">Jan</a></td></tr>
                        <tr><td ><span ><font >2010</font></span></td></tr>
                        <tr class="diary-dates-tbl"><td><a href="dailydiary.asp?archive=dec10">Dec</a></td><td><a href="dailydiary.asp?archive=nov10">Nov</a></td><td><a href="dailydiary.asp?archive=oct10">Oct</a></td><td><a href="dailydiary.asp?archive=sep10">Sep</a></td><td><a href="dailydiary.asp?archive=aug10">Aug</a></td><td><a href="dailydiary.asp?archive=jul10">Jul</a></td></tr>
                        <tr class="diary-dates-tbl"><td><a href="dailydiary.asp?archive=jun10">Jun</a></td><td><a href="dailydiary.asp?archive=may10">May</a></td><td><a href="dailydiary.asp?archive=apr10">Apr</a></td><td><a href="dailydiary.asp?archive=mar10">Mar</a></td><td><a href="dailydiary.asp?archive=feb10">Feb</a></td><td><a href="dailydiary.asp?archive=jan10">Jan</a></td></tr>
                        <tr><td ><span ><font >2009</font></span></td></tr>
                        <tr class="diary-dates-tbl"><td><a href="dailydiary.asp?archive=dec09">Dec</a></td><td><a href="dailydiary.asp?archive=nov09">Nov</a></td><td><a href="dailydiary.asp?archive=oct09">Oct</a></td><td><a href="dailydiary.asp?archive=sep09">Sep</a></td><td><a href="dailydiary.asp?archive=aug09">Aug</a></td><td><a href="dailydiary.asp?archive=jul09">Jul</a></td></tr>
                        <tr class="diary-dates-tbl"><td><a href="dailydiary.asp?archive=jun09">Jun</a></td><td><a href="dailydiary.asp?archive=may09">May</a></td><td><a href="dailydiary.asp?archive=apr09">Apr</a></td><td><a href="dailydiary.asp?archive=mar09">Mar</a></td><td><a href="dailydiary.asp?archive=feb09">Feb</a></td><td><a href="dailydiary.asp?archive=jan09">Jan</a></td></tr>
                        <tr><td ><span ><font >2008</font></span></td></tr>
                        <tr class="diary-dates-tbl"><td><a href="dailydiary.asp?archive=dec08">Dec</a></td><td><a href="dailydiary.asp?archive=nov08">Nov</a></td><td><a href="dailydiary.asp?archive=oct08">Oct</a></td><td><a href="dailydiary.asp?archive=sep08">Sep</a></td><td><a href="dailydiary.asp?archive=aug08">Aug</a></td><td><a href="dailydiary.asp?archive=jul08">Jul</a></td></tr>
                        <tr class="diary-dates-tbl"><td><a href="dailydiary.asp?archive=jun08">Jun</a></td><td><a href="dailydiary.asp?archive=may08">May</a></td><td><a href="dailydiary.asp?archive=apr08">Apr</a></td><td><a href="dailydiary.asp?archive=mar08">Mar</a></td><td><a href="dailydiary.asp?archive=feb08">Feb</a></td><td><a href="dailydiary.asp?archive=jan08">Jan</a></td></tr>
                        <tr><td ><span ><font >2007</font></span></td></tr>
                        <tr class="diary-dates-tbl"><td><a href="dailydiary.asp?archive=dec07">Dec</a></td><td><a href="dailydiary.asp?archive=nov07">Nov</a></td><td><a href="dailydiary.asp?archive=oct07">Oct</a></td><td><a href="dailydiary.asp?archive=sep07">Sep</a></td><td><a href="dailydiary.asp?archive=aug07">Aug</a></td><td><a href="dailydiary.asp?archive=jul07">Jul</a></td></tr>
                        <tr class="diary-dates-tbl"><td><a href="dailydiary.asp?archive=jun07">Jun</a></td><td><a href="dailydiary.asp?archive=may07">May</a></td><td><a href="dailydiary.asp?archive=apr07">Apr</a></td><td><a href="dailydiary.asp?archive=mar07">Mar</a></td><td><a href="dailydiary.asp?archive=feb07">Feb</a></td><td><a href="dailydiary.asp?archive=jan07">Jan</a></td></tr>
                        <tr><td><span><font>2006</font></span></td></tr>
                        <tr class="diary-dates-tbl"><td><a href="dailydiary.asp?archive=dec06">Dec</a></td><td><a href="dailydiary.asp?archive=nov06">Nov</a></td><td><a href="dailydiary.asp?archive=oct06">Oct</a></td><td><a href="dailydiary.asp?archive=sep06">Sep</a></td><td><a href="dailydiary.asp?archive=aug06">Aug</a></td><td><a href="dailydiary.asp?archive=jul06">Jul</a></td></tr>
                        <tr class="diary-dates-tbl"><td><a href="dailydiary.asp?archive=jun06">Jun</a></td><td><a href="dailydiary.asp?archive=may06">May</a></td><td><a href="dailydiary.asp?archive=apr06">Apr</a></td><td><a href="dailydiary.asp?archive=mar06">Mar</a></td><td><a href="dailydiary.asp?archive=feb06">Feb</a></td><td><a href="dailydiary.asp?archive=jan06">Jan</a></td></tr>
                        <tr><td ><span ><font >2005</font></span></td></tr>
                        <tr class="diary-dates-tbl"><td><a href="dailydiary.asp?archive=dec05">Dec</a></td><td><a href="dailydiary.asp?archive=nov05">Nov</a></td><td><a href="dailydiary.asp?archive=oct05">Oct</a></td><td><a href="dailydiary.asp?archive=sep05">Sep</a></td><td><a href="dailydiary.asp?archive=aug05">Aug</a></td><td><a href="dailydiary.asp?archive=jul05">Jul</a></td></tr>
                        <tr class="diary-dates-tbl"><td><a href="dailydiary.asp?archive=jun05">Jun</a></td><td><a href="dailydiary.asp?archive=may05">May</a></td><td><a href="dailydiary.asp?archive=apr05">Apr</a></td><td><a href="dailydiary.asp?archive=mar05">Mar</a></td><td><a href="dailydiary.asp?archive=feb05">Feb</a></td><td><a href="dailydiary.asp?archive=jan05">Jan</a></td></tr>
                        <tr><td ><span ><font >2004</font></span></td></tr>
                        <tr class="diary-dates-tbl"><td><a href="dailydiary.asp?archive=dec04">Dec</a></td><td><a href="dailydiary.asp?archive=nov04">Nov</a></td><td><a href="dailydiary.asp?archive=oct04">Oct</a></td><td><a href="dailydiary.asp?archive=sep04">Sep</a></td><td><a href="dailydiary.asp?archive=aug04">Aug</a></td><td><a href="dailydiary.asp?archive=jul04">Jul</a></td></tr>
                        <tr class="diary-dates-tbl"><td><a href="dailydiary.asp?archive=jun04">Jun</a></td><td><a href="dailydiary.asp?archive=may04">May</a></td><td><a href="dailydiary.asp?archive=apr04">Apr</a></td><td><a href="dailydiary.asp?archive=mar04">Mar</a></td><td><a href="dailydiary.asp?archive=feb04">Feb</a></td><td><a href="dailydiary.asp?archive=jan04">Jan</a></td></tr>
                        <tr><td><span><font>2003</font></span></td></tr>
                        <tr class="diary-dates-tbl"><td><a href="dailydiary.asp?archive=dec03">Dec</a></td><td><a href="dailydiary.asp?archive=nov03">Nov</a></td><td><a href="dailydiary.asp?archive=oct03">Oct</a></td><td><a href="dailydiary.asp?archive=sep03">Sep</a></td><td><a href="dailydiary.asp?archive=aug03">Aug</a></td><td><a href="dailydiary.asp?archive=jul03">Jul</a></td></tr>
                    </tbody>
                </table>
            </th>
        </tr>
    </table>
    

    



</body>