@page
@model GoSWeb.Pages.gosdb_todayModel
@{
}
<!-- This page is run every date at 02:00 by a Plesk trigger, to provide a simple indication of the date of the database backup on Steve's PC -->
<head>
    <meta http-equiv="Content-Language" content="en-gb">

</head>
<p>Nothing in here</p>