@page
@model GoSWeb.Pages.sv_devonprofresultsModel
@{
}
<!DOCTYPE html PUBLIC "-//w3c//dtd html 4.0 transitional//en">
<html>
<div id="sv1">

    <center>

        <p style="margin-top: 24px; margin-bottom: 12">
            <font face="Arial" style="font-size: 18px" color="#457B44">
                DEVON PROFESSIONAL
                CHAMPIONSHIP RESULTS 1922-1995
            </font>
        </p>

        <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="800">
            <tbody>
                <tr>
                    <td>

                        <p align="justify">
                            The Devon Professional Championship was launched as a
                            triangular knockout tournament in 1922/23. It was contested fifty times between
                            its inauguration and 1994/95 with Argyle leading the way with 23 victories.
                            Exeter City triumphed 14 times and Torquay United had 9 wins. In 1960/61 the
                            tournament became known as the Devon Professional Challenge Bowl and for one
                            season consisted of a clash between Second Division Argyle and a combined team
                            from Exeter City and Torquay United (both then of the Fourth Division). In later
                            years the competition was suspended due to both a lack of popularity and fixture
                            problems (the Bowl usually interfering with important end of season matches) and
                            returned only briefly during the mid 80's and 90's. When it returned for the
                            last time in 1993 it was as a pre-season tournament and lasted just two seasons.
                            The trophy is now competed for as the Devon St Lukes' Bowl and includes local
                            non-league teams as well as mainly reserve XI's from the professional sides.
                        </p>

                    </td>
                </tr>
            </tbody>
        </table>
        <br>


        <table border="1" width="600" style="border-collapse: collapse;" bordercolor="#C0C0C0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td><b>SEASON</b></td>

                    <td><b>DATE</b></td>

                    <td><b>ROUND</b></td>

                    <td><b>RESULT</b> (competition winners in bold)</td>

                    <td><b>VENUE</b></td>
                </tr>

                <tr>
                    <td>1922/23</td>

                    <td>Jan 24th</td>

                    <td>Semi Final</td>

                    <td>Torquay United 1-0 Exeter City</td>

                    <td>Plainmoor</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>Mar 21st</td>

                    <td>Final</td>

                    <td><b>Plymouth Argyle</b> 2-1 Torquay United</td>

                    <td>Home Park</td>
                </tr>

                <tr>
                    <td>1923/24</td>

                    <td>Sep 26th</td>

                    <td>Semi Final</td>

                    <td>Exeter City 1-0 Torquay United</td>

                    <td>Plainmoor</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>Oct 10th</td>

                    <td>Final</td>

                    <td><b>Plymouth Argyle</b> 2-0 Exeter City</td>

                    <td>Home Park</td>
                </tr>

                <tr>
                    <td>1924/25</td>

                    <td>Feb 11th</td>

                    <td>Semi Final</td>

                    <td>Exeter City 7-1 Torquay United&nbsp;</td>

                    <td>Plainmoor</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>Apr 1st</td>

                    <td>Final</td>

                    <td><b>Plymouth Argyle</b> 3-2 Exeter City&nbsp;</td>

                    <td>St James Park</td>
                </tr>

                <tr>
                    <td>1925/26</td>

                    <td>Nov 18th</td>

                    <td>Semi Final</td>

                    <td>Plymouth Argyle 2-1 Torquay United</td>

                    <td>Plainmoor</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>Mar 10th</td>

                    <td>Final</td>

                    <td><b>Exeter City</b> 2-1 Plymouth Argyle&nbsp;</td>

                    <td>Home Park</td>
                </tr>

                <tr>
                    <td>1926/27</td>

                    <td>Feb 16th</td>

                    <td>Semi Final</td>

                    <td>Plymouth Argyle 5-1 Torquay United&nbsp;</td>

                    <td>Plainmoor</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>Mar 9th</td>

                    <td>Final</td>

                    <td><b>Exeter City</b> 3-1 Plymouth Argyle&nbsp;</td>

                    <td>St James Park</td>
                </tr>

                <tr>
                    <td>1927/28</td>

                    <td>Mar 28th</td>

                    <td>Semi Final</td>

                    <td>Torquay United 0-0 Plymouth Argyle&nbsp;</td>

                    <td>Plainmoor</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>Apr 16th</td>

                    <td>Replay</td>

                    <td>Plymouth Argyle 1-0 Torquay United&nbsp;</td>

                    <td>Home Park</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>Apr 30th</td>

                    <td>Final</td>

                    <td><b>Exeter City</b> 4-2 Plymouth Argyle&nbsp;</td>

                    <td>St James Park</td>
                </tr>

                <tr>
                    <td>1928/29</td>

                    <td>&nbsp;</td>

                    <td>Semi Final<sup>1</sup></td>

                    <td>&nbsp;</td>

                    <td>&nbsp;</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>Apr 24th</td>

                    <td>Final</td>

                    <td><b>Plymouth Argyle</b> 3-2 Exeter City</td>

                    <td>St James Park</td>
                </tr>

                <tr>
                    <td>1929/30</td>

                    <td>Apr 16th</td>

                    <td>Semi Final</td>

                    <td>Exeter City 3-2 Torquay United</td>

                    <td>St James Park</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>Apr 30th</td>

                    <td>Final</td>

                    <td><b>Plymouth Argyle</b> 2-0 Exeter City</td>

                    <td>Home Park</td>
                </tr>

                <tr>
                    <td>1930/31</td>

                    <td>Apr 23rd</td>

                    <td>Semi Final</td>

                    <td>Torquay United 6-2 Exeter City</td>

                    <td>Plainmoor</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>Apr 29th</td>

                    <td>Final</td>

                    <td><b>Plymouth Argyle</b> 5-1 Torquay United</td>

                    <td>Home Park</td>
                </tr>

                <tr>
                    <td>1931/32</td>

                    <td>Apr 13th</td>

                    <td>Semi Final</td>

                    <td>Exeter City 3-0 Torquay United</td>

                    <td>St James Park</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>Apr 20th</td>

                    <td>Final</td>

                    <td><b>Plymouth Argyle</b> 2-1 Exeter City&nbsp;</td>

                    <td>Home Park</td>
                </tr>

                <tr>
                    <td>1932/33</td>

                    <td>Apr 5th</td>

                    <td>Semi Final</td>

                    <td>Torquay United 3-1 Exeter City</td>

                    <td>St James Park</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>Apr 24th</td>

                    <td>Final</td>

                    <td><b>Plymouth Argyle </b>3-1 Torquay United</td>

                    <td>Home Park</td>
                </tr>

                <tr>
                    <td>1933/34</td>

                    <td>Sep 13th</td>

                    <td>Semi Final</td>

                    <td>Plymouth Argyle 3-1 Torquay United</td>

                    <td>Plainmoor</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>Sep 27th</td>

                    <td>Final</td>

                    <td><b>Plymouth Argyle</b> 3-2 Exeter City</td>

                    <td>St James Park</td>
                </tr>

                <tr>
                    <td>1934/35</td>

                    <td>Sep 26th</td>

                    <td>Semi Final</td>

                    <td>Torquay United 5-1 Exeter City</td>

                    <td>St James Park</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>Oct 3rd</td>

                    <td>Final</td>

                    <td><b>Torquay United</b> 3-0 Plymouth Argyle&nbsp;</td>

                    <td>Plainmoor</td>
                </tr>

                <tr>
                    <td>1935/36</td>

                    <td>Oct 9th</td>

                    <td>Semi Final</td>

                    <td>Plymouth Argyle 5-0 Exeter City</td>

                    <td>Home Park</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>Nov 13th</td>

                    <td>Final</td>

                    <td><b>Torquay United</b> 1-0 Plymouth Argyle&nbsp;</td>

                    <td>Home Park</td>
                </tr>

                <tr>
                    <td>1936/37</td>

                    <td>Apr 21st</td>

                    <td>Semi Final</td>

                    <td>Exeter City 2-1 Plymouth Argyle&nbsp;</td>

                    <td>Home Park</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>Apr 28th</td>

                    <td>Final</td>

                    <td>Exeter City 1-1 Torquay United</td>

                    <td>St James Park</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>Oct 13th</td>

                    <td>Replay</td>

                    <td><b>Torquay United</b> 1-0 Exeter City</td>

                    <td>Plainmoor</td>
                </tr>

                <tr>
                    <td>1937/38</td>

                    <td>Dec 1st</td>

                    <td>Semi Final</td>

                    <td>Plymouth Argyle 5-2 Exeter City</td>

                    <td>Home Park</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>Apr 26th</td>

                    <td>Final</td>

                    <td><b>Plymouth Argyle</b> 3-0 Torquay United</td>

                    <td>Home Park</td>
                </tr>

                <tr>
                    <td>1938/39</td>

                    <td>Sep 28th</td>

                    <td>Semi Final</td>

                    <td>Plymouth Argyle 6-4 Exeter City</td>

                    <td>Home Park</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>Oct 5th</td>

                    <td>Final</td>

                    <td>Torquay United 2-2 Plymouth Argyle&nbsp;</td>

                    <td>Plainmoor</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>&nbsp;</td>

                    <td>Replay<sup><font face="Verdana">2</font></sup></td>

                    <td>&nbsp;</td>

                    <td>&nbsp;</td>
                </tr>

                <tr>
                    <td>1945/46</td>

                    <td>Apr 10th</td>

                    <td>Semi Final</td>

                    <td>Exeter City 2-1 Plymouth Argyle&nbsp;</td>

                    <td>St James Park</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>May 4th</td>

                    <td>Final</td>

                    <td><b>Torquay United</b> 4-0 Exeter City</td>

                    <td>St James Park</td>
                </tr>

                <tr>
                    <td>1947/48</td>

                    <td>Apr 5th</td>

                    <td>Semi Final</td>

                    <td>Plymouth Argyle 2-1 Exeter City</td>

                    <td>Home Park</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>Apr 12th</td>

                    <td>Final</td>

                    <td><b>Torquay United</b> 1-0 Plymouth Argyle&nbsp;</td>

                    <td>Home Park</td>
                </tr>

                <tr>
                    <td>1948/49</td>

                    <td>Apr 25th</td>

                    <td>Semi Final</td>

                    <td>Torquay United 3-1 Exeter City</td>

                    <td>Plainmoor</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>May 2nd</td>

                    <td>Final</td>

                    <td>Plymouth Argyle 0-1 <b>Torquay United</b></td>

                    <td>Home Park</td>
                </tr>

                <tr>
                    <td>1949/50</td>

                    <td>Apr 17th</td>

                    <td>Semi Final</td>

                    <td>Exeter City 3-0 Torquay United</td>

                    <td>St James Park</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>May 3rd</td>

                    <td>Final</td>

                    <td><b>Plymouth Argyle</b> 2-1 Exeter City&nbsp;</td>

                    <td>St James Park</td>
                </tr>

                <tr>
                    <td>1950/51</td>

                    <td>Apr 11th</td>

                    <td>Semi Final</td>

                    <td>Plymouth Argyle 2-0 Exeter City</td>

                    <td>St James Park</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>May 2nd</td>

                    <td>Final</td>

                    <td><b>Plymouth Argyle</b> 2-1 Torquay United</td>

                    <td>Plainmoor</td>
                </tr>

                <tr>
                    <td>1951/52</td>

                    <td>Mar 31st</td>

                    <td>Semi Final</td>

                    <td>Plymouth Argyle 1-1 Torquay United<sup>3</sup></td>

                    <td>Home Park</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>May 2nd</td>

                    <td>Final</td>

                    <td><b>Plymouth Argyle</b> 1-0 Exeter City</td>

                    <td>Home Park</td>
                </tr>

                <tr>
                    <td>1952/53</td>

                    <td>Apr 29th</td>

                    <td>Semi Final</td>

                    <td>Plymouth Argyle 4-1 Exeter City</td>

                    <td>Home Park</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>&nbsp;</td>

                    <td>Final<sup>2</sup></td>

                    <td>&nbsp;</td>

                    <td>&nbsp;</td>
                </tr>

                <tr>
                    <td>1953/54</td>

                    <td>Apr 12th</td>

                    <td>Semi Final</td>

                    <td>Torquay United 2-1 Plymouth Argyle&nbsp;</td>

                    <td>Plainmoor</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>&nbsp;</td>

                    <td>Final<sup>2</sup></td>

                    <td>&nbsp;</td>

                    <td>&nbsp;</td>
                </tr>

                <tr>
                    <td>1954/55</td>

                    <td>May 3rd</td>

                    <td>Semi Final</td>

                    <td>Torquay United 4-1 Plymouth Argyle&nbsp;</td>

                    <td>Plainmoor</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>&nbsp;</td>

                    <td>Final<sup>2</sup></td>

                    <td>&nbsp;</td>

                    <td>&nbsp;</td>
                </tr>

                <tr>
                    <td>1955/56</td>

                    <td>Mar 7th</td>

                    <td>Semi Final</td>

                    <td>Plymouth Argyle 4-0 Torquay United&nbsp;</td>

                    <td>Home Park</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>Apr 18th</td>

                    <td>Final</td>

                    <td><b>Plymouth Argyle</b> 3-0 Exeter City</td>

                    <td>Home Park</td>
                </tr>

                <tr>
                    <td>1956/57</td>

                    <td>Apr 24th</td>

                    <td>Semi Final</td>

                    <td>Plymouth Argyle 3-2 Torquay United</td>

                    <td>Home Park</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>May 2nd</td>

                    <td>Final</td>

                    <td><b>Plymouth Argyl</b>e 4-2 Exeter City</td>

                    <td>Home Park</td>
                </tr>

                <tr>
                    <td>1957/58</td>

                    <td>Mar 26th</td>

                    <td>Semi Final</td>

                    <td>Torquay United 3-0 Plymouth Argyle&nbsp;</td>

                    <td>Home Park</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>Apr 31st</td>

                    <td>Final</td>

                    <td><b>Torquay United</b> 3-0 Exeter City</td>

                    <td>Plainmoor</td>
                </tr>

                <tr>
                    <td>1958/59</td>

                    <td>Apr 4th</td>

                    <td>Semi Final</td>

                    <td>Exeter City 6-0 Plymouth Argyle&nbsp;</td>

                    <td>St James Park</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>May 1st</td>

                    <td>Final</td>

                    <td><b>Exeter City</b> 2-1 Torquay United</td>

                    <td>St James Park</td>
                </tr>

                <tr>
                    <td>1959/60</td>

                    <td>May 5th</td>

                    <td>Final</td>

                    <td><b>Plymouth Argyle</b> 4-2 Torquay &amp; Exeter XI</td>

                    <td>Home Park</td>
                </tr>

                <tr>
                    <td>1960/61</td>

                    <td>Apr 19th</td>

                    <td>Final</td>

                    <td><b>Torquay &amp; Exeter XI</b> 2-1 Plymouth Argyle&nbsp;</td>

                    <td>Plainmoor</td>
                </tr>

                <tr>
                    <td>1961/62</td>

                    <td>Mar 20th</td>

                    <td>Semi Final</td>

                    <td>Exeter City 3-1 Plymouth Argyle&nbsp;</td>

                    <td>St James Park</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>Apr 16th</td>

                    <td>Final</td>

                    <td><b>Exeter City</b> 2-0 Torquay United</td>

                    <td>Plainmoor</td>
                </tr>

                <tr>
                    <td>1962/63</td>

                    <td>Apr 24th</td>

                    <td>Semi Final</td>

                    <td>Plymouth Argyle 2-1 Torquay United&nbsp;</td>

                    <td>Plainmoor</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>May 6th</td>

                    <td>Final</td>

                    <td><b>Exeter City</b> 1-0 Plymouth Argyle&nbsp;</td>

                    <td>St James Park</td>
                </tr>

                <tr>
                    <td>1963/64</td>

                    <td>Feb 3rd</td>

                    <td>Semi Final<sup>1</sup></td>

                    <td>Plymouth Argyle v Torquay United</td>

                    <td>Home Park</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>Apr 28th</td>

                    <td>Final</td>

                    <td><b>Exeter City</b> 4-0 Plymouth Argyle&nbsp;</td>

                    <td>St James Park</td>
                </tr>

                <tr>
                    <td>1964/65</td>

                    <td>Mar 25th</td>

                    <td>Semi Final</td>

                    <td>Plymouth Argyle 3-0 Torquay United&nbsp;</td>

                    <td>Home Park</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>Apr 29th</td>

                    <td>Final</td>

                    <td>Plymouth Argyle 0-1 <b>Exeter City</b></td>

                    <td>Home Park</td>
                </tr>

                <tr>
                    <td>1965/66</td>

                    <td>May 3rd</td>

                    <td>Semi Final</td>

                    <td>Plymouth Argyle 3-2 Exeter City&nbsp;</td>

                    <td>Home Park</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>May 11th</td>

                    <td>Final</td>

                    <td><b>Plymouth Argyle</b> 3-2 Torquay United</td>

                    <td>Plainmoor</td>
                </tr>

                <tr>
                    <td>1966/67</td>

                    <td>Mar 15th</td>

                    <td>Semi Final</td>

                    <td>Plymouth Argyle 1-0 Exeter City</td>

                    <td>St James Park</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>May 8th</td>

                    <td>Final</td>

                    <td><b>Plymouth Argyle</b> 2-1 Torquay United</td>

                    <td>Home Park</td>
                </tr>

                <tr>
                    <td>1967/68</td>

                    <td>Mar 19th</td>

                    <td>Semi Final</td>

                    <td>Exeter City 3-0 Torquay United</td>

                    <td>St James Park</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>May 13th</td>

                    <td>Final</td>

                    <td><b>Exeter City</b> 2-0 Plymouth Argyle&nbsp;</td>

                    <td>St James Park</td>
                </tr>

                <tr>
                    <td>1968/69</td>

                    <td>Feb 17th</td>

                    <td>Semi Final</td>

                    <td>Plymouth Argyle 1-0 Exeter City&nbsp;</td>

                    <td>Home Park</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>Mar 27th</td>

                    <td>Final</td>

                    <td>Torquay United 0-0 Plymouth Argyle&nbsp;</td>

                    <td>Plainmoor</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>May 2nd</td>

                    <td>Replay</td>

                    <td><b>Plymouth Argyle</b> 2-0 Torquay United&nbsp;</td>

                    <td>Home Park</td>
                </tr>

                <tr>
                    <td>1969/70</td>

                    <td>Apr 25th</td>

                    <td>Semi Final</td>

                    <td>Torquay United 2-0 Plymouth Argyle&nbsp;</td>

                    <td>Home Park</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>Apr 28th</td>

                    <td>Final</td>

                    <td><b>Torquay United</b> 1-0 Exeter City</td>

                    <td>Plainmoor</td>
                </tr>

                <tr>
                    <td>1970/71</td>

                    <td>Mar 9th</td>

                    <td>Semi Final</td>

                    <td>Plymouth Argyle 2-1 Exeter City</td>

                    <td>Home Park</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>May 4th</td>

                    <td>Final</td>

                    <td><b>Torquay United </b>4-2 Plymouth Argyle&nbsp;</td>

                    <td>Plainmoor</td>
                </tr>

                <tr>
                    <td>1971/72</td>

                    <td>May 4th</td>

                    <td>Semi Final</td>

                    <td>Exeter City 2-1 Plymouth Argyle&nbsp;</td>

                    <td>St James Park</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>May 8th</td>

                    <td>Final</td>

                    <td><b>Torquay United</b> 1-0 Exeter City</td>

                    <td>Plainmoor</td>
                </tr>

                <tr>
                    <td>1972/73</td>

                    <td>Apr 9th</td>

                    <td>Semi Final</td>

                    <td>Exeter City 2-0 Torquay United</td>

                    <td>St James Park</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>May 4th</td>

                    <td>Final</td>

                    <td><b>Plymouth Argyle</b> 2-1 Exeter City&nbsp;</td>

                    <td>Home Park</td>
                </tr>

                <tr>
                    <td>1973/74</td>

                    <td>&nbsp;</td>

                    <td>Semi Final<sup>1</sup></td>

                    <td>&nbsp;</td>

                    <td>&nbsp;</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>May 9th</td>

                    <td>Final</td>

                    <td><b>Exeter City</b> 3-0 Plymouth Argyle&nbsp;</td>

                    <td>St James Park</td>
                </tr>

                <tr>
                    <td>1984/85</td>

                    <td>Apr 29th</td>

                    <td>Semi Final</td>

                    <td>Exeter City 1-0 Torquay United</td>

                    <td>St James Park</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>May 13th</td>

                    <td>Final</td>

                    <td><b>Exeter City</b> 1-1 Plymouth Argyle (6-5 pens)</td>

                    <td>St James Park</td>
                </tr>

                <tr>
                    <td>1985/86</td>

                    <td>May 5th</td>

                    <td>Semi Final</td>

                    <td>Exeter City 3-0 Torquay United</td>

                    <td>St James Park</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>May 7th</td>

                    <td>Final</td>

                    <td><b>Exeter City</b> 4-2 Plymouth Argyle&nbsp;</td>

                    <td>Home Park</td>
                </tr>

                <tr>
                    <td>1986/87</td>

                    <td>May 12th</td>

                    <td>Semi Final</td>

                    <td>Exeter City 5-1 Torquay United</td>

                    <td>Clyst St Mary</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>Aug 3rd</td>

                    <td>Final</td>

                    <td><b>Exeter City</b> 1-0 Plymouth Argyle&nbsp;</td>

                    <td>St James Park</td>
                </tr>

                <tr>
                    <td>1993/94</td>

                    <td>Jul 31st</td>

                    <td>&nbsp;</td>

                    <td>Exeter City 1-2 Torquay United</td>

                    <td>St James Park</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>Aug 4th</td>

                    <td>&nbsp;</td>

                    <td>Plymouth Argyle 3-0 Exeter City&nbsp;</td>

                    <td>Home Park</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>Aug 10th</td>

                    <td>&nbsp;</td>

                    <td>Torquay United 0-1 <b>Plymouth Argyle</b><sup>4</sup></td>

                    <td>Plainmoor</td>
                </tr>

                <tr>
                    <td>1994/95</td>

                    <td>Aug 1st</td>

                    <td>&nbsp;</td>

                    <td>Torquay United 1-2 Exeter City</td>

                    <td>Plainmoor</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>Aug 2nd</td>

                    <td>&nbsp;</td>

                    <td>Torquay United 2-2 Plymouth Argyle&nbsp;</td>

                    <td>Plainmoor</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>

                    <td>Aug 9th</td>

                    <td>&nbsp;</td>

                    <td>Exeter City 0-3 <b>Plymouth Argyle</b><sup>4</sup></td>

                    <td>St James Park</td>
                </tr>
            </tbody>
        </table><br>
        <table border="0" cols="2" width="309" style="border-collapse: collapse" bordercolor="#111111" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td width="299">
                        <p style="margin-top: 0; margin-bottom: 0"><sup>1</sup> Results not recorded</p>
                    </td>

                </tr>

                <tr>
                    <td width="299">
                        <p style="margin-top: 0; margin-bottom: 0"><sup>2</sup> Finals not played</p>
                    </td>

                </tr>

                <tr>
                    <td width="299">
                        <p style="margin-top: 0; margin-bottom: 0">
                            <sup>3</sup>
                            Argyle went through to final on the toss of a coin
                        </p>
                    </td>

                </tr>

                <tr>
                    <td width="299">
                        <p style="margin-top: 0; margin-bottom: 0">
                            <sup>4</sup>
                            Argyle won round-robin tournament
                        </p>
                    </td>

                </tr>
            </tbody>
        </table>
        <br>
    </center>
</div>
</html>