@page
@model GoSWeb.Pages.teampic47_48Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic46-47">&lt; 1946-47</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1947-48</div>
        <div class="head3"><a href="teampic48-49">1948-49 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1947-48.jpg">
        <p class="caption">
            <i>Back row: </i>J. Oakes, S. Dixon, R. Pengelly, M. Tadman, S. Rawlings, B. Purvis, R. Warren, W. Adams, C. Miller, A. Knight
        </p><p class="caption">
            <i>Third row:</i> C. Greenaway, A. Holland, J. Davies, G. Silk, G. Wright, W. Shortt, D. Thomas, S. Rundle, C. Livsey, L. Boyd
        </p><p class="caption">
            <i>Second row:</i> A. Gorman, P. Ratcliffe, W. Strauss, P. Jones, L. Jones, J. Tresadern, J. Rae, E. Stuttard, J. Buist, A. Miller, R. Royston, W. Harper
        </p><p class="caption">
            <i>Front row:</i> E. Carless, R. Tregaskis, A. Hall, L. Tinkler, M. Murphy, F. Mitcheson, J. Mulholland
        </p>
    </div>
</div>