@page
@model GoSWeb.Pages.teampic57_58Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic56-57">&lt; 1956-57</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1957-58</div>
        <div class="head3"><a href="teampic58-59">1958-59 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1957-58.jpg">
        <p class="caption">
            <i>Back row: </i>G. Adams, B. Jasper, I. Griffiths, G. Barnsley, R. Wyatt, H. Brown, H. Brown, J. Nightingale, M. Kimberley, P. Langman
        </p><p class="caption">
            <i>Middle row:</i> G. Taylor, R. Shorthouse, G. Peach, P. Jones, D. John, G. Robertson, J. Williams, I. Lavers, H. Tilley, H. Penk, G. Reed
        </p><p class="caption">
            <i>Front row:</i> P. Anderson, W. Carter, T. Baker, C. Dougall, J. Rowley, N. Langman, K. Mitchell, G. Quinn, C. Twissell
        </p>
    </div>
    <div class="image">
        <img src="images/1957-58a.jpg">
        <p class="caption">
            <i>Back row: </i>P. Langman, H. Penk, G. Barnsley, G. Quinn, W. Carter, T. Barrett, H. Brown, P. Anderson, G. Baker
        </p><p class="caption">
            <i>Front row:</i> N. Dougall, J. Gauld, G. Robertson, R. Tilley, R. Wyatt
        </p>
    </div>
</div>