@page
@model GoSWeb.Pages.teampic49_50Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic48-49">&lt; 1948-49</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1949-50</div>
        <div class="head3"><a href="teampic50-51">1950-51 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1949-50a.jpg">
        <p class="caption">
            <i>Back row: </i>A. McShane, S. Dixon, G. Dews, W. Shortt, L. Major, A. Greenaway, M. Tadman, R. Pengelly
        </p><p class="caption">
            <i>Middle row:</i> H. Ross, J. Robertson, G. Silk, G. Willis, G. Astall, W. Strauss, J. Porteous, R. Wilson, D. Franklin, N. Dougall, S. Rundle, G. Reed
        </p><p class="caption">
            <i>Front row:</i> A. Williams, F. Squires, G. Taylor, A. Govan, R. Goddard, E. Edds, J. Hartery, P. Ratcliffe, P. Jones
        </p>
    </div>
    <div class="image">
        <img src="images/1949-50.jpg">
        <p class="caption">
            <i>Left to right: </i>J. Porteous, T. McShane, F. Squires, G. Astall, A. Govan, G. Willis, W. Shortt, M. Tadman, P. Ratcliffe, G. Taylor, P. Jones, G. Dews, W. Strauss, Ross
        </p>
    </div>
    <div class="image">
        <img src="images/1949-50b.jpg">
        <p class="caption">
            <i>Back row: </i>W. Temple, G. Silk, J. Porteous, S. Dixon, W. Shortt, G. Taylor, P. Jones
        </p><p class="caption">
            <i>Front row:</i> W. Strauss, F. Squires, M. Tadman, G. Dews, A. Williams
        </p><p class="caption">
            <i>Insets:</i> J. Chisholm
            N.Dougall
        </p>
    </div>
</div>