@page
@model GoSWeb.Pages.teampic31_32Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic30-31">&lt; 1930-31</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1931-32</div>
        <div class="head3"><a href="teampic32-33">1932-33 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1931-32.jpg">
        <p class="caption">
            <i>Back row: </i>R. Thompson, W. Bland, H. Roberts, H. Cann, G. Stanbury, L. Birks, F. Titmuss, A. Turner
        </p><p class="caption">
            <i>Middle row:</i> S. Atterbury, D. Mackay, W. Fellows, N. Mackay, F. McKenzie, W. Pullen, A. Hardie, G. Reed, A. Bird, J. Wilson, T. Haynes
        </p><p class="caption">
            <i>Front row:</i> A. Matthews, F. Sloan, T. Grozier, E. Bowden, J. Mantle, J. Vidler, J. Leslie, S. Black, J. Leitch, A. Gorman
        </p>
    </div>
    <div class="image">
        <img src="images/1931-32a.jpg">
        <p class="caption">
            <i>Back row: </i>T. Haynes, N. Mackay, W. Pullen, J. Leslie, H. Cann, A. Gorman, J. Rae, F. Titmuss
        </p><p class="caption">
            <i>Front row:</i> T. Grozier, R. Bowden, E. Melaniphy, S. Black, J. Vidler
        </p>
    </div>
</div>