@page
@model GoSWeb.Pages.teampic27_28Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic26-27">&lt; 1926-27</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1927-28</div>
        <div class="head3"><a href="teampic28-29">1928-29 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1927-28.jpg">
    </div>
</div>