@page
@model GoSWeb.Pages.teampic2003_04Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic2002-03">&lt; 2002-03</a></div>
        <div class="head2">PLYMOUTH ARGYLE 2003-04</div>
        <div class="head3"><a href="teampic2004-05">2004-05 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/2003-2004.jpg">
        <p class="caption">
            <i>Back Row:</i> D. Newton, P. Connolly, M. Villis, R. Trudgian, L. McCormick, R. Larrieu, G. Coughlan, M. Evans, B. Sturrock, J. Blackley
        </p><p class="caption">
            <i>Middle Row:</i> G. Crudgington, I. Pearce, S. Adams, D. Worrell, T. Capaldi, N. Lowndes, P. Gilbert, D. Friio, I. Stonebridge, L. Hodges, M. Keith, J. Bent, J. James, I. Leigh.
        </p><p class="caption">
            <i>Front Row:</i> D. Beresford, H. Aljofree, P. Wotton, K. Summerfield, P. Sturrock, P. Stapleton, P. Maxwell, D. Norris, B. McGlinchey, M. Phillips
        </p>
    </div>
    <div class="image">
        <img src="images/2003-04champs.jpg">
        <p class="caption">
            <i>Back Row:</i> D. Worrell, I. Stonebridge, R. Larrieu, M. Villis, L. McCormick, G. Coughlan, B. Sturrock
        </p><p class="caption">
            <i>Middle Row:</i> G. Crudgington, M. Keith, N. Lowndes, T. Capaldi, M. Evans, D. Friio, S. Adams, P. Gilbert, J. Bent, J. Blackley
        </p><p class="caption">
            <i>Front Row:</i> P. Connolly, H. Aljofree, P. Wotton, K. Summerfield, B. Williamson, P. Maxwell, D. Norris, L. Hodges, M. Phillips
        </p>
    </div>
    <div class="image">
        <img src="images/2003-04champs2.jpg">
    </div>
</div>