@page
@model GoSWeb.Pages.teampic2006_07Model
@{
}
<div id="teampic">
<div class="head">
<div class="head1"><a href="teampic2005-06">&lt; 2005-06</a></div>
<div class="head2">PLYMOUTH ARGYLE 2006-07</div>
<div class="head3"><a href="teampic2007-08">2007-08 &gt;</a></div>
</div>
<div class="image">
        <img src="images/2006-2007.jpg">
<p class="caption"><i>Back Row:</i> S. Gibson, R. Reid, T. Capaldi, L. McCormick, R. Larrieu, J. Clapham, L. Hodges, M. Kouo-Doumbe, S. Laird, K. Black
</p><p class="caption"><i>Middle Row:</i> I. Pearce, G. Crudgington, G. Sawyer, L. Nalis, A. Barness, P. Connolly, S. Ebanks-Blake, N. Chadwick, B. Djordjic, D. Bulpin, P. Maxwell
</p><p class="caption"><i>Front Row:</i> L. Summerfield, R. Dickson, H. Aljofree, P. Stapleton, P. Wotton, I. Holloway, B. Hayles, D. Norris, A. Buzsaky
</p></div>
</div>