@page
@model GoSWeb.Pages.teampic2008_09Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic2007-08">&lt; 2007-08</a></div>
        <div class="head2">PLYMOUTH ARGYLE 2008-09</div>
        <div class="head3"><a href="teampic2009-10">2009-10 &gt;</a></div>
    </div>
    <p style="margin-top: 12px;">
        <b>
            1. <a href="#pic1">Sep 2008</a>&nbsp; 2. <a href="#pic2">Apr 2009</a>&nbsp; 3.
            <a href="#pic3">Apr 2009</a>
        </b>
    </p>
    <a name="pic1">
    </a><div class="image">
        <a name="pic1">
            <img src="images/2008-2009.jpg" border="0">
            <p class="caption">
                <i>Back Row:</i>S. Meddleton, D. McNamee, J. Paterson, M. Seip, L. Saxton, R. Larrieu, G. Stack, M. Kouo-Doumbe, S. White, J. Mackie, S. Russell
            </p><p class="caption">
                <i>Middle Row:</i> B. Kilroy, S. MacLean, L. Summerfield, Y. Folly, S. Walton, C. Cathcart, R. Fallon, P. Gallagher, K. Timar, A. Barnes, C. Barker, Y. Bolasie, I. Pearce
            </p><p class="caption"><i>Front Row:</i> G. Sawyer, N. Marin, J. Puncheon, K. Duguid, P. Maxwell, K. Summerfield, P. Sturrock, J. Blackley, G. Crudgington, C. Clark, C. Noone, D. Smith, E. Mpenza</p>
        </a><a name="pic2">
            <img src="images/2008-09a.jpg" border="0">
            <p></p><p>
                <i>Back Row:</i> G.Sawyer,  J.Paterson, M.Seip, P.Gallagher, L.Head, M.Kouo-Doumbe
            </p><p class="caption">
                <i>Middle Row:</i> S. MacLean, Y. Folly, C. Barker, L. Saxton, R. Fallon, R. Larrieu, K. Timar, A. Barnes
            </p><p class="caption"><i>Front Row:</i> D. Smith, C. Clark, L. Summerfield, K. Duguid, D. McNamee, J. Easter, C. Noone, J. Mackie</p>
        </a><a name="pic3">
            <img src="images/2008-09b.jpg" border="0">
            <p class="caption">
                <i>Back Row:</i>C. Fletcher, G. Sawyer, J. Paterson, M. Seip, L. Head, P. Gallagher, M. Kouo-Doumbe, J. Easter
            </p><p class="caption">
                <i>Middle Row:</i> G. Donnelly, S. MacLean, Y. Folly, C. Barker, L. Saxton, R. Fallon, R. Larrieu, K. Timar, A. Barnes, J. Mackie, D. Gray
            </p><p class="caption"><i>Front Row:</i> A. Judge, D. McCrory, C. Clark, L. Summerfield, K. Duguid, D. McNamee, C. Noone, D. Smith, R. Douala</p>
        </a>
    </div><a name="pic3">
    </a>
</div>