@page
@model GoSWeb.Pages.teampic54_55Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic53-54">&lt; 1953-54</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1954-55</div>
        <div class="head3"><a href="teampic55-56">1955-56 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1954-55a.jpg">
        <p class="caption">
            <i>Back row: </i>P. Jones, L. Major, J. Chisholm, P. Ratcliffe, B. Short, N. Dougall, G. Taylor (trainer)
        </p><p class="caption">
            <i>
                Front row:
            </i> G.Robertson, G.Dews, S.McCrory, M.Tadman,
            G.Willis,  E.Edds,  J.Porteous
        </p>
    </div>
    <div class="image">
        <img src="images/1954-55.jpg">
        <p class="caption">
            <i>Back row: </i>G. Baker, J. Sargeant, A. Morgan, P. Langman, L. Major, R. Tilley, J. Folland, G. Robertson, D. John
        </p><p class="caption">
            <i>Middle row:</i> G. Taylor, P. Ratcliffe, P. Jones, N. Dougall, T. McArthur, A. McShane, H. McJarrow, R. Shorthouse, E. Edds, G. Reed
        </p><p class="caption">
            <i>Front row:</i> C. Hamilton, K. Thomas, M. Davies, J. Crawford, M. Tadman, J. Porteous, G. Willis, S. McCrory
        </p>
    </div>
</div>