@page
@model GoSWeb.Pages.teampic26_27Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic25-26">&lt; 1925-26</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1926-27</div>
        <div class="head3"><a href="teampic27-28">1927-28 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1926-27.jpg">
        <p class="caption">
            <i>Back row: </i>F. Cosgrove, M. Russell, J. Thomson, F. Craig, D. Livingstone, F. Titmuss
        </p><p class="caption">
            <i>Middle row:</i> T. Haynes, W. Pullen, A. Hardie, F. McKenzie, R. Smith, J. Logan, S. Atterbury
        </p><p class="caption">
            <i>Front row:</i> R. Jack, A. Matthews, F. Forbes, J. Cock, R. Preston, A. Mays, J. Leslie, S. Black
        </p><p class="caption">
            <i>
                Seated:
            </i> J.Healy
            F.Sloan
            R.MacDonald
        </p>
    </div>
</div>