@page
@model GoSWeb.Pages.teampic51_52Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic50-51">&lt; 1950-51</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1951-52</div>
        <div class="head3"><a href="teampic52-53">1952-53 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1951-52.jpg">
        <p class="caption">
            <i>Back row: </i>N. Dougall, P. Jones, B. Shortt, J. Chisholm, P. Ratcliffe, J. Porteous
        </p><p class="caption">
            <i>Front row: </i>G. Astall, G. Dews, M. Tadman, P. Rattray, A. Govan
        </p>
    </div>
    <div class="image">
        <img src="images/1951-52a.jpg">
        <p class="caption">
            <i>Back row:</i> G. Silk, S. Dixon, P. Jones, T. Harris, G. Wright, W. Shortt, R. Goddard, N. Pengelly, R. Nail
        </p><p class="caption">
            <i>Middle row:</i> G. Hackworthy, J. Oakes, S. Rundle, A. Machin, L. Jones, J. Buist, L. Boyd, M. Tadman, B. Greenaway, J. Hartery, A,. Gorman, W. Harper
        </p><p class="caption">
            <i>Front row:</i> P. Ratcliffe, G. Astall, A. Cole, J. C. Tozer, J. Rae, D. Hatherley, W. Strauss
        </p><p class="caption">
            <i>Seated:</i> E. Edds, F. Squires, T. Jones, J. Mulholland, G. Taylor, R. Stuart
        </p>
    </div>
    <div class="image">
        <img src="images/1951-52b.jpg">
        <p class="caption">
            <i>Back row: </i>P. Ratcliffe, T. McShane, B. Shortt, N. Dougall, P. Jones, J. Porteous, G. Reed
        </p><p class="caption">
            <i>
                Front row:
            </i>G.Astall,  P.Rattray, M.Tadman, J.Chisholm, H.Dobbie, A.Govan
        </p>
    </div>
    <div class="image">
        <img src="images/1951-52c.jpg">
    </div>
</div>