@page
@model GoSWeb.Pages.teampic67_68Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic66-67">&lt; 1966-67</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1967-68</div>
        <div class="head3"><a href="teampic68-69">1968-69 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1967-68.jpg">
        <p class="caption">
            <i>Back row: </i>M. Everitt, R. Slee, J. Tedesco, K. Etheridge, M. Reeves, M. Bickle, A. Nelson, J. Sillett, R. Reynolds, J. Bloomfield, A. Rounsevell, D. Baird
        </p><p class="caption">
            <i>Middle row:</i> B. Stewart, D. Neale, J. Hore, S. Davey, P. Foweraker, D. Corbett, P. Shearing, J. Leiper, A. Banks, N. Piper, J. Mitten, G. Say, N. Dougall
        </p><p class="caption">
            <i>Front row:</i> F. Easton, C. Joce, B. Williams, T. Deans, D. Ufton, C. Crookes, J. Newman, R. Daniel, S. Williams, G. Little
        </p><p class="caption">
            <i>Seated:</i> L. McGirl, D. Knapman
            N.Penrhyn, J.Dear
        </p>
    </div>
    <div class="image">
        <img src="images/1967-68a.jpg">
        <p class="caption">
            <i>Back row:</i> N. Piper, K. Etheridge, A. Nelson, D. Baird, P. Shearing, R. Reynolds, M. Bickle, M. Everitt
        </p><p class="caption">
            <i>Front row:</i> A. Banks, S. Davey, J. Hore, D. Neale, D. Ufton, J. Newman, J. Sillett, J. Bloomfield, J. Mitten
        </p>
    </div>
</div>