@page
@model GoSWeb.Pages.teampic76_77Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic75-76">&lt; 1975-76</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1976-77</div>
        <div class="head3"><a href="teampic77-78">1977-78 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1976-77.jpg">
        <p class="caption">
            <i>Back row: </i>A. Rogers, M. Horswill, C. Randell, D. Collins, G. Hurn, B. Hall
        </p><p class="caption">
            <i>Middle row:</i> J. Hamilton, N. Menhinick, N. Ramsbottom, M. Green, P. Barron, G. Banton, B. Johnson
        </p><p class="caption">
            <i>Front row:</i> G. Foster, D. Sutton, C. Harrison, J. Delve, T. Waiters, P. Burrows, P. Mariner, P. Darke, H. McAuley
        </p>
    </div>
    <div class="image">
        <img src="images/1976-77b.jpg">
        <p class="caption">
            <i>Back row: </i>N. Menhinick, B. Johnson, C. Randell, D. Sutton, P. Barron, M. Horswill, D. Collins, G. Foster, A. Rogers
        </p><p class="caption">
            <i>Middle row:</i> B. Howe, T. Eggleston, M. Green, N. Ramsbottom, M. Aleksic, G. Banton, T. Waiters, K. Blunt, M. Hill
        </p><p class="caption">
            <i>Front row:</i> G. Hurn, C. Harrison, P. Burrows, J. Hamilton, J. Delve, P. Darke, H. McAuley, B. Hall, P. Mariner
        </p>
    </div>
    <div class="image">
        <img src="images/1976-77a.jpg">
    </div>
</div>