@page
@model GoSWeb.Pages.teampic2010_11Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic2009-10">&lt; 2009-10</a></div>
        <div class="head2">PLYMOUTH ARGYLE 2010-11</div>
        <div class="head3"><a href="teampic2011-12">2011-12 &gt;</a></div>
    </div>
    <div class="image">
        <img border="0" src="images/2010-2011.jpg">
        <p class="caption">
            <i>Back Row:</i> A. Peterlin, S. MacLean, L. Summerfield, B. Wright-Phillips, K. Arnason, R. Johnson, R. Fallon, J. Trott, J. Paterson, J. Mason, O. Bhasera
        </p><p class="caption">
            <i>Middle Row:</i> R. Leonard, L. Head, K. Timar, R. Larrieu, D. Button, O. Chenoweth, B. N'Gala, M. Seip, Y. Bolasie, S. Kinsella
        </p><p class="caption"><i>Front Row:</i>R. Patterson, L. Molyneux, D. Johnson, K. Duguid, P. Mariner (Head Coach), P. Reid (Manager), J. Carver (Asst. Coach), C. Fletcher, C. Noone, C. Clark, L. Manuel</p>
    </div>
    <div class="image">
        <img border="0" src="images/2010-11a.jpg">
    </div>
</div>