@page
@model GoSWeb.Pages.teampic39_40Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic38-39">&lt; 1938-39</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1939-40</div>
        <div class="head3"><a href="teampic45-46">1945-46 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1939-40.jpg">
        <p class="caption">
            <i>Back row:</i> B. Harper, Halliwell, J. Rae, S. Kirkwood, Murray, Ainsworth, D. Thomas, P. Glover, Warhurst, M. Middleton, J. Dugnolle, H. Lane, B. Hurst, E. Smith,
            Day
        </p><p>
            <i>Middle row:</i> S.Dixon, Weston, E.Stuttard, C.Sargeant, W.MacDonald,
            L.Jones, C.Lewis, B.Olver
        </p><p>
            <i>Front row:</i> J.Clark, B.Archer, A.Gorman,
            A.Dyer, T.Parnaby, G.Silk
            &nbsp;
        </p>
    </div>
    <div id="base">
        <p>
            Greens on Screen is run as a service to fellow supporters, in all good
            faith, without commercial or private gain. &nbsp;I have no wish to abuse
            copyright regulations and apologise unreservedly if this occurs.&nbsp;If you own
            any of the material used on this site, and object to its inclusion, please
            get in touch using the 'Contact Us' button at the top of each page.
            <span class="noprint">
                Search facility powered by <a href="http://www.jrank.org/">JRank Search Engine</a>.
                UK time at page load: 06 March 2023, 10:58.
            </span>
        </p>
    </div>


</div>