@page
@model GoSWeb.Pages.teampic52_53Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic51-52">&lt; 1951-52</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1952-53</div>
        <div class="head3"><a href="teampic53-54">1953-54 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1952-53a.jpg">
        <p class="caption">
            <i>Back row: </i>L. Horne, D. John, P. Jones, P. Ratcliffe, E. Kevern, P. Langman, G. Robertson, H. Tilley, J. Smith. P. McKenna, A. McShane
        </p><p class="caption">
            <i>Middle row:</i> G. Taylor, G. Dews, H. Jelly, N. Dougall, R. Shorthouse, L. Major, W. Shortt, J. Chisholm, J. Porteous, L. Kneebone, G. Reed, J. Rae
        </p><p class="caption">
            <i>Front row:</i> W. Strauss, S. McCrory, A. Govan, G. Astall, G. Willis, M. Tadman, E. Davis, H. Dobbie, P. Anderson, L. Evans, A. Smith
        </p>
    </div>
    <div class="image">
        <img src="images/1952-53.jpg">
        <p class="caption">
            <i>Back row: </i>N. Dougall, P. Jones, W. Shortt, P. Ratcliffe, G. Robertson, T. McShane
        </p><p class="caption">
            <i>Front row:</i> G. Astall, G. Dews, M. Tadman, A. Smith, A. Govan
            (mascot name unknown - please tell me if it's you!)
        </p>
    </div>
    <div class="image">
        <img src="images/1952-53b.jpg">
        <p class="caption">
            <i>Back row:</i> P. Jones, L. Major, J. Chisholm, P. Ratclife, B. Shortt, N. Dougall, G. Taylor
        </p><p class="caption">
            <i>Front row:</i> G. Robertson, G. Dews, S. McCrory, M. Tadman, G. Willis, E. Edds, J. Porteous
        </p>
    </div>
</div>