@page
@model GoSWeb.Pages.teampic68_69Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic67-68">&lt; 1967-68</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1968-69</div>
        <div class="head3"><a href="teampic69-70">1969-70 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1968-69.jpg">
        <p class="caption">
            <i>Back row: </i>N. Piper, M. Reeves, S. Davey, J. Tedesco, D. Burnside, D. Neale, J. Hore, C. Sullivan
        </p><p class="caption">
            <i>Middle row:</i> R. Stewart, C. Toms, M. Bickle, E. Burgess, A. Nelson, K. Wiffen, P. Dunne, M. Clamp, G. Street, R. Reynolds, J. Copp, E. Stuttard, F. Lord
        </p><p class="caption">
            <i>Front row:</i> F. Easton , J. Hall, B. Williams, C. Crooks, W. Bingham, R. Saxton, R. Daniel, T. Deans, C. Joce, S. Williams, P. Skinnard
        </p><p class="caption">
            <i>Seated: </i>M. Maynard, M. Dowling
            R.Blight, P.Chapman, K.Hartnell
        </p>
    </div>
    <div class="image">
        <img src="images/1968-69b.jpg">
        <p class="caption">
            <i>Back row:</i> N. Piper, M. Reeves, J. Tedesco, D. Burnside, C. Sullivan
        </p><p class="caption">
            <i>Middle row:</i> B. Stewart, J. Hore, P. Dunne, A. Nelson, M. Clamp, E. Burgess, F. Lord
        </p><p class="caption">
            <i>Front row:</i> M. Bickle, S. Davey, B. Bingham, B. Saxton, R. Reynolds, D. Neale
        </p>
    </div>
    <div class="image">
        <img src="images/1968-69a.jpg">
        <p class="caption">
            <i>Back row:</i> J. Hore, C. Sullivan, D. Burnside
        </p><p class="caption">
            <i>Middle row:</i> D. Neale, D. Trainor, F. Molyneux, P. Dunne, F. Lord, R. Reynolds, M. Reeves
        </p><p class="caption">
            <i>Front row:</i> A. Maher, S. Davey, N. Piper, B. Bingham, M. Bickle, J. Tedesco
        </p>
    </div>
</div>