@page
@model GoSWeb.Pages.teampic61_62Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic60-61">&lt; 1960-61</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1961-62</div>
        <div class="head3"><a href="teampic62-63">1962-63 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1961-62.jpg" width="980">
        <p class="caption">
            <i>Back row: </i>M. Reeves, G. Kirby, G. Fincham, J. Leiper, D. Maclaren, R. Smith, R. Wyatt, G. Robertson, J. L. Williams
        </p><p class="caption">
            <i>Middle row:</i> G. Taylor, W. Carter, J. Newman, P. Anderson, J. Brown, A. Jackson, K. Maloy, L. Casey, T. Stacey, A. Garden, S. Brace, J. Williams
        </p><p class="caption">
            <i>Front row:</i> J. McAnearney, K. Williams, N. Dougall, P. Skinnard, D. James, R. Hunt, J. Hall, J. Lowe, A. Thorne, B. Fulton
        </p><p class="caption">
            <i>Seated:</i> A. Rounsevell, C. Buckingham, D. Roberts, R. Davis
        </p>
    </div>
</div>