@page
@model GoSWeb.Pages.teampic22_23Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic21-22">&lt; 1921-22</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1922-23</div>
        <div class="head3"><a href="teampic23-24">1923-24 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1922-23.jpg">
        <p class="caption">
            <i>Back row: </i>J. Devine, F. Cosgrove, J. Muir, W. Cook, P. Corcoran, W. Frost, J. Little, C. Miller
        </p><p class="caption">
            <i>Second row:</i> T. Haynes, I. Lathlean, J. Hill, J. Logan, R. Jack, J. Jobson, C. Eastwood, S. Atterbury, A. Rhodes
        </p><p class="caption">
            <i>Third row:</i> J. Dickinson, B. Bowler, H. Batten, H. Kirk, M. Russell, W. Forbes, H. Raymond, W. Baker, A. Rowe
        </p><p class="caption">
            <i>Front row:</i> J. Kirkpatrick, J. Fowler, J. Walker, T. Gallogley, F. Richardson, R. R. Jack, J. Leslie, A. Wilson
        </p>
    </div>
</div>