@page
@model GoSWeb.Pages.teampic2005_06Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic2004-05">&lt; 2004-05</a></div>
        <div class="head2">PLYMOUTH ARGYLE 2005-06</div>
        <div class="head3"><a href="teampic2006-07">2006-07 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/2005-2006.jpg">
        <p class="caption">
            <i>Back Row:</i> M. Kouo-Doumbe, S. Laird, L. Nalis, C. Zebroski, P. Maxwell, T. Capaldi, R. Reid, H. Aljofree, L. Hodges
        </p><p class="caption">
            <i>Middle Row:</i> I. Pearce, L. Parsons, T. Pulis, V. Pericard, L. McCormick, R. Larrieu, D. Norris, D. Kemp, M. O'Connor, G. Crudgington
        </p><p class="caption">
            <i>Front Row:</i> R. Brevett, L. Summerfield, P. Connolly, N. Chadwick, P. Wotton, M. Evans, A. Barness, B. Djordjic, R. Dickson
        </p>
    </div>
    <div class="image">
        <img src="images/2005-06a.jpg">
    </div>
</div>