@page
@model GoSWeb.Pages.teampic77_78Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic76-77">&lt; 1976-77</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1977-78</div>
        <div class="head3"><a href="teampic78-79">1978-79 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1977-78.jpg">
        <p class="caption">
            <i>From left : </i>K. Smart, J. Delve, F. Binney, A. Rogers, M. Horswill, M. Trusson, B. Johnson, T. Austin, M. Hodge, P. Barron, D. Sutton, G. Banton, B. Taylor, J. Uzzell, C. Harrison, G. Megson, J. Craven, G. Foster
        </p><p class="caption">
            <i>Foreground:</i> M. Kelly
        </p>
    </div>
    <div class="image">
        <img src="images/1977-78a.jpg">
    </div>
    <div class="image">
        <img src="images/1977-78b.jpg">
    </div>
</div>