@page
@model GoSWeb.Pages.teampic32_33Model
@{
}
<div id="teampic">
<div class="head">
<div class="head1"><a href="teampic31-32">&lt; 1931-32</a></div>
<div class="head2">PLYMOUTH ARGYLE 1932-33</div>
<div class="head3"><a href="teampic33-34">1933-34 &gt;</a></div>
</div>
<div class="image">
<img src="images/1932-33.jpg">
</div>
</div>