@page
@model GoSWeb.Pages.teampic80_81Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic79-80">&lt; 1979-80</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1980-81</div>
        <div class="head3"><a href="teampic81-82">1981-82 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1980-81.jpg">
        <p class="caption">
            <i>Back row: </i>J. Collins, M. Graves, N. Hards, F. Phillipson-Masters, G. Crudgington, C. Harrison, B. Johnson
        </p><p class="caption">
            <i>Middle row:</i> K. Hodges, C. Upton, C. Randell, D. Kemp, D. Murphy, L. Cooper, B. McNeil
        </p><p class="caption">
            <i>Front row:</i> J. Uzzell, B. Bason, J. Peachey, G. Foster, J. Sims, S. Morris, T. James
        </p>
    </div>
    <div class="image">
        <img src="images/1980-81a.jpg">
        <p class="caption">
            <i>Back row: </i>C. Randell, B. Bason, J. Collins, C. Upton, N. Hards, D. Kemp, G. Crudgington, M. Graves, C. Harrison, D. Murphy, B. McNeil
        </p><p class="caption">
            <i>Middle row:</i> K. Hodges, J. Uzzell, F. Phillipson-Masters, J. Peachey, J. Sims, G. Foster, S. Morris, T. James, B. Johnson, L. Cooper
        </p><p class="caption">
            <i>Front row: </i>T. Sennin, P. Upton, C. Jeffries, D. Phillips, V. Powell, N. Jarvis, C. Grigg, M. Hart, M. Rowe
        </p>
    </div>
</div>