@page
@model GoSWeb.Pages.teampic1899_00Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic1898-99">&lt; 1898-99</a></div><div class="head2">ARGYLE FC 1899-1900</div><div class="head3"><a href="teampic00-01">1900-01 &gt;</a></div>          
    </div>
    <div class="image">
        <img src="images/1899-00.jpg">
        <p class="caption">
            <i>Back row: </i>T. Floyd (Hon. Sec.), F. Crouch (Hon. Treasurer), E. A. Duncalf, P. N. Buchan, A. Ledington, W. Nicol, C. N. Spooner (President)
        </p><p class="caption">
            <i>Middle row:</i> C. Peters, C. H. Hovey, C. Pethick, F. A. Derry
        </p><p class="caption">
            <i>Front row:</i> S. Vosper, R. P. Holmes, H. E. Rose, R. Dann, D. Pascho
        </p>
    </div>
</div>
