@page
@model GoSWeb.Pages.teampic65_66Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic64-65">&lt; 1964-65</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1965-66</div>
        <div class="head3"><a href="teampic66-67">1966-67 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1965-66.jpg">
        <p class="caption">
            <i>Back row: </i>C. Buckingham, N. Jennings, T. Rounsevell, N. Sykes, G. Nicholas, M. Reeves, J. Williams
        </p><p class="caption">
            <i>Second row: </i>C. Jackson, B. Jones, J. Hore, N. Piper, G. Stephens, M. Trebilcock, S. Brace, D. Neale
        </p><p class="caption">
            <i>Third row: </i>N. Dougall, G. Little, D. Corbett, J. Leiper, N. Dwyer, F. Shipley, R. Reynolds, F. Lord, G. Taylor
        </p><p class="caption">
            <i>Seated:</i> T. Book, D. Fletcher, R. Daniel, D. Ufton, J. Newman, S. Williams, C. Crookes, B. Williams, D. Baird
        </p><p class="caption">
            <i>Front row</i>: J. Tedesco, G. Say, G. Southcott, S. Davey
        </p>
    </div>
    <div class="image">
        <img src="images/1965-66a.jpg">
        <p class="caption">
            <i>Back row:</i> D. Neale, M. Reeves, C. Jackson, J. Leiper, N. Dwyer, R. Reynolds, D. Baird, F. Lord
        </p><p class="caption">
            <i>Front row:</i> B. Jones, N. Jennings, T. Book, D. Ufton, J. Newman, J. Williams, M. Trebilcock, G. Taylor
        </p>
    </div>
</div>