@page
@model GoSWeb.Pages.teampic2017_18Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic2016-17">&lt; 2016-17</a></div>
        <div class="head2">PLYMOUTH ARGYLE 2017-18</div>
        <div class="head3"><a href="teampic2018-19">2018-19 &gt;</a></div>
    </div>
    <div class="image">
        <img border="0" src="images/2017-2018.jpg">
        <p class="caption"><i>Back Row:</i> G. Sawyer, C. Rose, Y. Songo'o, J. Bentley, J. Ness, A. Taylor-Sinclair, G. Miller, A. Sarcevic</p>
        <p class="caption"><i>Middle Row:</i> R. Taylor, R. Edwards, N. Blissett, T. te Loeke, L. McCormick,  S. Bradley, J. Jervis, J. Sokolik</p>
        <p class="caption"><i>Front Row:</i> L. Ainsworth, D. Fox, A. Fletcher, O. Threlkeld, D. Adams (manager), J. Grant, G. Carey, G. Wylde, R. Lameiras</p>
    </div>
</div>