@page
@model GoSWeb.Pages.teampic29_30Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic28-29">&lt; 1928-29</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1929-30</div>
        <div class="head3"><a href="teampic30-31">1930-31 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1929-30.jpg">
        <p class="caption">
            <i>Back row: </i>M. Russell, H. Bland, M. Mackay, F. Craig, F. McKenzie, F. Titmuss, A. Hardie, T. Haynes
        </p><p class="caption">
            <i>Front row: </i>A. Matthews, T. Grozier, F. Sloan, J. Vidler, R. Bowden, J. Leslie, S. Black
        </p><p class="caption">
            <i>
                Inset
                left:
            </i> H.Cann
        </p><p class="caption">
            <i>Inset right:</i> J. Pullen
        </p>
    </div>
    <div class="image">
        <img src="images/1929-30a.jpg">
        <p class="caption">
            <i>Back row:</i> P. Thompson, F. Cosgrove, H. Bland, H. Cann, G. Stanbury, F. Titmuss, W. Price, F. Harris
        </p><p class="caption">
            <i>Middle row:</i> S. Atterbury, D. Mackay, N. Mackay, W. Fellowes, F. McKenzie, J. Pullen, A. Hardie, T. Haynes
        </p><p class="caption">
            <i>Front row:</i> A. Matthews, J. Healey, T. Grozier, F. Sloan, J. Vidler, J. Leslie, S. Black, D. Prentice, J. Leitch
        </p><p class="caption">
            <i>Inset's:</i> A. Bird, H. Roberts, R. Bowden
        </p>
    </div>
    <div class="image">
        <img src="images/1929-30b.jpg">
    </div>
</div>