@page
@model GoSWeb.Pages.teampic09_10Model
@{
}
<div id="teampic">
<div class="head">
<div class="head1"><a href="teampic08-09">&lt; 1908-09</a></div>
<div class="head2">PLYMOUTH ARGYLE 1909-10</div>
<div class="head3"><a href="teampic10-11">1910-11 &gt;</a></div>
</div>
<div class="image">
<img src="images/1909-10.jpg">
<p class="caption"><i>Back row: </i>Messrs Edmonds, Bishop and Jaques (Directors)</p> 
<p class="caption"><i>Fourth row: </i>L. H. Crabb (Team Sec), S. Fagan, J.W. Sutcliffe (Vice-Captain), J. Butler, W. Horne, S. Atterbury, S. Cole (Sec. &amp; Director)</p> 
<p class="caption"><i>Third row:</i> T.H. Haynes (Asst. Trainer), J. McCormick, H. Wilcox, J. Boyd, I. Evenson (Captain), J. Simmons, J. Upton (Trainer)</p>
<p class="caption"><i>Second row:</i> H. Leavey, J. Wood, D. Griffiths, J. Hindmarsh, S. Broome, S. Lamb</p>
<p class="caption"><i>Front row:</i> P.C. Evans, F. Burch, H. Raymond</p>
</div>
</div>