@page
@model GoSWeb.Pages.teampic72_73Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic71-72">&lt; 1971-72</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1972-73</div>
        <div class="head3"><a href="teampic73-74">1973-74 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1972-73.jpg">
        <p class="caption">
            <i>Back row: </i>P. Darke, N. Hague, J. Hinch, K. Allen, R. Saxton
        </p><p class="caption">
            <i>Middle row: </i>M. Dowling, S. Davey, P,Balac, L. Latcham, A. Welsh
        </p><p class="caption">
            <i>Front row: </i>D. Rickard, C. Sullivan, H. Reed, D. Provan, J. Hore, A. Harris, R. Brown
        </p>
    </div>
    <div class="image">
        <img src="images/1972-73a.jpg">
        <p class="caption"><i>Back row: </i>M. Aleksic, R. Saxton,</p><p class="caption">
            <i> </i>P. Darke, K. Allen, J. Hinch, D. Provan, N. Hague, M. Dowling, J. Furnell
        </p><p class="caption">
            <i>Front row: </i>L. Latcham, S. Davey, J. Hore, H. Reed, D. Rickard, C. Sullivan, A. Welsh, R. Lugg
        </p>
    </div>
</div>