@page
@model GoSWeb.Pages.teampic2015_16Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic2014-15">&lt; 2014-15</a></div>
        <div class="head2">PLYMOUTH ARGYLE 2015-16</div>
        <div class="head3"><a href="teampic2016-17">2016-17 &gt;</a></div>
    </div>
    <div class="image">
        <img border="0" src="images/2015-2016.jpg">
        <p class="caption"><i>Back Row:</i> G. Sawyer, J. Simpson, B. Purrington, H. Boateng, P. Hartley, R. Reid, C. McHugh</p>
        <p class="caption"><i>Middle Row:</i> N. Lunnon (kit man), T. Harvey, A. Bentley, J. Jervis, J. Bittner, L. McCormick, R. Brunt, K. Mellor, D. Smalley, P. Atkinson (physiotherapist), M. Neil (football analyst)</p>
        <p class="caption"><i>Front Row:</i> C. Brewster (assistant manager), L. Rooney, L. Cox, G. Carey, D. Adams (manager), C. Nelson, G. Wylde, C. Hall, P. Wotton (first team coach)</p>
    </div>
</div>