@page
@model GoSWeb.Pages.teampic99_2000Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic98-99">&lt; 1998-99</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1999-2000</div>
        <div class="head3"><a href="teampic2000-01">2000-01 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1999-2000.jpg">
        <p class="caption">
            <i>Back row: </i>P. McGregor, D. Bastow, I. Stonebridge, B. McGovern, J. Sheffield, K. Veysey, J. Beswetherick, L. Phillips, A. Barrett, S. Adams
        </p><p class="caption">
            <i>Middle row: </i>C. Souness, K. Summerfield, J. Rowbotham, C. Hargreaves, J. Ashton, M. Heathcote, S. McCarthy, P. Gibbs, C. Leadbitter, P. Maxwell, P. Atkinson
        </p><p class="caption">
            <i>Front row: </i>J. James, K. Wills, B. Belgrave, M. Barlow, K. Hodges, S. McCall, W. O'Sullivan, J. Morrison-Hill, L. Ford, I. Pierce
        </p>
    </div>
    <div class="image">
        <img src="images/1999-2000a.jpg">
        (same picture but with more accurate colours!)
    </div>
    <div class="image">
        <img src="images/1999-2000b.jpg">
    </div>
    <div class="image">
        <img chopsy's="" testimonial="" team="" picture="" <="" div="">
    </div>
</div>