@page
@model GoSWeb.Pages.teampic2020_21Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic2019-20">&lt; 2019-20</a></div>
        <div class="head2">PLYMOUTH ARGYLE 2020-21</div>
        <div class="head3"><a href="teampic2021-22">2021-22 &gt;</a></div>
    </div>
    <div class="image">
        <img border="0" src="images/2020-2021.jpg">
        <p style="text-align: center; margin: -6px 0 12px">
            COVID-19 regulations prevented a conventional team photo this season. Instead, a manufactured image that includes the players from all match squads.
        </p><p class="caption">
            <i>Back Row: </i> 29 Timmy Abraham, 25 Sam Woods, 5 Scott Wootton, 2 Kell Watts, 6 Niall Canavan, 24 Jerome Opoku.
        </p><p class="caption">
            <i>Fourth Row: </i> 27 Ryan Law, 14 Ben Reeves, 1 Mike Cooper, 26 Jack Ruddy, 23 Luke McCormick, 43 Tyler Coombes, 28 Panutche Camara, 4 Will Aimson.
        </p><p class="caption">
            <i>Third Row:</i> 7 Frank Nouble, 32 George Cooper, 11 Dom Telford, 16 Lewis Macloud, 31 Luke Jephcott, 18 Tyrese Fornah, 17 Byron Moore, 22 Adam Lewis.
        </p><p class="caption">
            <i>Second Row:</i> 21 Niall Ennis, 15 Conor Grant, 8 Joe Edwards (Team Captain), Ryan Lowe (Manager), Steven Schumacher (Assistant Manager), 3 Gary Sawyer (Club Captain), 10 Danny Mayor, 9 Ryan Hardie.
        </p><p class="caption"><i>Front Row:</i> 38 Ethan Mitchell, 19 Klaidi Lolos, 35 Charlie Miller, 41 Ollie Tomlinson, 36 Finley Craske, 37 Brandon Pursall, 39 Scott Crocker, 20 Adam Randell.</p>
    </div>

</div>