@page
@model GoSWeb.Pages.teampic2018_19Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic2017-18">&lt; 2017-18</a></div>
        <div class="head2">PLYMOUTH ARGYLE 2018-19</div>
        <div class="head3"><a href="teampic2019-20">2019-20 &gt;</a></div>
    </div>
    <div class="image">
        <img border="0" src="images/2018-2019.jpg">
        <p class="caption"><i>Back Row:</i> Sean Porter-Nail (kit man), Gary Sawyer, Joe Riley, Yann Songo'o, Jamie Ness, Freddie Ladapo, Peter Grant, Conor Grant, Antoni Sarcevic, Matt Neil (analyst).</p>
        <p class="caption"><i>Middle Row:</i> Rhys Wilmot (goalkeeping coach), Ollie Osborne (strength and conditioning coach), Ryan Taylor, Ryan Edwards, Kyle Letheren, Niall Canavan, Matt Macey, Calum Dyson, Scott Wootton, Gareth Law (physio), Paul Atkinson (head physio)</p>
        <p class="caption"><i>Front Row:</i> Lionel Ainsworth, Gregg Wylde, Ashley Smith-Brown, Graham Carey, Paul Wotton (assistant manager), Derek Adams (manager), Kevin Nancekivell (first team coach), Joel Grant, David Fox, Tafari Moore, Ruben Lameiras</p>
    </div>
</div>