@page
@model GoSWeb.Pages.teampic2004_05Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic2003-04">&lt; 2003-04</a></div>
        <div class="head2">PLYMOUTH ARGYLE 2004-05</div>
        <div class="head3"><a href="teampic2005-06">2005-06 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/2004-2005.jpg">
        <p class="caption">
            <i>Back Row:</i> S. Crawford, M. Evans, N. Lowndes, R. Larrieu, L. McCormick, G. Coughlan, T. Capaldi, L. Hodges
        </p><p class="caption">
            <i>Middle Row:</i> G. Crudgington, D. Worrell, M. Keith, P. Gilbert, M. Kouo-Doumbe, D. Friio, B. Sturrock, K. Lasley, J. Blackley
        </p><p class="caption">
            <i>Front Row:</i> S. Milne, H. Aljofree, P. Wotton, G. McCabe, B. Williamson, P. Maxwell, D. Norris, S. Adams, L. Makel
        </p>
    </div>
</div>