@page
@model GoSWeb.Pages.teampic2019_20Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic2018-19">&lt; 2018-19</a></div>
        <div class="head2">PLYMOUTH ARGYLE 2019-20</div>
        <div class="head3"><a href="teampic2020-21">2020-21 &gt;</a></div>
    </div>
    <div class="image">
        <img border="0" src="images/2019-2020.jpg">
        <p class="caption">
            <i>Back Row: </i>Neil Lunnon (kit man), Sean Nail (assistant kit man), 17 Byron Moore, 16 Joel Grant, 2 Joe Riley, 15 Conor Grant, 9 Ryan Taylor, 27 Ryan Law, 30 Tom Purrington, 29 Alex Fletcher, John Lucas (Head of Fitness and Conditioning), Abner Bruzzichessi (physiotherapist).
        </p><p class="caption">
            <i>Middle Row: </i>Rhys Wilmot (Goalkeeping Coach), Kevin Nancekivell (First-Team Coach), 19 Klaidi Lolos, 4 Will Aimson, 28 Cameron Sangster, 1 Michael Cooper, 6 Niall Canavan, 24 Alex Palmer, 5 Scott Wootton, 26 Michael Peck, 31 Luke Jephcott, Paul Atkinson (Head Physiotherapist), Jimmy Dickinson (Performance Analyst).
        </p><p class="caption"><i>Front Row:</i> 22 Tafari Moore, 20 Adam Randell, 14 Jose Baxter, 10 Danny Mayor, 7 Antoni Sarcevic, Ryan Lowe (Manager), Steven Schumacher (Assistant Manager), 3 Gary Sawyer (Club Captain), 23 Ashley Smith-Brown, 21 Callum McFadzean, 8 Joe Edwards, 11 Dom Telford.</p>
    </div>
</div>