@page
@model GoSWeb.Pages.teampic13_14Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic12-13">&lt; 1912-13</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1913-14</div>
        <div class="head3"><a href="teampic14-15">1914-15 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1913-14.jpg">
        <p class="caption">
            <i>Back row: </i>J. Kirkpatrick, J. Butler, W. Horne, S. Atterbury, W. Dixon
        </p><p class="caption">
            <i>Second row:</i> J. Bell, H. Raymond, F. Burch, H. Willcox, W. Baker, B. Bowler, T. Haynes
        </p><p class="caption">
            <i>Third row:</i> B. Barrett, L. Crabb (above), E. Harvey, A. Rogers, W. Sage, J. McCormick, A. Ham, A. Manico, E. Kelland, B. Jack
        </p><p class="caption">
            <i>Front row:</i> W. Olden, S. Quigley, J. Spooner, S. Spooner, A. Gard, B. Edmonds, A. Maunder
        </p>
    </div>
</div>