@page
@model GoSWeb.Pages.teampic64_65Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic63-64">&lt; 1963-64</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1964-65</div>
        <div class="head3"><a href="teampic65-66">1965-66 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1964-65.jpg">
        <p class="caption">
            <i>Back row: </i>D. Neale, J. Williams, D. MacLaren, D. Baird, R. Wyatt, F. Lord
        </p><p class="caption">
            <i>Front row:</i> D. Roberts, C. Jackson, D. Corbett, J. Newman, M. Trebilcock, N. Jennings, B. Cobb
        </p><p class="caption">
            <i>Foreground left:</i> M. Allison (manager)
        </p>
    </div>
    <div class="image">
        <img src="images/1964-65d.jpg">
        <p class="caption">
            <i>Back row: </i>R. Wyatt, P. Galvin, C. Crookes, S. Williams, M. Allison, R. Daniel, D. Fletcher, E. Stuttard
        </p><p class="caption">
            <i>Second row:</i> D. Roberts, M. Trebilcock, D. Corbett, C. Buckingham, D. Maclaren , J. Leiper, G. Nicholas, J. Williams, B. Cobb
        </p><p class="caption">
            <i>Third row:</i> N. Dougall, M. Reeves, D. Neale, J. Newman, S. Brace, C. Jackson, F. Lord, D. Baird, T. Rounsevell, G. Taylor
        </p><p class="caption">
            <i>Front row:</i> T. Martin, N. Jennings, D. Barry, J. Brimble, R. Reynolds, J. Hore, N. Piper
        </p>
    </div>
    <div class="image">
        <img src="images/1964-65b.jpg">
        <p class="caption">
            <i>Back row: </i>J. Williams, D. Baird, T. Book, J. Leiper, N. Dwyer, J. Newman
        </p><p class="caption">
            <i>Front row: </i>M. Reeves, B. Jones, D. Neale, N. Jennings, D. Corbett, C. Jackson, M. Trebilcock, F. Lord
        </p>
    </div>
    <div class="image">
        <img src="images/1964-65a.jpg">
        <p class="caption">
            <i>Back row: </i>D. Neale, T. Book, N. Dwyer, J. Williams, M. Reeves
        </p><p class="caption">
            <i>Front row: </i>D. Corbett, M. Trebilcock, J. Newman, R. Reynolds, G. Nicholas, N. Piper
        </p>
    </div>
    <div class="image">
        <img src="images/1964-65c.jpg">
        <p class="caption">
            <i>Back row: </i>N. Dougall, R. Daniel, D. Neale, J. Williams, T. Book, D. Maclaren, F. Lord, M. Reeves, D. Fletcher, G. Taylor
        </p><p class="caption">
            <i>Front row: </i>M. Allison, S. Williams, M. Trebilcock, B. Jones J. Newman, N. Jennings, C. Jackson, C. Crookes, D. Ufton
        </p>
    </div>
</div>