@page
@model GoSWeb.Pages.teampic60_61Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic59-60">&lt; 1959-60</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1960-61</div>
        <div class="head3"><a href="teampic61-62">1961-62 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1960-61.jpg">
        <p class="caption">
            <i>Back row: </i>W. Carter, D. Roberts, C. Buckingham, G. Barnsley, D. Maclaren, G. Fincham, R. Smith, J. Leiper, M. Reeves, R. Davis
        </p><p class="caption">
            <i>Second row:</i> C. Dougall, R. Jenkins, T. Stacey, G. Robertson, W. Wright, K. Maloy, A. Jackson, B. Fulton, L. Casey, P. Kearns, M. Waterfield, R. Wyatt, J. Williams, G. Taylor
        </p><p class="caption">
            <i>Front row:</i> J. McAnearney, G. Kirby, J. Newman, P. Skinnard, R. Blindell, R. Hunt, J. Hall, J. S. Williams, T. Dann, P. Anderson
        </p><p class="caption">
            <i>Seated:</i> G. Howshall
            A.Rounsevell
        </p>
    </div>
</div>