@page
@model GoSWeb.Pages.teampic34_35Model
@{
}
<div id="sv2" style="width: 992; height: 864">
<div class="head">
<div class="head1"><a href="teampic33-34">&lt; 1933-34</a></div>
<div class="head2">PLYMOUTH ARGYLE 1934-35</div>
<div class="head3"><a href="teampic35-36">1935-36 &gt;</a></div>
</div>
<div class="image">
<img src="images/1934-35.jpg">
<p class="caption"><i>Back row: </i>A. Gorman, J. Demmelweek, H. Roberts, H. Cann, J. McNeill, T. Black, J. Rae
</p><p class="caption"><i>
Front row:</i> T.Grozier, F.Sloan, G.Briggs, S.Black, J.Vidler
</p></div>
<div class="image">
<img src="images/1934-35a.jpg">
<p class="caption"><i>Back row: </i>D. Hill, T. Grozier, H. Roberts, H. Cann, J. Rae, A. Gorman
</p><p class="caption"><i>
Front row:</i> J.Demmelweek, P.Simpson, J.Vidler, G.Briggs, S.Black
</p></div>
</div>