@page
@model GoSWeb.Pages.teampic37_38Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic36-37">&lt; 1936-37</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1937-38</div>
        <div class="head3"><a href="teampic38-39">1938-39 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1937-38.jpg">
        <p class="caption">
            <i>Back row: </i>F. Toothill, F. Hunter, J. Murray, J. Connor, H. Roberts, T. Foley, H. Cann, T. Black, A. Dyer, S. Kirkwood
        </p><p class="caption">
            <i>Middle row: </i>W. Harper, F. Axworthy, D. Robbie, J. Girvan, T. Ryan, R. Jack, T. McColgan, F. Mitcheson, H. Brown, V. Wright, J. McNeil, Dr Cameron, A. Day
        </p><p class="caption"><i>Front row: </i>A. Gorman, T. Dougan, J. Smith, M. Dickie, J. McHarg, J. C. Rae, S. Black, J. Vidler, F. Prescott, M. Morgan, </p><p align="center">
        </p><p class="caption">
            <i>Left:</i> J. Mailey
        </p><p class="caption">
            <i>Right:</i> J. Wharton
        </p>
    </div>
</div>