@page
@model GoSWeb.Pages.teampic45_46Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic39-40">&lt; 1939-40</a></div>
        <div class="head2"></div>
        <div class="head3"><a href="teampic46-47">1946-47 &gt;</a></div>
    </div>
</div>
<div class="image">
<img src="images/1945-46a.jpg">
<p style="margin-top: 9; margin-bottom: 15"></p><p><i>Back row:</i> ?, ?, ?, ?</p><p><i>
Third row: </i>G.Wright, ?, ?, ?, G.Silk, Bobby Brown
</p><p class="caption"><i>
Second row: </i>?, ?, Ron Brown, S.Dixon, ?, L.Tinkler, ?</p><p><i>
Front row: </i>?, ?, ?, ?, ?, ?, ?, ?</p>
</div>
<div class="image">
<img src="images/1945-46.jpg">
<p style="margin-top: 0; margin-bottom: 12"></p><p><i>Back row: </i>B.Royston, L.Jones, A.Tomlinson, B.Harper, B.Shortt,
S.Dixon, G.Cole, B.Hurst
</p><p class="caption"><i>
Front row: </i>H.Butler, B.Adams, P.Brown, M.Gallagher, L.Tinkler,
R.Gibson</p>
</div>