@page
@model GoSWeb.Pages.teampic20_21Model
@{
}
<div id="teampic">
<div class="head">
<div class="head1"><a href="teampic19-20">&lt; 1919-20</a></div>
<div class="head2">PLYMOUTH ARGYLE 1920-21</div>
<div class="head3"><a href="teampic21-22">1921-22 &gt;</a></div>
</div>
<div class="image">
<img src="images/1920-21.jpg">
<p class="caption"><i>Back row: </i>W. Frost, M. Russell, W. Cook, F. Craig, S. Atterbury, J. Heeps
</p><p class="caption"><i>Middle row:</i> T. Haynes, J. Horton, R. Perrett, F. Cosgrove, W. Kellock, J. Hill, J. Logan, W. Forbes, G. Cook, D. Jack, A. Wheaton, W. Hayes, J. Banks
</p><p class="caption"><i>Front row:</i> J. Dickinson, J. Kirkpatrick, T. Gallogley, B. Bowler, G. Sheffield, C. Eastwood, H. Raymond, W. Dixon, J. Little
</p></div>
</div>