@page
@model GoSWeb.Pages.teampic10_11Model
@{
}
<div id="teampic">
<div class="head">
<div class="head1"><a href="teampic09-10">&lt; 1909-10</a></div>
<div class="head2">PLYMOUTH ARGYLE 1910-11</div>
<div class="head3"><a href="teampic11-12">1911-12 &gt;</a></div>
</div>
<div class="image">
<img src="images/1910-11.jpg">
<p class="caption"><i>Back row: </i>A. Wheaton, C. Green, W. Baker, H. Wilcox, J. Butler, J. Sutcliffe, S. Atterbury, W. Horne, A. Crews, T. Haynes
</p><p class="caption"><i>Middle row:</i> J. Caddy, A. Rider, F. Black, F. Burgoyne, A. Crouch, W. Worden, A. Peard, W. Rounsevell, A. Hosking
</p><p class="caption"><i>Front row:</i> R. Jack, D. Griffiths, F. Burch, W. Barton, N. Wood, J. Morrison, L. Crabb
</p></div>
</div>