@page
@model GoSWeb.Pages.teampic2001_02Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic2000-01">&lt; 2000-01</a></div>
        <div class="head2">PLYMOUTH ARGYLE 2001-02</div>
        <div class="head3"><a href="teampic2002-03">2002-03 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/2001-2002.jpg">
        <p class="caption">
            <i>Back row: </i>J. Beswetherick, M. Gritton, R. Larrieu, L. McCormick, M. Evans, G. Coughlan
        </p><p class="caption">
            <i>Middle row:</i> D. Worrell, P. Connolly, S. Adams, D. Friio, M. Reisinho, P. Wotton, C. Taylor
        </p><p class="caption">
            <i>Front row: </i>S. Evers, M. Phillips, I. Stonebridge, K. Summerfield, P. Sturrock, P. Maxwell, J. Broad, K. Wills, B. McGlinchey
        </p>
    </div>
    <div class="image">
        <img src="images/2001-02champs.jpg">
        <p class="caption">
            <i>Back row:</i> J. Beswetherick, C. Taylor, M. Evans, L. Hodges, I. Stonebridge, M. Gritton, J. Broad
        </p><p class="caption">
            <i>Middle row:</i> D. Worrell, N. Heaney, S. Adams, R. Larrieu, L. McCormick, D. Friio, J. Bent, B. McGlinchey
        </p><p class="caption">
            <i>Front row:</i> M. Phillips, G. Coughlan, P. Wotton, K. Summerfield, P. Sturrock, P. Maxwell, M. Keith, K. Wills, B. Sturrock
        </p>
    </div>
</div>