@page
@model GoSWeb.Pages.teampic50_51Model
@{
}
<div id="teampic">
<div class="head">
<div class="head1"><a href="teampic49-50">&lt; 1949-50</a></div>
<div class="head2">PLYMOUTH ARGYLE 1950-51</div>
<div class="head3"><a href="teampic51-52">1951-52 &gt;</a></div>
</div>
<div class="image">
<img src="images/1950-51.jpg">
<p class="caption"><i>Back row: </i>G. Silk, P. Jones, W. Shortt, L. Major, J. Chisholm, E. Bryant, T. McShane, P. Ratcliffe
</p><p class="caption"><i>Middle row:</i> W. Harper, G. Hackworthy, S. Rundle, N. Dougall, M. Tadman, G. Taylor, A. Machin, D. Reid, G. Robertson, G. Dews, N. Pengelly, G. Reed
F</p><p><i>ront row:</i> W.Strauss, G.Astall, J.Porteous, J.Robertson,
N.Roberts, J.C.Tozer, C.Hamilton, G.Willis, A.Govan, H.Dobbie, P.Blatchford
</p></div>
</div>