@page
@model GoSWeb.Pages.teampic95_96Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic94-95">&lt; 1994-95</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1995-96</div>
        <div class="head3"><a href="teampic96-97">1996-97 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1995-96.jpg">
        <p class="caption">
            <i>Back row: </i>A. Comyn, K. Hill, M. Heathcote, K. Blackwell, N. Hammond, K. Nugent, A. Viveash, M. Evans
        </p><p class="caption">
            <i>Middle row:</i> M. Jones, W. Burnett, S. McCall, C. Twiddy, J. Dungey, R. Mauge, M. Patterson, C. Leadbitter, N. Medhurst
        </p><p class="caption">
            <i>Front row:</i> M. Saunders, P. Williams, M. Ross, N. Warnock, D. McCauley, M. Barlow, A. Litlejohn, S. Shilton
        </p>
    </div>
    <div class="image">
        <img src="images/1995-96a.jpg">
        <div class="head">
            <div class="head1"><a href="teampic94-95">&lt; 1994-95</a></div>
            <div class="head2">PLAY-OFF CHAMPIONS</div>
            <div class="head3"><a href="teampic96-97">1996-97 &gt;</a></div>
        </div>
    </div>
    <div class="image">
        <img src="images/1995-96champs.jpg">
    </div>
</div>