@page
@model GoSWeb.Pages.teampic2012_13Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic2011-12">&lt; 2011-12</a></div>
        <div class="head2">PLYMOUTH ARGYLE 2012-13</div>
        <div class="head3"><a href="teampic2013-14">2013-14 &gt;</a></div>
    </div>
    <div class="image">
        <img border="0" src="images/2012-2013.jpg">
        <p class="caption"><i>Back Row: </i>P. Atkinson (physio), I. Vassell, R. Williams, M. Blanchard, J. Cole, R. Gilmartin, O. Chenoweth, M. Lecointe, D. Berry, L. Young, N. Lunnon (kit man). </p>
        <p class="caption"><i>Middle Row: </i>J. Lowry, J. Richards, C. Nelson, P. Wotton, L. Soukouna, R. Griffiths, D. Purse, N. Chadwick, C. Hourihane, J. Gorman. </p>
        <p class="caption"><i>Front Row: </i>J. Copp, A. Gurrieri, P. Cowan-Hall, W. Feeney, K. Nancekivell ()coach), C. Fletcher (manager), R. Larrieu (asst. manager), O. Bhasera, J. Lennox, J. Sims, J. Harper-Penman. </p>
    </div>
    <div class="image">
        <img border="0" src="images/2012-13a.jpg">
        <p class="caption"><i>Back Row: </i>R. Williams, N. Chadwick, D. Purse, C. Nelson, O. Chenoweth, R. Gilmartin, J. Cole, P. Wotton, R. Griffiths, L. Soukouna, J. Gorman. </p>
        <p class="caption"><i>Front Row: </i>D. Berry, C. Hourihane, J. Lennox, A. Gurrieri, J. Sims, M. Blanchard, J. Richards, L. Young, M. Lecointe, I. Vassell, O. Bhasera, J. Lowry, P. Cowan-Hall, J. Harper-Penman, W. Feeney, J. Copp. </p>
    </div>
</div>