@page
@model GoSWeb.Pages.teampic58_59Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic57-58">&lt; 1957-58</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1958-59</div>
        <div class="head3"><a href="teampic59-60">1959-60 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1958-59.jpg">
        <p class="caption">
            <i>Back row: </i>G. Fincham, T. Barrett, G. Barnsley, R. Wyllie, E. Doughty, R. Wyatt
        </p><p class="caption">
            <i>Middle row:</i> G. Taylor, G. Adams, J. Williams, G. Robertson, N. Dougall, D. Downs, D. Sim, J. Hancock, G. Reed
        </p><p class="caption">
            <i>Front row:</i> P. Anderson, C. Twissell, J. Gauld, C. Crookes, R. Blindell, W. Carter, G. Baker, H. Penk
        </p>
    </div>
    <div class="image">
        <img src="images/1958-59a.jpg">
        <p class="caption">
            <i>Back row:</i> J. LWilliams, G. Robertson, D. Downs, J. Williams, J. Rowley, G. Barnsley, R. Wyatt, T. Barrett, N. Dougall, R. Blindell, E. Doughty, G. Taylor
        </p><p class="caption">
            <i>Front row:</i> P. Anderson, J. Gauld, W. Carter, G. Baker, H. Penk
        </p><p class="caption">
            <i>Inset:</i> L. Casey
            W.Bellett
            A.Govan
        </p>
    </div>
</div>