@page
@model GoSWeb.Pages.teampic33_34Model
@{
}
<div id="teampic">
<div class="head">
<div class="head1"><a href="teampic32-33">&lt; 1932-33</a></div>
<div class="head2">PLYMOUTH ARGYLE 1933-34</div>
<div class="head3"><a href="teampic34-35">1934-35 &gt;</a></div>
</div>
<div class="image">
<img src="images/1933-34.jpg">
<p class="caption"><i>Back row:</i> W. Godfrey, M. Mackay, H. Roberts, H. Cann, T. Black, A. Gorman, T. Haynes
</p><p class="caption"><i>
Front row:</i> G.Briggs, E.Melaniphy, J.Cookson, S.Black, J.Vidler,
J.Pullen
</p></div>
<div class="image">
<img src="images/1933-34a.jpg">
<p class="caption"><i>Back row:</i> T. Black, H. Bland, H. Cann, H. Roberts, B. Harper, J. Rae, J. Milne,L. Woosey
</p><p class="caption"><i>
Middle row:</i> S.Atterbury, P.Simpson, J.Pullen, N.Mackay, B.Carter,
G.Forrest, G.Reed,F.McKenzie, W.Godfrey, A.Hardie, T.Haynes
</p><p class="caption"><i>
Front row:</i> T.Bird, J.Demellweek, T.Grozier, F.Sloan, G.Briggs,
J.Cookson, R.Jack, E.Melaniphy, J.Leslie, R.Bungay, J.Vidler
</p><p class="caption"><i>
Seated:</i> S.Black
A.Gorman
</p></div>
</div>