@page
@model GoSWeb.Pages.teampic83_84Model
@{
}
<div id="teampic">
<div class="head">
<div class="head1"><a href="teampic82-83">&lt; 1982-83</a></div>
<div class="head2">PLYMOUTH ARGYLE 1983-84</div>
<div class="head3"><a href="teampic84-85">1984-85 &gt;</a></div>
</div>
<div class="image">
<img src="images/1983-84.jpg">
<p class="caption"><i>Back row: </i>M. Harvey, A. Rogers, C. Harrison, P. Chambers, R. Tomlin, D. Phillips, K. Hodges, L. Cooper, B. Moncur
</p><p class="caption"><i>Front row:</i> G. Staniforth, J. Uzzell, L. Smith, G. Nisbet, G. Crudgington, J. Sims, M. Ham, T. Tynan, M. Rowe, <img src="images/1983-84a. jpg">
</p></div>
<div class="image">
<img src="images/1983-84b.jpg">
</div>
<div class="image">
<img src="images/1983-84c.jpg">
</div>
</div>