@page
@model GoSWeb.Pages.teampic66_67Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic65-66">&lt; 1965-66</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1966-67</div>
        <div class="head3"><a href="teampic67-68">1967-68 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1966-67.jpg">
        <p class="caption">
            <i>Back row: </i>D. Neale, B. Jones, M. Reeves, C. Jackson, D. Corbett, R. Slee, M. Bickle, R. Reynolds, K. Etheridge, A. Rounsevell
        </p><p class="caption">
            <i>Second row:</i> F. Easton, A. Nelson, A. Banks, S. Davey, N. Jennings, P. Shearing, J. Leiper, B. McAuley, N. Piper, J. Hore, J. Tedesco, G. Little
        </p><p class="caption">
            <i>Third row:</i> R. Stewart, D. Baird, H. Deans, R. Daniel, D. Upton, S. Williams, J. Newman, C. Crookes, B. Williams, J. Williams, N. Dougall
        </p><p class="caption">
            <i>Front row:</i> J. Dear, J. Culverwell, L. McGirl, D. Knapman, N. Penrhyn, K. Southcott, G. Say, J. Barnard
        </p>
    </div>
    <div class="image">
        <img src="images/1966-67a.jpg">
    </div>
</div>