@page
@model GoSWeb.Pages.teampic19_20Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic14-15">&lt; 1914-15</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1919-20</div>
        <div class="head3"><a href="teampic20-21">1920-21 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1919-20.jpg">
        <p class="caption">
            <i>Back row: </i>S. Atterbury, W. Horne, F. Craig, M. Russell
        </p><p class="caption">
            <i>Middle row:</i> J. Harker, J. Dickinson, S. Davis, J. McCormick, H. Wilcox, W. Forbes, S. Frost, T. Haynes
        </p><p class="caption">
            <i>Front row:</i> W. Bull, J. Kirkpatrick, T. Gallogley, W. Kellock, W. Dixon, S. Blott, J. Logan
        </p>
    </div>
</div>