@page
@model GoSWeb.Pages.teampic89_90Model
@{
}
<div id="teampic">
<div class="head">
<div class="head1"><a href="teampic88-89">&lt; 1988-89</a></div>
<div class="head2">PLYMOUTH ARGYLE 1989-90</div>
<div class="head3"><a href="teampic90-91">1990-91 &gt;</a></div>
</div>
<div class="image">
<img src="images/1989-90.jpg">
<p class="caption"><i>Back row: </i>M. Barlow, L. Cooper, D. Byrne, D. Garner, O. Pickard, J. Rowbotham, L. Cansfield, K. Brown, K. Hodges, S. Casey
</p><p class="caption"><i>Middle row: </i>M. Harvey, P. Rowe, I. Angus, G. Campbell, R. Wilmot, G. Penhaligon, T. Tynan, J. Brimacombe, M. Stuart, M. Musgrove
</p><p class="caption"><i>Front row: </i>A. Morrison, A. Thomas, P. Whiston, A. Burrows, K. Brown, K. Summerfield, S. McCarthy, N. Marker, M. Smith
</p></div>
<div class="image">
<img src="images/1989-90a.jpg">
</div>
</div>