@page
@model GoSWeb.Pages.teampic2016_17Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic2015-16">&lt; 2015-16</a></div>
        <div class="head2">PLYMOUTH ARGYLE 2016-17</div>
        <div class="head3"><a href="teampic2017-18">2017-18 &gt;</a></div>
    </div>
    <div class="image">
        <img border="0" src="images/2016-2017.jpg">
        <p class="caption">
            <i>Back Row:</i> G. Sawyer, R. Donaldson, C. Smith, J.
            Spencer, M. McCallum, Y. Songo'o, G. Miller, B. Purrington, O. Threlkeld
        </p>
        <p class="caption">
            <i>Middle Row:</i> N. Lunnon (kit man), A. Garita, J. Slew,
            S. Bradley, L. McCormick, V. Dorel, J. Jervis, N. Bulvitis, K. Osbourne, P. Atkinson (physiotherapist), M. Neil (football analyst)
        </p>
        <p class="caption">
            <i>Front Row:</i> C. Brewster (assistant manager), D. Ijaha,
            D. Fox, D. Goodwillie, D. Adams (manager), C. Tanner, G. Carey, L. Rooney, P. Wotton (first team coach)
        </p>
        <p class="caption">Missing on the day: R. Brunt (long-term injured)</p>
    </div>
</div>