@page
@model GoSWeb.Pages.teampic21_22Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic20-21">&lt; 1920-21</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1921-22</div>
        <div class="head3"><a href="teampic22-23">1922-23 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1921-22.jpg">
        <p class="caption">
            <i>Back row: </i>J.H. Hill, F. Cosgrove, P. Corcoran, F.G. Craig, W.C. Cook, S. Atterbury, W. Forbes, J. Logan
        </p><p class="caption">
            <i>Third row: </i>J. Fowler, L.C. Deacon, W.G. Frost, B. Bowler, H.R.V. Counter, W. Pillinger, W. Prouse, E. Jones, M. Russell, A.H. Rhodes (Assistant Trainer)
        </p><p class="caption">
            <i>Second row: </i>T. Haynes (Trainer), H.W. Raymond, J. Devine, J. Smith, H. Kirk, H.G. Batten, J. Heeps, A. Wilson, J.F. Leslie, C.M. Eastwood, A.J. Wheaton (Assistant Trainer)
        </p><p class="caption">
            <i>Front row: </i>J.N. Kirkpatrick, J. Little, T. Gallogley, F. Richardson, J. Dickinson, A.J. Rowe, R.R. Jack
        </p>
    </div>
</div>