@page
@model GoSWeb.Pages.teampic1898_99Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"></div>
        <div class="head2">ARGYLE FC 1898-1899</div>
        <div class="head3"><a href="teampic1899-00">1899-00 ></a></div>
    </div>
    <p style="text-align: center"><b>ACKNOWLEDGEMENTS</b></p>
    <p>
        The two images on this page have been kindly donated to Greens on Screen by PASOTI. The first is
        a scan of an original photograph; the second is an interpretation of how the
        green half of the shirts might have looked, based on other evidence.
    </p>
    <p>
        The original photo had no indication of names, but has been carefully studied
        by Roger Walters, a peerless expert on the life and times of Argyle Football Club (1886-1903). Roger has not only
        provided the names of those in the photo, but also a detailed background - see below. More on Argyle FC can be found in Roger's first ten chapters of the history of the club, <a href="argylehistorymenu"><u>here</u></a>.
    </p>
    <div class="image">
        <img SRC="images/1898-99.jpg">
        <p class="caption"><i>Back row: </i>Francis Crouch ('Patron'), William Rowse [best guess, see below] (Hon. Treasurer), Stanley Vosper, Percy Buchan, Archie Fisher,&nbsp; Clarence Spooner (President), Tom Floyd (Hon. Secretary)
        <p class="caption"><i>Middle row:</i> Charles Shute, Clifton Pethick, Frank Derry
        <p class="caption"><i>Front row:</i> Martin Tozer, J. McRennie, Hugh Rose, Reg Dann, Bruce Spooner</p>
    </div>
    <img SRC="images/1898-99-colour-washed.jpg">
    <p style="margin-top: 18px"><b>ARGYLE FOOTBALL CLUB AT MARSH MILLS IN 1899</b></p>
    <p>
        This photograph was taken on either Saturday 18th March 1899, Devon Senior Cup 2nd Round match v. Tavistock (Argyle won 3-0) at Argyle’s Longbridge ground,
        Marsh Mills, or on Saturday 8th April 1899, Devon Senior Cup Semi-Final v. Lifton (Argyle won 1-0) on the Royal Artillery ground, Marsh Mills.
    </p>
    <p>
        The Argyle line-up for both these matches is as in the photograph except Bruce
        Spooner who was replaced by Albert Ledington on the 8th April, due to the
        serious injury he sustained playing for Devon on the 31st March. Bruce Spooner
        is the player dressed in his day clothes who was to have played outside left on
        the 8th. So is the photograph prior to the 18th March match in which Bruce
        Spooner did play or the 8th April where, as Argyle’s star player, he would have
        played? If you look at his face compared to the others, his downcast demeanour
        tells me it was taken on the 8th April. If it were taken on the 18th March he
        would be in his kit. Albert Ledington, who is in the Marsh Mills 1900
        photograph (for season 1899-1900, see next in the sequence) is not in this 1898-99 photo.
    </p>
    <p>
        There are six players in this photograph that are also in the 1900 Marsh Mills
        photograph, and five of those are in the same playing position. The 1899 and
        1900 photographs are taken in the same spot (in the vicinity of where
        Sainsbury’s car park is today) and using the same bench in both. If you look at
        the tall Percy Buchan, in the back row, he is standing exactly the same in both,
        right arm folded over left and gazing to his right, not at the camera. Both
        photographs are so similar in style it is likely they were taken by the same
        photographer. I know the photographer of the 1900 Argyle line-up to be William
        Grey whose studio/business premises was at 12, Cornwall Street, Plymouth. Grey is listed at this address in the 1897 and the 1902 Kelly’s
        Directory of Devon.
    </p>
    <p>
        This photograph was taken at a major point in the Argyle Football Club history.
        Since formation in 1886 they had achieved almost nothing at a time when there
        was very little opposition. As a club they were held in high regard and very
        important to the history of Devon Association football, but that position was
        based on the middle-class social status of its members rather than results on
        the pitch. Despite its failure it had achieved longer survival than many other
        Devon clubs. The club did go under from 1894 to 97 but was revived because there
        were people who wanted to keep the Argyle name going. This was unusual in Devon
        football for the time. The 1899 (1898-99) photograph heralds a change in outlook and
        fortune for Argyle and this can be attributed to the involvement of Clarence
        Newby Spooner from 1897.
    </p>
    <p>
        The Argyle Football Club, who had never won a title, won the match on the 8th
        April 1899 to make it through to their first Cup Final to be played at The
        Rectory versus the 1st Battalion Royal Welsh Fusiliers on the 22nd April. A
        record 7,000 crowd attended, many of them to cheer Argyle into being the first
        civilian club to win the title for seven seasons. Argyle lost 2-1, attributed to
        the superior fitness of the soldiers and the absence of star man, the injured
        Bruce Spooner. Within two months of the defeat Clarence Spooner formed the
        Argyle Athletic Club which the Argyle Football Club became part of. The club was
        on the up. The following season Argyle won the League, gaining their first
        title, and were winners or runners up in the League, Cup or both in every season
        up to the forming of Plymouth Argyle in 1903.
    </p>
    <p>&nbsp;</p>
    <p><b>The following is a resume of the individuals in this 1899 photograph:</b></p>
    <p><b>(BACK ROW, STANDING, left to right)</b></p>
    <p><b>FRANCIS CROUCH</b> (Argyle Football Club ‘Patron’)</p>
    <p>
        He was a clerk/accountant for a Plymouth timber merchant and became involved
        with the Argyle Football Club in 1897 when his son Anson, a player, joined from
        the Phoenix Football Club. A ‘Patron’ of the club in 1898-99 season, becoming
        Hon. Treasurer of Argyle F.C. for 1899-00 and 1900-01. In addition to this role
        Frances Crouch was secretary to the Argyle Athletic Club and it was he who
        officially opened the Mutley Plain club rooms on the 1st July 1899, in the
        absence of Clarence Spooner. In 1901 the ever growing Argyle Athletic Club was
        made a limited liability company and its secretary, Crouch, very important in
        Spooner’s team, was given 800 shares (value £100) which is worth around £10,000
        in 2016. This act contravened “The Football Association” rules and, later,
        almost ended Argyle’s plans to become a professional League club (see Greens on Screen's History of Argyle,
        <a href="argylehistory?era=1901-1902_1"><u>Chapter 6</u></a>).
        In the enquiry conducted by the Devon F.A. it was Crouch that said that the Argyle Athletic Club
        and the Argyle Football Club were two separate organisations. This was true but
        difficult to understand because the Argyle Football Club operated, from 1899,
        under the auspices of the Argyle Athletic Club.
    </p>
    <p>
        Though it was the Argyle Athletic Club that purchased the lease on Home Park
        with the intention of turning the Argyle Football Club into a professional
        League club, due to the problem with “The F.A.”, Plymouth Argyle had to be
        formed as a new and separate company. The ridiculousness of the situation is
        evident when, during the setting up process, Crouch, who was secretary of both
        companies, talked at meetings of sending a letter to the other, which was
        himself! Eventually Crouch gave up the secretaryship of the Argyle Athletic
        Club to become the Plymouth Argyle Football Club’s first secretary, a position
        he held from 1903 to 1907. He died in 1927, aged 78.
    </p>
    <p><b>WILLIAM ROWSE</b> (Argyle Football Club Hon. Treasurer)</p>
    <p>
        By a process of elimination, as I recognise the other Argyle F.C. officials for
        the 1898-99 season, I am guessing that this is the club Hon. Treasurer, William Rowse. He had been the Argyle F.C. Hon. Treasurer since the club reformed in
        1897. Prior to this he and his two brothers had all played for the Phoenix
        Football Club. With his brothers, George Avery Rowse (an Argyle F.C. player, and
        later a Director of Plymouth Argyle), and Henry Lloyd Rowse (a Argyle Athletic
        Club member/shareholder) they had a dental practice in Houndiscombe Place, North
        Road, Plymouth, deep in Argyle territory, for the club from foundation in 1886
        until its final seasons had been very much a Mutley rooted club without being
        exclusive of members who lived outside this Plymouth suburb. The Rowse brothers
        acquired more dental practices, at 39, Albert Road, Devonport and at Tavistock,
        Holsworthy, Kingsbridge and Totnes.
    </p>
    <p><b>STANLEY VOSPER</b> (right-back)</p>
    <p>
        He was one of the many ex-Public school players that played for Argyle, having
        been a pupil at Mannamead School before it amalgamated with Plymouth College in
        1896. His family ran two farms close to Argyle’s Marsh Mills ground which is
        possibly why he left the Plymouth Football Club in 1898 to join Argyle. The
        highly successful farms were well known in Britain and Abroad for their
        pioneering use of the latest farming technology. With Argyle, he played as a
        full-back and forward, and in 1899-00 played for Devon County in the
        outside-right position. He stayed with Argyle F.C. right up to the final 1902-03
        season in which he switched codes, playing mostly for the Argyle Rugby Club
        (formed 1900). After Argyle, he joined the Plymouth Rugby Football Club, 16 years
        before it became Plymouth Albion in 1920. He died in 1952, aged 74.
    </p>
    <p><b>PERCY NICOLLE BUCHAN</b> (goalkeeper)</p>
    <p>
        The son of a Navy Captain, another former pupil of Mannamead School, where he
        was made to play in goal as he towered in height over everyone else. He made the
        position his own and was ever-present as goalkeeper for Devon County from 1894
        until 1903 when he retired from Association football, over 50 appearances. It
        was said he was good enough to have played professional League football. When
        the Home Park Football Club attempted to become Plymouth’s first professional
        League club and brought the first professional clubs to Plymouth in early 1895,
        it was Buchan who played in goal, the first at Home Park was against Small Heath
        (the current Birmingham City) and further matches versus Woolwich Arsenal
        (before they moved to North London) and Millwall Athletic. When Buchan defected
        from Plymouth F.C. to Argyle in October 1898 it was major news in Devon football
        and signalled Clarence Spooner’s plans for the club. When Argyle were about to
        turn professional they wanted Buchan to continue with Plymouth Argyle but he did
        not want to change his amateur status and decided to retire from the sport at
        the end of the 1902-03 season, aged 27. Buchan was also a very good
        swashbuckling cricketer and was captain of the Argyle Cricket Club from its
        formation in 1899. He worked as an important water engineer for Plymouth
        Corporation for 41 years and died in 1945 aged 69.
    </p>
    <p>
        You will notice that in this photograph, and the 1900 Marsh Mills photo, Buchan
        is wearing a white (?) shirt but in the one taken of Argyle F.C on the Home Park
        pitch in 1901 he is wearing the club’s green and black halved shirt. This is
        because ‘The Football Association’ did not stipulate in the rules that
        goalkeepers had to wear a different colour jersey, to the club shirt, until
        1909.
    </p>
    <p><b>ARCHIE PONSFORD FISHER</b> (left-back)</p>
    <p>
        Archie Fisher was from another local middle-class school closely associated with
        Argyle, Cheveley Hall in Mannamead. For many Argyle players this was their first
        club on leaving school, aged between 16 to 18. He first played for Argyle in
        1891, aged 16 whilst still a pupil. Argyle F.C., low on members and struggling
        to survive were kept going by schoolboys assisting to make up the numbers. When
        Argyle reformed in 1897, after being defunct since 1894, he rejoined the club
        from the Phoenix Football Club. When this photograph was taken he was near the
        end of his Argyle career; in July 1899 his job as a civil engineer took him to
        Llandudno in North Wales. He died in 1958, aged 83.
    </p>
    <p><b>CLARENCE NEWBY SPOONER</b> (Argyle Football Club President)</p>
    <p>
        Without Clarence Spooner there would be no Plymouth Argyle today. It was his
        vision and money that made the club. His love affair with Argyle began on the
        11th January 1893 when he first played for them, as one of those helping to make
        up the numbers, and that love lasted up until his death on Christmas Day 1952;
        he had been in the ceremonial role as President of Plymouth Argyle from 1947 to
        his death, aged 82. As a player he had played, like Buchan, for the
        professionally ambitious Home Park Football Club. Some of those people
        associated with Home Park were later used by Spooner to help set up Plymouth
        Argyle in 1903. Preceding all this, in 1890 he had formed the Avenue Football
        Club, initially for the employees of the Spooner &amp; Co department store in
        Plymouth. From 1892, to improve the football standard of the Avenue Club, he
        brought in football mercenaries whom he rewarded with gifts from the department
        store, financial payment and/or a job with the firm. This was the first
        instances of professionalism in Devon Association football, veiled and against
        all the rules.
    </p>
    <p>
        Spooner was part of the revival of the Argyle Football Club name in 1897,
        becoming Vice-president for the 1897-98 season. When he became “President” of
        the Argyle Football Club in 1898 he effectively took total control of it.
        Probably a first for the club, he introduced and took control of fitness
        training to improve levels so they could compete equally with servicemen teams.
        Aged 29 in the photograph, he had taken over the running of Spooner &amp; Co, as
        ‘Senior
        Partner’ from his father. He did occasionally play for Argyle and made a handful
        of appearances during this 1898-99 season, his last. Being considerably taller
        than the average he had a physical presence on and off the pitch.
    </p>
    <p><b>THOMAS “TOM” FLOYD</b> (Argyle Football Club Hon. Secretary)</p>
    <p>
        Tom Floyd had made occasional appearances for Argyle from 1889 but was better
        known and very popular as the club’s secretary from 1897 to 1902, a time of
        great change. Along with Francis Crouch and one or two others he was part of
        Clarence Spooner’s select band of achievers. When referees took over from
        umpires in officiating football, Tom Floyd was the first official Devon referee
        in 1891. At the end of 1902 he emigrated to Durban, South Africa to take up a
        valuable position. At a farewell supper Clarence Spooner accredited him for
        building up Argyle membership from 11 to 250.
    </p>
    <p><b>(MIDDLE ROW, SITTING ON BENCH, left to right) </b></p>
    <p><b>CHARLES HENRY SHUTE</b> (right-half)</p>
    <p>
        He was bom in Barbados, then part of the British Empire, where his father was
        working. In 1893, with he and his family now living in Isleworth, Middlesex,
        England, Charles joined the Royal Engineers in Plymouth. Whilst we think of
        Plymouth as closely associated with the Royal Navy it was then equally
        associated with the Army due to the port being so important to servicing the
        British Empire. It was the Association football playing soldiers that made the
        sport so popular in Plymouth, in a county otherwise dominated sport-wise by
        Rugby. Large numbers of soldiers were based here in barracks in the town and
        around it. Infantry Regiments tended to be here for less than three years but
        the units of the Royal Engineers and the Royal Artillery were here for longer
        periods. Facilities and terrain were conducive to their training. Often their
        servicemen played in civilian teams, like Argyle. Shute was a regular in the
        Argyle team, and played for Devon County, in the 1898-99 and 1899-00 season
        until called away in February 1900 and sent with his unit to fight in the South
        African (Boer) War.
    </p>
    <p>
        When this photograph was taken, during Argyle’s Cup run, his Army record shows
        he was sick from duty, with eight days in hospital up until the 15th March 1899,
        due to an eye contusion caused by a football accident. He died in Woolwich,
        London in 1957, aged 78.
    </p>
    <p><b>JOHN CLIFTON PETHICK</b> (centre-half)</p>
    <p>
        Known as Clifton Pethick, he was a member of Plymouth’s famous building
        contactor family. They built much of the public buildings and housing in
        Plymouth, built railway lines in the, then expanding, network, and their
        quarries on Dartmoor supplied much of the granite for building in London,
        including London Bridge which was later bought by Americans and re-erected in
        the U.S.A. If you ever walk across London’s Vauxhall Bridge, remember his family
        built the foundations and piers. He was a former pupil of Plymouth College.
        During the 1890s he was working for Pethick Brothers on various projects in
        South Wales. Whilst based there he played for the Barry Football Club. In 1896
        he was taken to court in Barry and fined 5 shillings for driving without lights;
        this must have been one of the earliest instances of such a motoring offence.
    </p>
    <p>
        He joined Argyle in September 1898 and was a regular in the team until the end
        in 1903 and then he continued with Plymouth Argyle Reserves up to 1908 and even
        made an appearance as late as the 1914-15 season. In 1903-04 he made one appearance
        for the first team in a Southern League match. In 1897 Clarence Newby Spooner
        married the daughter of John Pethick, the head of the contracting firm. Clifton
        Pethick died in 1952, aged 75.
    </p>
    <p><b>FRANCIS ALLEN “FRANK” DERRY</b> (left-half)</p>
    <p>
        Frank Derry first played for Argyle F.C. in the season it was reformed 1897-98,
        joining from Phoenix F.C.. He was a regular in the first XI until leaving
        Plymouth at the end of January 1900 to take up a post as a journalist on the
        Bath Herald. Whilst with Argyle, Frank had been a journalist in Plymouth for the
        Western Morning News. He did return to Plymouth to make an occasional appearance
        for Argyle, which is the case with him figuring in the Marsh Mills team
        photograph taken on the 17th March 1900. By 1911 his journalist career had
        progressed into him being the ‘Publicity Manager’ of a steamship company, and by
        1922 his career had resulted in him being in charge of publicity for the Cunard
        Line, a very important role for such a high profile company and one that he held
        for 30 years. He died in 1952, aged 73.
    </p>
    <p><b>(FRONT ROW, SITTING, left to right) </b></p>
    <p><b>MARTIN REGINALD TOZER</b> (outside-right)</p>
    <p>
        From 1892 to 1894 Argyle F.C. used many players to make up the numbers and this
        player was one of those who helped out during those years. In more than one of
        his membership clubs, including the Home Park Football Club, he was a colleague
        of Clarence Spooner. He first became a member and regular player for Argyle on
        it reforming in 1897. His final appearance for Argyle came in January 1900. He
        was an architect who, in the 1911 Census, was working for the H.M. Ordnance
        Works and living in Bournemouth. By the 1920s he had become an artist and fine
        art dealer and printer, living in Falmouth. Paintings by “Martin R. Tozer” and
        postcards printed by him still occasionally come up for auction and examples of
        which can be found online. He died in Falmouth in 1966, aged 93.
    </p>
    <p><b>J. MCRENNIE</b> (inside-right)</p>
    <p>
        Unfortunately my research has turned up little on this player. The 1898-99
        season was the only where he featured regularly for Argyle. He left to play for
        Defiance (Torpoint) in 1899-00 and then joined Essa (Saltash) for 1900-01 and
        1901-02. In 1902-03 he made one further appearance for Argyle. On his initial
        appearances for Argyle he was shown as “Rennie” and thereafter consistently
        shown as “McRennie”. 1 have found no record of a “McRennie” in genealogical
        resources being in the area. There was a player shown as “Renny” or “Renney”
        playing for East Stonehouse based clubs from 1888 to 1898 and the only likely
        match I could find was James Crispin Renny, bom 1867 in the locality and
        residing there. In October 1902 Renny, a carpenter, joined the Royal Navy, which
        fits in with “McRennie” disappearing from the local club scene after 1901-02. If
        anyone has any enlightening information I would be pleased to receive it.
    </p>
    <p><b>HUGH EMMANUEL ROSE</b> (centre-forward)</p>
    <p>
        In this 1899 photograph he is the newest addition to the Argyle team. Rose, a
        soldier in the Royal Engineers, was introduced to the Argyle Football Club by
        fellow soldier Charles Henry Shute (Argyle’s right-half, see above) and made his
        debut on the 28th January 1899 in which he scored 5 goals in a 7-1 victory over
        a Royal Artillery  scratch team. He was a regular in the Argyle team and for
        Devon County until 1900 when he left for the South African War, as did Shute.
        The two soldiers both returned to Argyle for a couple of appearances at the end
        of 1901. Rose was decorated with a D.S.O. in World War 1 for shooting mines
        until his chest was covered in blood to allow his ship escape a minefield. He
        died in 1961, aged 89.
    </p>
    <p><b>REGINALD “REG” DANN</b> (inside-left)</p>
    <p>
        One of the former Public school pupils of Cheveley Hall who joined Argyle over
        the seasons. He joined the club, aged 16, on its reforming in 1897 and was a
        regular goal scorer for the green and blacks up until the end of the 1900-01
        season. From 1899 to 1901 he also played for Devon County and in the 1900-01
        season was made ‘Club Captain’ of Argyle. Whilst with Argyle he worked in the
        drapery trade which took him away from Plymouth in 1901 to work in Nottingham.
        In 1902 he had moved to London where he played for the famous amateur club,
        Clapton. His London address led to the first Plymouth Argyle manager, Frank Brettell, signing him as an amateur to be a 1903-04 cover player should there be
        any injuries and illnesses whilst the team were playing its regular batches of
        Southern and Western League matches away from home.
    </p>
    <p>
        In 1910 Reg Dann emigrated to Canada, following in the footsteps of his older
        brother Sydney, who had also played for the Argyle Football Club. He was enticed
        by the Dominions Land Act which offered a 160 acres of land for a small $10 fee
        to farm on the flat unpopulated prairies of Canada. From 1895 to 1914 over a
        million settlers ventured into this virgin territory. There were four other
        Argyle F.C. players who followed a similar path. Dann volunteered in 1914 to
        join the Canadian Expeditionary Force and he fought in France and Belgium. At
        the end of World War 1, whilst temporarily back in London he met a lady and they
        married in 1918. He returned to Canada with a wife and they farmed together at
        Viking, Alberta. He out-lived his wife and in the later years of his life he
        moved across Canada to Vancouver to be with his daughter. Reg Dann died on the
        16th October 1975, aged 94. Of all those, known, in the 1899 photograph he was
        the last to go and was only survived by two other known Argyle Football Club
        (1886-1903) players, from a total over 500.
    </p>
    <p><b>BRUCE SPOONER</b> (outside-left)</p>
    <p>
        He is the youngest brother of Argyle’s President, Clarence Newby Spooner, being
        ten years younger. He attended and played football for Mannamead School in
        1895-96 which amalgamated with Plymouth College in 1896 to become Plymouth &amp; Mannamead College who he played football for into the 1896-97 season. In March
        1897 the school magazine says of his football prowess, "Very fast and tricky, but
        was what is called in school boy parlance a ’slacker’". On leaving school he
        played for Plymouth F.C. in the 1897-98 season and then joined Argyle for 1898-99.
        He shone for Argyle, scoring 10 goals in 21 appearances from a wing position. In
        recognition he was called up to play for Devon. In a match on Good Friday, 31st
        March 1899 he played for the County side versus the eminent amateur side Surrey
        Wanderers. What started off as a good day ended as a very bad day. He scored a
        hat-trick as Devon won a famous victory 4-2 but in the last few minutes Bruce
        Spooner reportedly snapped a ligament.
    </p>
    <p>
        This injury put him out of Argyle’s Devon Senior Cup Semi-final on the 8th April
        1899, the day I believe this photograph was taken. Without him Argyle lost the
        final and it was attributed to this injury. He remained out of football for
        seven months and returned in the 1899-1900 season to make two appearances for Argyle F.C. but, despite being heavily strapped, his playing days were over at the age
        of 20. He did not work with Clarence Spooner in running the Spooner &amp; Co
        department store but started his own business, Spooner &amp; Holditch, Auctioneers,
        Valuers and Estate Agents at 48, George Street, Plymouth. The rest of the
        Spooner brothers all became involved and supported the running of Plymouth
        Argyle from its 1903 beginning except Bruce Spooner. He died in 1926 at the
        young age of 47.
    </p>
    <p>
        <b>Footnote:</b> It is mentioned above that the Argyle Football Club reformed in 1897
        after being defunct from the end of 1894. They were able to reform by the
        players and officials of the Phoenix Football Club throwing its identity into
        Argyle. Some of those who did so are in this photograph, namely - Francis
        Crouch, William Rowse, Archie Ponsford Fisher, Francis Allen Derry. In
        recognition of the assistance of the Phoenix Football Club, Archie P. Fisher was
        made 'Club Captain' of the Argyle Football Club for the 1897-98 season.
    </p>
    <p>
        <b>NOTE:</b> Whilst this is the oldest photograph currently known of the Argyle
        Football Club, Ernest Henry Babb, who was Vice-President of the club at the time of this photograph and a founder member in 1886,
        said in a letter published in the Western Morning News on 24th March 1934 regarding
        “Argyle’s Origin” that he had a photograph of the original 1886 team next to him
        as he wrote the letter. He also wrote that he had an Argyle F.C. team photo from the
        1888-89 season. So there are, or were, Argyle F.C. photographs going back to its
        very beginning. Babb, who died in 1953, had married but there were no children
        so where those precious photographs went is anyone’s guess.
    </p>
    <p style="line-height: 150%; margin-top: 18px; margin-bottom:30px"><b>Roger Walters, Wednesday 8th June, 2016.</b></p>
</div>
</div>
</html>
