@page
@model GoSWeb.Pages.teampic92_93Model
@{
}
<div id="teampic">
<div class="head">
<div class="head1"><a href="teampic91-92">&lt; 1991-92</a></div>
<div class="head2">PLYMOUTH ARGYLE 1992-93</div>
<div class="head3"><a href="teampic93-94">1993-94 &gt;</a></div>
</div>
<div class="image">
<img src="images/1992-93.jpg">
<p class="caption"><i>Back row: </i>A. Burrows, K. Nugent, M. Evans, D. Regis, R. Newland, R. Turner, A. Morrison, S. Morgan
</p><p class="caption"><i>Middle row:</i> P. Adcock, S. Jones, T. Spearing, K. Hodges, M. Fiore, M. Cload, M. Edworthy, D. Garner, M. Barlow
</p><p class="caption"><i>Front row:</i> W. Joyce, D. Marshall, G. Poole, J. McGovern, P. Shilton, G. Nisbet, S. McCall, S. Castle, N. Marker
</p></div>
<div class="image">
<img src="images/1992-93a.jpg">
</div>
</div>