@page
@model GoSWeb.Pages.teampic35_36Model
@{
}
<div id="teampic">
<div class="head">
<div class="head1"><a href="teampic34-35">&lt; 1934-35</a></div>
<div class="head2">PLYMOUTH ARGYLE 1935-36</div>
<div class="head3"><a href="teampic36-37">1936-37 &gt;</a></div>
</div>
<div class="image">
<img src="images/1935-36.jpg">
<p class="caption"><i>Back row: </i>S. Atterbury, H. Gooney, H. Roberts, A. Davies, J. Rae, T. Black, T. Grozier
</p><p class="caption"><i>Front row: </i>D. Robbie, J. Smith, J. Vidler, R. Jack, A. Eggleston, L. Rich, J. McNeil
</p></div>
</div>