@page
@model GoSWeb.Pages.teampic07_08Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic06-07">&lt; 1906-07</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1907-08</div>
        <div class="head3"><a href="teampic08-09">1908-09 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1907-08a.jpg">
        <p class="caption">
            <i>Back row: </i>W. Cleminson, G. Rowlands, J. Pethick, F. Black, J. Sutcliffe, C. Clark, W. Horne, J. McCormick, J. Cudlipp, G. Vivien
        </p><p class="caption">
            <i>Middle row:</i> L. Crabb, J. Meagre, J. Simmons, A. Peard, S. Atterbury, J. Butler, W. Wake, A. Wheaton, T. Haynes, F. Deacon
        </p><p class="caption">
            <i>Front row:</i> R. Stirling, M. Leonard, E. Nugent, H. Ingham, L. Morris, F. Burch, A. Holden
        </p>
    </div>
    <img src="images/1907-08b.jpg">
</div>