@page
@model GoSWeb.Pages.teampic91_92Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic90-91">&lt; 1990-91</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1991-92</div>
        <div class="head3"><a href="teampic92-93">1992-93 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1991-92.jpg">
        <p class="caption">
            <i>Back row: </i>E. Salmon, P. Maxwell, R. Cross, M. Evans, N. Marker, R. Turner, M. Scott, A. Burrows, S. Morgan, A. Morrison, P. Distin
        </p><p class="caption">
            <i>Middle row: </i>A. Gillett, D. Salman, M. Quamina, M. Fiore, M. Damerell, S. Morris, R. Wilmot, D. Walters, A. King, K. Brown, D. Garner, O. Pickard, G. Nisbet
        </p><p class="caption">
            <i>Front row: </i>T. Spearing, A. Clement, P. Adcock, K. Hodges, D. Kemp, M. Barlow, J. Rowbotham, M. Edworthy, M. Clode
        </p>
    </div>
</div>