@page
@model GoSWeb.Pages.teampic75_76Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic74-75">&lt; 1974-75</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1975-76</div>
        <div class="head3"><a href="teampic76-77">1976-77 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1975-76.jpg">
        <p class="caption">
            <i>Back row: </i>K. Blunt, J. Hore, N. Rioch, J. Furnell, D. Sutton, M. Aleksic, G. Banton, G. Foster, T. Waiters
        </p><p class="caption">
            <i>Middle row:</i> A. Brown, B. Saxton, A. Rogers, B. Vassallo, M. Green, B. Rafferty, G. Hurn, P. Burrows, M. Horswill, T. Eggleston
        </p><p class="caption">
            <i>Front row:</i> I. Pearson, H. McAuley, P. Darke, C. Randell, J. Delve, P. Mariner, B. Johnson, C. Harrison, P. Hardcastle
        </p>
    </div>
    <div class="image">
        <img src="images/1975-76c.jpg">
        <p class="caption">
            <i>Back row: </i>J. Hore, N. Rioch, J. Furnell, D. Sutton, M. Aleksic, G. Banton, G. Foster
        </p><p class="caption">
            <i>Middle row:</i> B. Saxton, A. Rogers, B. Vassallo, M. Green, B. Rafferty, G. Hurn, P. Burrows, M. Horswill
        </p><p class="caption">
            <i>Front row:</i> I. Pearson, H. McAuley, P. Darke, C. Randell, J. Delve, P. Mariner, B. Johnson, C. Harrison, P. Hardcastle
        </p>
    </div>
    <div class="image">
        <img src="images/1975-76a.jpg">
    </div>
    <div class="image">
        <img src="images/1975-76b.jpg">
    </div>
</div>