@page
@model GoSWeb.Pages.teampic81_82Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic80-81">&lt; 1980-81</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1981-82</div>
        <div class="head3"><a href="teampic82-83">1982-83 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1981-82.jpg">
        <p class="caption">
            <i>Back row: </i>J. Collins, D. Murphy, C. Randell, G. Nisbet, G. Crudgington, J. Peachey, N. Hards, F. Phillipson-Masters, T. James, L. Cooper
        </p><p class="caption">
            <i>Front row</i>: J. Edwards, C. Harrison, K. Hodges, J. Sims, B. Moncur, D. Kemp, B. Johnson, J. Uzzell, M. Harvey
        </p>
    </div>
    <div class="image">
        <img src="images/1981-82a.jpg">
    </div>
</div>