@page
@model GoSWeb.Pages.teampic38_39Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic37-38">&lt; 1937-38</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1938-39</div>
        <div class="head3"><a href="teampic39-40">1939-40 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1938-39.jpg">
        <p class="caption">
            <i>Back row:</i> S. Kirkwood, J. Clark, J. Murray, O. Roberts, A. Davies, J. McNeil, J. Rae, T. Black, C. Fletcher
        </p><p class="caption">
            <i>Middle row:</i> D. Wall, W. Hullett, J. Girvan, H. Lane, I. Roberts, H. Cann, J. McColgan, J. McHarg, A. Dyer, T. Ryan, W. Harper
        </p><p class="caption">
            <i>Front row:</i> A. Gorman, W. Olver, J. Wharton, T. Dougan, D. Thomas, J. Tresadern, H. Brown, J. Smith, F. Mitcheson, J. Hunter, J. Vidler
        </p><p class="caption">
            <i>Seated left:</i> F. Duhig
        </p><p class="caption">
            <i>Seated right:</i> T. Mailey
        </p>
    </div>
</div>