@page
@model GoSWeb.Pages.teampic53_54Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic52-53">&lt; 1952-53</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1953-54</div>
        <div class="head3"><a href="teampic54-55">1954-55 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1953-54.jpg">
        <p class="caption">
            <i>Back row: </i>N. Langman, H. McJarrow, M. Davies, L. Major, W. Shortt, P. Jones, S. McCrory, E. Edds
        </p><p class="caption">
            <i>Middle row:</i> J. Rae, A. Morgan, M. Tadman, J. Crawford, A. McShane, P. Ratcliffe, G. Taylor
        </p><p class="caption">
            <i>Front row:</i> R. Heath, G. Robertson, N. Dougall, C. Tozer, J. Chisholm, J. Porteous, E. Dobell
        </p>
    </div>
    <div class="image">
        <img src="images/1953-54a.jpg">
        <p class="caption">
            <i>Back row:</i> G. Baker, S. Sargeant, P. Jones, W. Shortt, J. Chisholm, L. Major, H. Langman, J. Tilley, J. McEnery, J. Smith, J. Folland
        </p><p class="caption">
            <i>Middle row:</i> G. Hackworthy, G. Taylor, J. Porteous, D. John, S. Rundle, C. Dougall, P. Ratcliffe, E. Jelly, A. McShane, W. Bauld, G. Robertson, J. McKenna, G. Reed, J. Rae
        </p><p class="caption">
            <i>Front row:</i> H. Dobbie, G. Astall, M. Davies, S. McCrory, A. Adams, M. Tadman, E. Davis, G. Willis, L. Smith, C. Hamilton, W. Strauss
        </p>
    </div>
</div>