@page
@model GoSWeb.Pages.teampic93_94Model
@{
}
<div id="teampic">
<div class="head">
<div class="head1"><a href="teampic92-93">&lt; 1992-93</a></div>
<div class="head2">PLYMOUTH ARGYLE 1993-94</div>
<div class="head3"><a href="teampic94-95">1994-95 &gt;</a></div>
</div>
<div class="image">
<img src="images/1993-94.jpg">
<p class="caption"><i>Back row: </i>M. Smith, A. Burrows, R. Newland, K. Nugent, A. Morrison, K. Hill
</p><p class="caption"><i>Middle row:</i> P. Sumner, D. Garner, C. Skinner, M. Crocker, S. McCall, M. Evans, D. Naylor
</p><p class="caption"><i>Front row:</i> P. Dalton, M. Patterson, M. Edworthy, J. McGovern, P. Shilton, G. Nisbet, S. Castle, D. Marshall, M. Barlow
</p></div>
<div class="image">
<img src="images/1993-94a.jpg">
<p class="caption"><i>Back row: </i>M. Crocker, M. Evans, A. Burrows, P. Boardman, W. Burnett, K. Hill, M. Edworthy
</p><p class="caption"><i>Middle row:</i> C. Skinner, K. Nugent, R. Landon, R. Newland, A. Nicholls, M. Smith, A. Comyn, D. Garner, P. Sumner
</p><p class="caption"><i>Front row:</i> D. Naylor, D. Marshall, M. Patterson, S. Castle, P. Shilton, J. McGovern, S. McCall, P. Dalton, M. Barlow
</p></div>
<div class="image">
<img src="images/1993-94b.jpg">
</div>
</div>