@page
@model GoSWeb.Pages.teampic2014_15Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic2013-14">&lt; 2013-14</a></div>
        <div class="head2">PLYMOUTH ARGYLE 2014-15</div>
        <div class="head3"><a href="teampic2015-16">2015-16 &gt;</a></div>
    </div>
    <div class="image">
        <img border="0" src="images/2014-2015.jpg">
        <p class="caption"><i>Back Row: </i>J. Harbin (fitness coach), C. McHugh, R. Allen, O. Norburn, R. Reid, M. Lecointe, B. Purrington, N. Lunnon (kit man), V. Hannaford (sports masseuse)</p>
        <p class="caption"><i>Middle Row: </i>R. Wilmot (goalkeeping coach), T. Harvey, D. Blizzard, A. Bentley, J. Bittner, L. McCormick, M. Morgan, K. Mellor, D. Smalley, P. Atkinson (physio)</p>
        <p class="caption"><i>Front Row: </i>S. McCarthy (coach), J. Banton, L. Alessandra, C. Nelson, J. Sheridan (manager), P. Hartley, L. Cox, N. Thomas, P. Wotton (player/coach)</p>
    </div>
</div>