@page
@model GoSWeb.Pages.teampic2000_01Model
@{
}
<div id="teampic">
<div class="head">
<div class="head1"><a href="teampic99-2000">&lt; 99-2000</a></div>
<div class="head2">PLYMOUTH ARGYLE 2000-01</div>
<div class="head3"><a href="teampic2001-02">2001-02 &gt;</a></div>
</div>
<div class="image">
        <img src="images/2000-2001.jpg">
<p class="caption"><i>Back row: </i>S. Guinan, L. Phillips, S. Adams, A. Barrett, J. Hodges, P. Maxwell, J. Sheffield, C. Taylor, I. Stonebridge, J. Peake, P. McGregor, T. Fleming
</p><p class="caption"><i>Middle row:</i> I. Pearce, I. Leigh, S. McCarthy, P. Wotton, M. Heathcote, M. Gritton, J. Beswetherick, C. Leadbitter, K. Summerfield, C. Souness
</p><p class="caption"><i>Front row: </i>J. James, W. O'Sullivan, J. Morrison-Hill, K. Hodges, S. McCall, M. Barlow, K. Wills, G. Crudgington
</p></div>
</div>