@page
@model GoSWeb.Pages.teampic2011_12Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic2010-11">&lt; 2010-11</a></div>
        <div class="head2">PLYMOUTH ARGYLE 2011-12</div>
        <div class="head3"><a href="teampic2012-13">2012-13 &gt;</a></div>
    </div>
    <div class="image">
        <img border="0" src="images/2011-12b.jpg">
        <p class="caption">
            <i>Back Row: </i>I. Vassell, R. Williams, L. Daley, M. Blanchard, O. Chenoweth, J. Cole, C. Sutherland, W. Atkinson, M. Lecointe, D. Berry.
        </p><p class="caption">
            <i>Midddle Row: </i>K. Hodges, S. Russell, P. Bignot, J. Richards, C. Nelson, D. Purse, L. Soukouna, S. Walton, N. Chadwick, C. Hourihane, P. Atkinson.
        </p><p class="caption"><i>Front Row: </i>J. Copp, L. Young, W. Feeney, K. Nancekivell, C. Fletcher, R. Larrieu, O. Bhasera, J. Sims, A. Hemmings</p>
    </div>
    <div class="image">
        <img border="0" src="images/2011-2012.jpg">
        <p class="caption">
            <i>Back Row: </i>D. Berry, L. Daley, B. Gibson, J. Cole, S. Zubar, L. Soukouna.
        </p><p class="caption"><i>Front Row: </i>W. Feeney, R. Williams, C. Fletcher, T. Hitchcock, C. Hourihane. </p>
    </div>
    <div class="image">
        <img border="0" src="images/2011-12a.jpg">
        <p class="caption">
            <i>Back Row: </i>S. Russell (coach), P. Atkinson (physio), L. Soukouna, S. Zubar, L. Daley, D. Berry, C. Nelson, S. Walton, C. Fletcher, B. Gibson, J. Cole, C. Hourihane, R. Larrieu.
        </p><p class="caption"><i>Front Row: </i>I. Leigh (physio), T. Harvey, D. Hart, I. Vassell, J. Harper-Penman, J. Copp, J. Sims, T. Hitchcock, M. LeCointe, J. Pearce. </p>
    </div>
</div>