@page
@model GoSWeb.Pages.teampic84_85Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic83-84">&lt; 1983-84</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1984-85</div>
        <div class="head3"><a href="teampic85-86">1985-86 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1984-85.jpg">
        <p class="caption">
            <i>Back row: </i>M. Harvey, A. Rogers, M. Rowe, K. Hodges, C. Harrison, R. Coughlin, G. Staniforth, J. Hore
        </p><p class="caption">
            <i>Middle row:</i> T. Tynan, A. Burrows, J. Uzzell, D. Philp, G. Crudgington, M. Ham, G. Nisbet, L. Cooper
        </p><p class="caption">
            <i>Front row:</i> W. Pearce, J. Kent, P. Bloom, S. Dawe, G. Jasper, B. Hooper, R. Burroughs, G. Little
        </p>
    </div>
    <div class="image">
        <img src="images/1984-85a.jpg">
        <p class="caption">
            <i>Back row: </i>M. Harvey, A. Burrows, J. Uzzell, D. Philp, G. Crudgington, M. Ham, G. Nisbet, J. Hore
        </p><p class="caption">
            <i>Front row:</i> M. Rowe, A. Rogers, K. Hodges, C. Harrison, L. Cooper, T. Tynan, R. Coughlin, G. Staniforth
        </p>
    </div>
</div>