@page
@model GoSWeb.Pages.teampic2002_03Model
@{
}
<div id="teampic">
<div class="head">
<div class="head1"><a href="teampic2001-02">&lt; 2001-02</a></div>
<div class="head2">PLYMOUTH ARGYLE 2002-03</div>
<div class="head3"><a href="teampic2003-04">2003-04 &gt;</a></div>
</div>
<div class="image">
        <img src="images/2002-2003.jpg">
<p class="caption"><i>Back row</i>: S. Malcolm, C. Taylor, M. Evans, L. McCormick,R. Larrieu, I. Stonebridge, B. Sturrock, G. Coughlan
</p><p class="caption"><i>Middle row:</i> S. Gibson, S. Adams, D. Worrell, N. Heaney, L. Hodges, J. Bent, M. Keith, K. Wills, N. Lowndes, G. Crudgington
</p><p class="caption"><i>Front row:</i> D. Beresford, B. McGlinchey, P. Wotton, K. Summerfield, P. Sturrock, P. Maxwell, J. Broad, M. Phillips, D. Friio
</p></div>
<div class="image">
<img src="images/2002-2003a.jpg">
<p class="caption"><i>Back row</i> : J. Bent, N. Lowndes, O. Lopes, L. McCormick, R. Larrieu, B. Sturrock, G. Coughlan, D. Worrell
</p><p class="caption"><i>Middle row:</i> D. Beresford, S. Adams, B. McGlinchey, C. Taylor, M. Phillips, M. Villis, J. Broad, S. Malcolm
</p><p class="caption"><i>Front row:</i> K. Wills, H. Aljofree, I. Stonebridge, M. Evans, P. Wotton, L. Hodges, D. Friio, D. Norris, M. Keith
</p></div>
</div>