@page
@model GoSWeb.Pages.teampic23_24Model
@{
}
<div id="teampic">
<div class="head">
<div class="head1"><a href="teampic22-23">&lt; 1922-23</a></div>
<div class="head2">PLYMOUTH ARGYLE 1923-24</div>
<div class="head3"><a href="teampic24-25">1924-25 &gt;</a></div>
</div>
<div class="image">
<img src="images/1923-24.jpg">
</div>
</div>