@page
@model GoSWeb.Pages.teampic69_70Model
@{
}
<div id="teampic">
<div class="head">
<div class="head1"><a href="teampic68-69">&lt; 1968-69</a></div>
<div class="head2">PLYMOUTH ARGYLE 1969-70</div>
<div class="head3"><a href="teampic70-71">1970-71 &gt;</a></div>
</div>
<div class="image">
<img src="images/1969-70.jpg">
<p class="caption"><i>Back row: </i>J. Hore, M. Reeves, W. Foster, J. Tedesco, D. Burnside
</p><p class="caption"><i>Middle row:</i> B. Stewart, M. Bickle, E. Burgess, P. Dunne, M. Clamp, R. Reynolds, N. Piper, J. Williams
</p><p class="caption"><i>Front row: </i>D. Hutchins, T. Shepherd, C. Sullivan, B. Bingham, F. Molyneux, A. Maher, S. Davey, D. Neale
</p></div>
</div>