@page
@model GoSWeb.Pages.teampic82_83Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic81-82">&lt; 1981-82</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1982-83</div>
        <div class="head3"><a href="teampic83-84">1983-84 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1982-83a.jpg">
        <p class="caption">
            <i>Back row: </i>T. James, G. Cook, C. Harrison, F. Phillipson-Masters, J. Sims, J. Uzzell
        </p><p class="caption">
            <i>Middle row:</i> M. McCartney, G. Nisbet, G. Crudgington, N. Hards, D. Phillips, L. Cooper
        </p><p class="caption">
            <i>Front row:</i> M. Ham, A. Dennis, K. Hodges, A. Rogers, M. Carter, M. Rowe
        </p>
    </div>
    <div class="image">
        <img src="images/1982-83.jpg">
        <p class="caption">
            <i>Back row: </i>J. Edwards, G. Nisbet, T. James, M. Ham, G. Crudgington, N. Hards, F. Phillipson-Masters, J. Sims, J. Uzzell, M. Harvey
        </p><p class="caption">
            <i>Second row:</i> K. Hodges, A. Rogers, M. McCartney, M. Carter, J. Cook, R. Moncur, C. Harrison, P. Chambers, Cottrell, D. Phillips, L. Cooper
        </p><p class="caption">
            <i>Third row:</i> W. Pearce, G. Little, R. Burroughs, P. Bloom, R. Daniel, S. Dawe, C. Kent, G. Jasper
        </p><p class="caption">
            <i>Front row:</i> M. Shannon, A. Dennis, M. Rowe
        </p>
    </div>
</div>