@page
@model GoSWeb.Pages.teampic04_05Model
@{
}

<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic03-04">&lt; 1903-04</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1904-05</div>
        <div class="head3"><a href="teampic05-06">1905-06 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1904-05.jpg">
        <p class="caption">
            <i>Back row: </i>F. Brettell (Manager), W. Horne, A. Clark, P. Saul, J. Chadburn, J. Robinson (Captain), H. Ashby, C. Clark, J. Banks, T. Cleghorn (Trainer)
        </p><p class="caption">
            <i>Middle row:</i> W. Leech, F. Buck, W. Hodginson, J. McLuckie, J. Picken, W. Cox, F. Crouch (Secretary)
        </p><p class="caption">
            <i>Front row:</i> R. Dalrymple, J. Wright, R. Jack, A. Hodgkinson
        </p>
    </div>
    </div>
