@page
@model GoSWeb.Pages.teampic55_56Model
@{
}
<div id="teampic">
<div class="head">
<div class="head1"><a href="teampic54-55">&lt; 1954-55</a></div>
<div class="head2">PLYMOUTH ARGYLE 1955-56</div>
<div class="head3"><a href="teampic56-57">1956-57 &gt;</a></div>
</div>
<div class="image">
<img src="images/1955-56.jpg">
<p class="caption"><i>Back row: </i>R. Wyatt, T. Lawless, T. Glasgow, W. Shortt, L. Major, A. Morgan, G. Robertson, P. Langman
</p><p class="caption"><i>Middle row:</i> G. Taylor, D. John, P. Ratcliffe, P. Knight, H. Tilley, H. McJarrow, J. Porteous, N. Dougall, C. Clelland, P. Jones, I. Lavers, G. Reed
</p><p class="caption"><i>Front row:</i> W. Strauss, C. Hamilton, J. Crawford, M. Davies, G. Willis, J. Rowley, E. Davis, A. Stenner, P. Anderson, A. Cole
</p></div>
</div>