@page
@model GoSWeb.Pages.teampic59_60Model
@{
}
<div id="teampic">
<div class="head">
<div class="head1"><a href="teampic58-59">&lt; 1958-59</a></div>
<div class="head2">PLYMOUTH ARGYLE 1959-60</div>
<div class="head3"><a href="teampic60-61">1960-61 &gt;</a></div>
</div>
<div class="image">
<img src="images/1959-60.jpg">
<p class="caption"><i>Back row: </i>G. Fincham, R. Davies, J. Leiper, G. Barnsley, R. Smith, R. Wyllie, J. Gauld, J. Williams
</p><p class="caption"><i>Second row:</i> J. Rowley, C. Dougall, T. Stacey, M. Manning, E. Doughty, J. Nightingale, B. Fulton, G. Robertson, P. Anderson, J. S. Williams, R. Wyatt, G. Taylor
</p><p class="caption"><i>Third row:</i> R. Jenkins, W. Bellett, W. Carter, G. Baker, L. Casey, A. Govan, J. Russell
</p><p class="caption"><i>Front row:</i> I. Murray, H. Penk, P. Kearns, T. Dann, B. Bellows
</p></div>
</div>