@page
@model GoSWeb.Pages.teampic24_25Model
@{
}
<div id="teampic">
<div class="head">
<div class="head1"><a href="teampic23-24">&lt; 1923-24</a></div>
<div class="head2">PLYMOUTH ARGYLE 1924-25</div>
<div class="head3"><a href="teampic25-26">1925-26 &gt;</a></div>
</div>
<div class="image">
<img src="images/1924-25.jpg">
</div>
</div>