@page
@model GoSWeb.Pages.teampic28_29Model
@{
}
<div id="teampic">
<div class="head">
<div class="head1"><a href="teampic27-28">&lt; 1927-28</a></div>
<div class="head2">PLYMOUTH ARGYLE 1928-29</div>
<div class="head3"><a href="teampic29-30">1929-30 &gt;</a></div>
</div>
<div class="image">
<img src="images/1928-29.jpg">
<p class="caption"><i>Back row: </i>W. Pullen, N. Mackay, F. Cosgrove, F. Craig, R. Jack, F. Titmuss, A. Hardie, T. Haynes
</p><p class="caption"><i>Front row:</i> A. Matthews, F. Forbes, P. Richards, J. Leslie, S. Black, F. McKenzie
</p></div>
<div class="image">
<img src="images/1928-29a.jpg">
</div>
</div>