@page
@model GoSWeb.Pages.teampic06_07Model
@{
}
<div id="teampic">
<div class="head">
<div class="head1"><a href="teampic05-06">&lt; 1905-06</a></div>
<div class="head2">PLYMOUTH ARGYLE 1906-07</div>
<div class="head3"><a href="teampic07-08">1907-08 &gt;</a></div>
</div>
<div class="image">
<img src="images/1906-07.jpg">
<p class="caption"><i>Back row: </i>J. Hughes (Trainer)<i>, </i>W. Tomlinson (Groundsman), J. Sutcliffe, M. Noon, F. Thorpe, W. Brown, C. Clark, J. Johnson, F. Crouch 
(Director)</p><p class="caption"><i>Middle row:</i> D. Fullerton, T. McKenzie, R. Orrell, W. Fullerton 
(Manager), G. Garrett, W. McLoughlin, J. Hughes
</p><p class="caption"><i>Front row: </i>T. Briercliffe, G. Smith, H. Swann, J. Wright, T. Corrin
</p></div>
</div>