@page
@model GoSWeb.Pages.teampic90_91Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic89-90">&lt; 1989-90</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1990-91</div>
        <div class="head3"><a href="teampic91-92">1991-92 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1990-91.jpg">
        <p class="caption">
            <i>Back row: </i>O. Pickard, M. Fiore, M. Damerell, A. Burrows, A. King, S. Morgan, D. Salman, K. Brown
        </p><p class="caption">
            <i>Middle row:</i> A. Gillett, A. Morrison, A. Thomas, N. Marker, D. Walter, R. Wilmot, R. Turner, P. Robinson, K. Summerfield, M. Musgrove
        </p><p class="caption">
            <i>Front row:</i> P. Rowe, K. Hodges, M. Barlow, D. Garner, D. Kemp, P. Adcock, P. Smith, J. Rowbotham, D. Byrne
        </p>
    </div>
</div>