@page
@model GoSWeb.Pages.teampic62_63Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic61-62">&lt; 1961-62</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1962-63</div>
        <div class="head3"><a href="teampic63-64">1963-64 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1962-63.jpg">
        <p class="caption">
            <i>Back row: </i>W. Carter, M. Lill, R. Wyatt, G. Fincham, D. Maclaren, J. Leiper, R. Davis, D. Roberts, D. Corbett, S. Brace
        </p><p class="caption">
            <i>Middle row:</i> P.Jones, J.Williams, A.Garden, B.Fulton, A.Thorne, A.Jackson, K.Maloy, J.Brown, M.Reeves, G.Robertson, G.Kirby, N.Dougall, G.Taylor
        </p><p class="caption">
            <i>Front row:</i>J.McAnearney, J.Lowe, R.Hunt, J.Hall, E.Stuttard, J.Newman, R.Blindell, D.James, P.Skinnard, C.Buckingham, P.Anderson
        </p><p class="caption">
            <i>Seated:</i> J.Brimble, R.Fielder R.Stone, T.Rounsevell
        </p><p>A smaller, but clearer version of the same picture:</p>
    </div>
    <div class="image">
        <img src="images/1962-63a.jpg">
    </div>
    <div class="image">
        <img src="images/1962-63b.jpg">
    </div>
</div>