@page
@model GoSWeb.Pages.teampic00_01Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic1899-00">&lt; 1899-00</a></div>
        <div class="head2">ARGYLE FC 1900-01</div>
        <div class="head3"><a href="teampic02-03">1902-03 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1900-01.jpg">
        <p class="caption">
            <i>Back row: </i>J. D. Spooner, C. Pethick, T. Floyd (Hon. Sec. ), F. W. Lillicrap, P. N. Buchan (Vice-Captain), W. T. Dyer, A. Ledington, G. F. Vaughan, C. N. Spooner (President)
        </p><p class="caption">
            <i>Middle row: </i>J. W. Fairweather, C. H. Hoskin, T. Stideford, R. Dann (Captain), A. Crouch
        </p><p class="caption">
            <i>Front row: </i>G. P. Holmes, A. Shaw, G. B. Bryan, B. F. Oke, J. C. Webb
        </p>
    </div>
</div>