@page
@model GoSWeb.Pages.teampic36_37Model
@{
}
<div id="teampic">
<div class="head">
<div class="head1"><a href="teampic35-36">&lt; 1935-36</a></div>
<div class="head2">PLYMOUTH ARGYLE 1936-37</div>
<div class="head3"><a href="teampic37-38">1937-38 &gt;</a></div>
</div>
<div class="image">
<img src="images/1936-37.jpg">
</div>
</div>