@page
@model GoSWeb.Pages.teampic25_26Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic24-25">&lt; 1924-25</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1925-26</div>
        <div class="head3"><a href="teampic26-27">1926-27 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1925-26.jpg">
        <p class="caption">
            <i>Back row: </i>A. Wheaton, H. Jenkins, F. Cosgrove, W. Frost, P. Taylor, C. Miller, F. Craig, W. Price, J. Connor, M. Russell
        </p><p class="caption">
            <i>Middle row:</i> S. Atterbury, L. Deacon, G. Ogilvie, J. Healy, B. Wallace, J. Oserby, S. Smith, P. Cherrett, T. Haynes
        </p><p class="caption">
            <i>Front row:</i> P. Corcoran, J. Logan, F. Forbes, W. Pullen, J. Cock, R. Preston, J. Leslie, J. Walker, R. Smith
        </p><p class="caption">
            <i>
                Seated:
            </i> F.Sloan
            S.Black
        </p>
    </div>
    <div class="image">
        <img below="" is="" a="" better="" quality="" version="" of="" the="" above="" image="" but="" it="" missing="" a.wheaton="" and="" m.russell="" from="" back="" row="" <="" div="">
        <div class="image">
            <img src="images/1925-26a.jpg">
        </div>
    </div>
</div>