@page
@model GoSWeb.Pages.teampic63_64Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic62-63">&lt; 1962-63</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1963-64</div>
        <div class="head3"><a href="teampic64-65">1964-65 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1963-64.jpg">
        <p class="caption">
            <i>Back row: </i>J. McAnearney, K. Maloy, G. Robertson, L. Wyatt, M. Perkin, D. Maclaren, J. Leiper, R. Davis, W. Carter, A. Rounsevell, M. Trebilcock
        </p><p class="caption">
            <i>Middle row:</i> P. Jones, G. Taylor, P. McParland, C. Jackson, A. O'Neill, B. Fulton, D. Roberts, M. Reeves, A. Jackson, S. Brace, J. Starkey, C. Buckingham, R. Stone, J. Williams, N. Dougall
        </p><p class="caption">
            <i>Front row:</i> D. Corbett, R. Hunt, D. James, R. Blindell, J. Newman, E. Stuttard, P. Skinnard, J. Hall, D. Barry
        </p><p class="caption">
            <i>Seated:</i> R. Reynolds, J. Hore, G. Nicholas, J. Brimble
        </p>
    </div>
    <div class="image">
        <img src="images/1963-64a.jpg">
        <p class="caption">
            <i>Back row:</i> G. Taylor, G. Robertson, J. Newman, D. Maclaren, J. Leiper, P. McParland, R. Davis, A. O'Neill, E. Stuttard
        </p><p class="caption">
            <i>Middle row:</i> J. Williams, C. Buckingham, W. Carter, M. Reeves, S. Brace
        </p><p class="caption">
            <i>Front row:</i> J. McAnearney, D. Roberts, M. Trebilcock
        </p>
    </div>
</div>