@page
@model GoSWeb.Pages.teampic03_04Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic02-03">&lt; 1902-03</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1903-04</div>
        <div class="head3"><a href="teampic04-05">1904-05 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1903-04.jpg">
        <p class="caption">
            <i>Back row: </i>Wattie Anderson, Herbert Winterhalder, Charlie Clark,
            Jack Fitchett, Jack Robinson, Andy Clark, Johnny Banks, Jack Picken, Robert Jack
        </p><p class="caption">
            <i>
                Front row:
            </i>Tommy Cleghorn (Trainer), Bob Dalrymple, Billy Leech, Archie Goodhall,
            Jack Peddie, Harry Digweed, Frank Brettell (Manager)
        </p>
    </div>
</div>