@page
@model GoSWeb.Pages.teampic73_74Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic72-73">&lt; 1972-73</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1973-74</div>
        <div class="head3"><a href="teampic74-75">1974-75 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1973-74a.jpg">
        <p class="caption">
            <i>Back row:</i> C. King, R. Saxton, P. Balac, J. Furnell, M. Aleksic, A. Rogers, P. Darke
        </p><p class="caption">
            <i>Middle row:</i> P. Allen, D. Rickard, K. Allen, J. Hinch, N. Hague, P. Mariner, C. Sullivan, H. Reed
        </p><p class="caption">
            <i>Front row:</i> P. Middleton, D. Pook, A. Welsh, D. Provan, T. Waiters, M. Dowling, E. Machin, S. Davey, J. Hore
        </p>
    </div>
    <div class="image">
        <img src="images/1973-74.jpg">
        <p class="caption">
            <i>Back row: </i>B. Shearer, K. Blunt, P. Darke, M. Nickeas, A. Rogers, P. Mariner, M. Aleksic, J. Furnell, D. Provan, B. Johnson, B. Saxton, N. Hague, T. Ford
        </p><p class="caption">
            <i>Front row:</i> D. Rickard, A. Welsh, C. Sullivan, H. Reed, T. Waiters, E. Machin, J. Hore, S. Davey, C. Randell, H. Burrows
        </p>
    </div>
</div>