@page
@model GoSWeb.Pages.teampic98_99Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic97-98">&lt; 1997-98</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1998-99</div>
        <div class="head3"><a href="teampic99-2000">99-2000 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1998-99a.jpg">
        <p class="caption">
            <i>Back row: </i>S. Collins, M. Parsons, M. Gritton, J. Dungey, J. Sheffield, J. Ashton, L. Phillips, L. Power
        </p><p class="caption">
            <i>Middle row:</i> J. James, R. Flash, J. Beswetherick, B. McGovern, M. Heathcote, C. Hargreaves, P. Gibbs, R. Mauge
        </p><p class="caption">
            <i>Front row:</i> E. Jean, M. Barlow, K. Hodges, S. McCall, P. Wotton, L. Ford
        </p>
    </div>
    <div class="image">
        <img src="images/1998-99.jpg">
        <p class="caption">
            <i>Back row: </i>M. Parsons, S. McCarthy, S. Collins, J. Dungey, P. Wotton, J. Sheffield, J. Ashton, L. Phillips, L. Power
        </p><p class="caption">
            <i>Middle row:</i> N. Medhurst, R. Flash, J. Beswetherick, B. McGovern, M. Heathcote, C. Hargreaves, P. Gibbs, R. Mauge, K. Summerfield
        </p><p class="caption">
            <i>Front row:</i> E. Jean, M. Barlow, K. Hodges, S. McCall, J. Rowbotham, L. Ford
        </p>
    </div>
</div>