@page
@model GoSWeb.Pages.teampic08_09Model
@{
}
<div id="teampic">
<div class="head">
<div class="head1"><a href="teampic07-08">&lt; 1907-08</a></div>
<div class="head2">PLYMOUTH ARGYLE 1908-09</div>
<div class="head3"><a href="teampic09-10">1909-10 &gt;</a></div>
</div>
<div class="image">
<img src="images/1908-09.jpg">
<p class="caption"><i>Back row: </i>Louis H. Crabb (Team Sec.), S. Atterbury, N. Wallis (Trainer), J. Butler, W. Tomlinson (Groundsman)
</p><p class="caption"><i>Third row:</i> T. Haynes (Trainer), F. Black, T. Hakin, I. Evenson, C. Clark (Captain), E. McIntyre, J. Hindmarsh, F. Warburton, A. Rhodes (Asst. Trainer)
</p><p class="caption"><i>Second row:</i> J. Cook, W. Horne, H. Wilcox, J.W. Sutcliffe, A. Holden
</p><p class="caption"><i>Front row:</i> H. Leavey, W. Ingham, J. McCormick
</p></div>
</div>