@page
@model GoSWeb.Pages.teampic71_72Model
@{
}
<div id="teampic">
    <div class="head">
        <div class="head1"><a href="teampic70-71">&lt; 1970-71</a></div>
        <div class="head2">PLYMOUTH ARGYLE 1971-72</div>
        <div class="head3"><a href="teampic72-73">1972-73 &gt;</a></div>
    </div>
    <div class="image">
        <img src="images/1971-72.jpg">
        <p class="caption">
            <i>Back row: </i>R. Brown, P. Allen, D. Burnside, J. Hore, D. Hutchins, P. Chapman, A. Harris, D. Rickard, L. Latcham
        </p><p class="caption">
            <i>Second row:</i> T. Ford, S. Davey, C. Norman, J. Hinch, K. Allen, J. Furnell, D. Provan, M. Bickle, M. Dowling, C. Sullivan, B. Shearer
        </p><p class="caption">
            <i>Third row:</i> B. Edwards, C. Crookes, S. Williams, P. Skinnard, B. Saxton, E. Stuttard, B. Williams, T. Deans, G. Little
        </p><p class="caption">
            <i>Front row:</i> J. Dent, K. Sullivan, A. Blamey, J. Jennings, A. Holloway, A. Rogers, P. Darke, P. Balac
        </p>
    </div>
    <div class="image">
        <img src="images/1971-72a.jpg">
        <p class="caption">
            <i>Back row:</i> J. Hore, D. Burnside, A. Harris, S. Davey
        </p><p class="caption">
            <i>Middle row:</i> C. Norman, J. Hinch, D. Provan, J. Furnell, K. Allen, M. Bickle, P. Chapman
        </p><p class="caption">
            <i>Front row:</i> R. Brown, C. Sullivan, D. Hutchins, B. Saxton, D. Rickard, M. Dowling, L. Latcham
        </p>
    </div>
</div>