html {
    overflow-y: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

body {
    
}
html::-webkit-scrollbar {
    display: none;
}

}
.home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}

.home-top-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    border-width: 2px;
    flex-direction: row;
    justify-content: flex-start;
}

.home-social-bar {
    width: 25%;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    height: 80px;
    display: flex;
    justify-content: left;
    padding-top: 5px;
}

.home-banner {
    width: 50%;
    height: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    justify-content: space-between;
    background-image: url('https://images.unsplash.com/photo-1485628390555-1a7bd503f9fe?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE3fHxhcmNoaXRlY3R1cmUlMjBtaW5pbWFsfGVufDB8fHx8MTYyNjE4NDA0Mg&ixlib=rb-1.2.1&w=800');
    background-position: center;
}

.small_history {
    width: 85%;
    height: 50%;
    justify-content:center;
    align-self:center;
    position:relative;
}

.home-image {
    flex: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-about {
    width: 25%;
    height: 80px;
    display: flex;
    padding: var(--dl-space-space-twounits);
    justify-content: center;
}

.home-text {
    background-color: white;
    color: #000000;
    font-size: 0.75rem;
    box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
    text-align: center;
    font-weight: 600;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius4);
    margin-bottom: var(--dl-space-space-twounits);
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 1%;
}

.home-text-head {
    background-color: #004f3e;
    color: white;
    box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
    text-align: center;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius4);
    margin-bottom: var(--dl-space-space-twounits);
    font-size-adjust: 0.5;
    text-transform: uppercase;
    overflow:clip;
    padding: 1%;
}

.home-lower-top-container {
    width: 100%;
    height: 45vh;
    display: flex;
    align-items: flex-start;
    border-width: 2px;
    justify-content: flex-start;
}

.home-database-search {
    width: 25%;
    height: 100%;
    display: flex;
    padding: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}


.home-last-3-m-o-t-d {
    width: 50%;
    height: 100%;
    display: flex;
    padding: var(--dl-space-space-twounits);
    border-width: 2px;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}


.home-history {
    width: 25%;
    height: 100%;
    display: flex;
    padding: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: space-between;
    overflow:auto;
}

.history_button{
    text-align:center;
}

.home-middle-content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    border-width: 2px;
    flex-direction: row;
    justify-content: flex-start;
    overflow: auto;
    padding:0%;
}

.home-side-bar-left {
    width: 25%;
    height: 100%;
    display: flex;
    border-width: 2px;
    overflow: auto;
}

.home-other-sites {
    width: 50%;
    height: 100%;
    display: flex;
    padding: var(--dl-space-space-twounits);
    border-width: 1px;
    flex-direction: column;
    justify-content: space-between;
    vertical-align: top;
    
}

.home-whats-new {
    width: 50%;
    height: 100%;
    display: flex;
    padding: var(--dl-space-space-twounits);
    border-width: 1px;
    flex-direction: column;
    justify-content: space-between;
    
}

.home-middle-boxes {
    width: 50%;
    height: 100%;
    display: flex;
    border-width: 2px;
    flex-direction: column;
    justify-content: space-between;
    

}

.home-middle-boxes-top {
    width: 100%;
    height: 50%;
    display: flex;
    border-width: 2px;
   
}

.home-on-this-day {
    width: 50%;
    height: 100%;
    display: flex;
    padding: 1%;
    flex-direction: column;
    justify-content: space-between;
    
}

.home-yesterday {
    width: 50%;
    height: 100%;
    display: flex;
    padding: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: space-between;
    
}
.home-two-days-ago {
    width: 50%;
    height: 100%;
    display: flex;
    padding: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: space-between;
    
}
.home-middle-boxes-bottom {
    width: 100%;
    height: 50%;
    display: flex;
    border-width: 2px;
    
}



.home-here-and-now {
    width: 50%;
    height: 100%;
    display: flex;
    padding: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: space-between;
    
}

.home-side-bar-right {
    width: 25%;
    height: 100%;
    display: flex;
    border-width: 2px;
    
}


.home-then-and-now {
    width: 50%;
    height: 100%;
    display: flex;
    padding: var(--dl-space-space-twounits);
    border-width: 1px;
    flex-direction: column;
    justify-content: space-between;
    
}



.other-sites-list li {
    float: left;
    list-style: none;
    text-align: center;
    background-color: #004f3e;
    margin-right: 30%;
    width: 100%;
    line-height: 120%;
    color: white;
    padding: 1%;
    box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
    border-radius: var(--dl-radius-radius-radius4);
    margin-bottom: 0.5vh;
}
.other-sites-list li a:hover {
    text-decoration: none;
    color: white;
    background-color: #004f3e;
}
.home-born-img{
    float:left;
    width:7vw;
    padding:0%;
}
.home-table td{
    padding: 0%;
    border: 1px solid black;
}
@media(max-width: 767px) {
    .home-social-bar {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
    }

    .home-banner {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
    }

    .home-about {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
        grid-template-columns: 1fr 1fr;
    }

    .home-database-search {
        height: 70vh;
    }

    .home-last-3-m-o-t-d {
        height: 70vh;
    }

    .home-history {
        height: 70vh;
    }

    .home-other-sites {
        height: 70vh;
    }

    .home-whats-new {
        height: 70vh;
    }

    .home-on-this-day {
        height: 70vh;
    }

    .home-yesterday {
        height: 70vh;
        
    }

    .home-here-and-now {
        height: 70vh;
    }

    .home-yesterday1 {
        height: 70vh;
    }

    .home-then-and-now {
        height: 70vh;
    }

}


span{
    background-color:#004f3e;
    color:white;
}

.navbar li {
    float: left;
    list-style: none;
    text-align: center;
    background-color: #004f3e;
    width: 20%;
    line-height: 120%;
    color: white;
    padding: 1%;
}