.aboutmodal, .contactmodal {
    display: none; /* Hidden by default */
    z-index: 9; /* Sit on top */
    padding-top: 5%; /* Location of the box */
    padding-left: 55%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    position: absolute;
}

.about_content, .contact_content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    position: absolute;
}

/* The Close Button */
.about_close, .contact_close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .about_close:hover, .about_close:focus, contact_close:hover, contact_close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }