<!DOCTYPE html>
<html lang="en-gb" xmlns="http://www.w3.org/1999/html">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="icon" type="image/x-icon" href="~/images/favicon.ico">
<link rel="stylesheet" type="text/css" href="~/css/GoS.css">
<link rel="stylesheet" href="css/site.css" />
<link rel="stylesheet" href="css/gos2.css" />
<link rel="stylesheet" href="css/GoS.css" />
<NOSCRIPT>
    <font color="red" style="font-size: 11px; font-weight: 700" face="Arial">
        You have Javascript disabled in your browser, so not all features of this site will function correctly. Consider changing your browser's security settings<br>to allow javascript, or include www.greensonscreen.co.uk as a trusted site. Feel free to contact me if I can help (steve@greensonscreen.co.uk).
    </font>
</NOSCRIPT>
<body>
    <header>
        <div id="HeaderContainer">
            <div class="imageSwap">
                <img src="/images/goshead2.jpg" alt="GoS Header" class="bigBanner">
                <div class="leftControls">
                    <input type="button" id="myBtn" onclick="window.location.href='Index';" value="Gos home" />
                    <a href="https://www.facebook.com/greensonscreen" target="_blank">
                        <img src="~/images/facebook_icon.png" alt="Facebook" />
                    </a>
                </div>
                <div class="rightControls">
                    <button onclick="window.location.href='gosdb-about'">About Us</button>
                    <button onclick="showPopup2()">Contact Us</button>
                </div>
            </div>
        </div>
    </header>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer>
        <div id="base">
            <p>
                Greens on Screen is run as a service to fellow supporters, in all good
                faith, without commercial or private gain. &nbsp;I have no wish to abuse
                copyright regulations and apologise unreservedly if this occurs.&nbsp;If you own
                any of the material used on this site, and object to its inclusion, please
                get in touch using the 'Contact Us' button at the top of each page.
                @{
                    var britishTime = TimeZoneInfo.ConvertTime(DateTime.UtcNow, TimeZoneInfo.FindSystemTimeZoneById("GMT Standard Time"));
                }
            <p>UK time at page load: @britishTime.ToShortDateString(), @britishTime.ToShortTimeString().</p>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", false)
</body>
</html>

<style>
    #HeaderContainer {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 80px;
    }

    .imageSwap {
        position: relative;
        display: inline-block;
    }

    .bigBanner {
        max-width: 1000px;
        max-height: 72px;
    }

    .leftControls {
        position: absolute;
        top: 45px;
        left: 50%; 
        transform: translateX(-500px); 
    }

    .rightControls {
        position: absolute;
        top: 45px;
        right: 50%; 
        transform: translateX(500px); 
    }

    footer {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #base {
        width: 1000px;
        text-align: center;
    }

    .container {
        margin: 0 auto; 
    }
</style>