<!DOCTYPE html>
<html lang="en-gb" xmlns="http://www.w3.org/1999/html">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="icon" type="image/x-icon" href="~/images/favicon.ico">
<link rel="stylesheet" type="text/css" href="~/css/GoS.css">
<link rel="stylesheet" href="css/site.css" />
<link rel="stylesheet" href="css/gos2.css" />
<NOSCRIPT>
    <font color="red" style="font-size: 11px; font-weight: 700" face="Arial">
        You have Javascript disabled in your browser, so not all features of this site will function correctly. Consider changing your browser's security settings<br>to allow javascript, or include www.greensonscreen.co.uk as a trusted site. Feel free to contact me if I can help (steve@greensonscreen.co.uk).
    </font>
</NOSCRIPT>

<body>
<header>
<table id="HeaderTable" style="width:1000px">
    <tr>
        <th>
            <div>
                <input type="button" id="myBtn" onclick="window.location.href='Index';" value="Gos home" />
                <a href="https://www.facebook.com/greensonscreen" target="_blank">
                    <img src="~/images/facebook_icon.png" alt="Facebook" />
                </a>
            </div>
        </th>
        <th>
            <div class="imageSwap">
                <img src="/images/goshead2.jpg" alt="GoS Header" class="bigBanner">
            </div>
        </th>
        <th>
            <div>
                <button onclick="showPopup()">About Us</button>
                    <button onclick="showPopup2()">Contact Us</button>
                </div>
            </th>
        </tr>
    </table>
</header>
<div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer>
        <div id="base">
            <p>
                Greens on Screen is run as a service to fellow supporters, in all good
                faith, without commercial or private gain. &nbsp;I have no wish to abuse
                copyright regulations and apologise unreservedly if this occurs.&nbsp;If you own
                any of the material used on this site, and object to its inclusion, please
                get in touch using the 'Contact Us' button at the top of each page.
                @{
                    var britishTime = TimeZoneInfo.ConvertTime(DateTime.UtcNow, TimeZoneInfo.FindSystemTimeZoneById("GMT Standard Time"));
                }
            <p>UK time at page load: @britishTime.ToShortDateString(), @britishTime.ToShortTimeString().</p>
        </div>
    </footer>
<style>
        .container {
            max-width: 1000px;
            margin: 0 auto;
            padding: 0 15px;
        }
        #HeaderTable {
            margin: 0 auto;
        }
    </style>
    <style>
        .container {
            max-width: 1000px;
            margin: 0 auto;
            padding: 0 15px;
        }
    </style>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
@*
<script>
    function showPopup() {
        document.getElementById("myPopup").style.display = "block";
    }
    
    function showPopup2() {
        document.getElementById("myPopup2").style.display = "block";
    }
    
    function hidePopup() {
        document.getElementById("myPopup").style.display = "none";
    }
    
    function hidePopup2() {
        document.getElementById("myPopup2").style.display = "none";
    }
</script>
<!-- 
<div id="myPopup" class="popup">
    <div class="popup-content">
        <p>
            Greens on Screen’s first page was published in January 1999. Its early purpose was to bring 
            Plymouth Argyle a little closer to those unable to see their team, and whilst it has changed 
            a great deal over the years, its core themes - sites and sounds for Westcountry exiles - still 
            stand. The site was very lucky to take on the content of Trevor Scallan’s Semper Viridis in the 
            summer of 2007, and in 2009 launched GoS-DB, a wealth of facts and figures from PAFC’s history. 
            A year later we embarked on a complete history of Argyle, with much-valued contributions from 
            chapter authors.
            <br />
            <br />
            Greens on Screen is an amateur website and proud of it. It is run by one person as a hobby, 
            although there have been aspects of the site over the years that would be much the poorer 
            without the had work and much-valued contributions of a small band of volunteers.
            <br />
            <br />
            Greens on Screen is self-taught and as a result, a little bit quirky. Amongst a few stubborn 
            principles, advertisements will never appear (and don’t get me started on the plague of betting 
            promotions on other sites). It began its life before many others, including the club’s official 
            site, when there was a large gap to be filled, and although there is now a wide variety to choose 
            from, GoS’s sole aim, to be a service to fellow supporters, still seems to have a place.
            <br />
            <br />
            Steve Dean
        </p>
        <button onclick="hidePopup()">Close</button>
    </div>
</div>
<div id="myPopup2" class="popup">
    <div class="popup-content">
        <p>
            To get in touch, please write to: <br />
            <a href="mailto:contact@greensonscreen.co.uk">contact@greensonscreen.co.uk</a>
        </p>
        <button onclick="hidePopup2()">Close</button>
    </div>
</div>
<th>
    <img src="/images/goshead2small.jpg" alt="GoS Header" class="smallBanner">
</th> 
<th>
                    <div>
                        <button onclick="showPopup()">About Us</button>
                        <button onclick="showPopup2()">Contact Us</button>
                    </div>
                </th>*@