@page
@model GoSWeb.Pages.History.bib1Model
@{
}
<!-- Morgan Trainor Code -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greens on Screen</title>
    <link rel="stylesheet" type="text/css" href="~/css/GoS.css?ver=1">
</head>
<body>

    <script>
        function popupToggle(popupId) {
            var popup = document.getElementById(popupId);
            if (popup.style.display === "none") {
                popup.style.display = "block";
            } else {
                popup.style.display = "none";

            }
        }
    </script>

    <div id="sidebar">
        <div id="printhead">
            <h2 class="heading">THE HISTORY OF ARGYLE</h2>
            <p>
                <b>
                    An original, comprehensive and thoroughly researched account of Plymouth Argyle Football Club from its earliest roots to the present day.
                </b>
            </p>
            <span style="font-size: 11px;">
                <b>Important copyright conditions:</b>
            </span>
            <span>
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/">
                    <img alt="Creative Commons Licence" src="http://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png" align="right" />
                </a>
            </span>
            <p>
                This chapter is licenced under a
                <b>
                    <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/">
                        <u>Creative Commons Licence</u>
                    </a>.
                </b>
                Attribution must include the Author <!-- AUTHOR NAME --> (Roger Walters) and this site's address (www.greensonscreen.co.uk) and must
                be displayed prominently, in close proximity to any associated material, and be implemented with strict regard to the <b>
                    <u>
                        <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/">
                            licence conditions
                        </a>
                    </u>
                </b>.
            </p>
        </div>
        <p>
            <b>Parts too small for comfortable reading?</b><br>
            Most browsers allow you to zoom. Try Ctrl+ (hold down the Ctrl
            key, then press the +
            key, without Shift). <br>
            Ctrl- reduces the size.
        </p>
        <p>
            <b>Have you new material to offer?</b><br>
            Please get in touch by writing to Steve using the 'Contact Us' button at the
            top-right of the page.
        </p>
        <p>
            <b>Photos used on this page:</b><br>
            Greens on Screen is run as a service to fellow supporters, in all good faith,
            without commercial or private gain. I have no wish to abuse copyright regulations
            and apologise unreservedly if this occurs. If you own any of the material used
            on this page, and object to its inclusion, please get in touch using the 'Contact Us'
            button at the top-right of the page.
        </p>
    </div>

    <div class="headerBox">
        <h1 class="historyTitle">
            <b>BIBLIOGRAPHY</b>
        </h1>
        <p>Sources for much of the Roger Walters' 30 years of research that underpins Chapters 1 - 10.</p>
        <p><b>Author: Roger Walters </b> [<a href="authors">about the authors]</a></p>
        <p><b>Version:</b> 1.2</p>
        <p><b>Date:</b> 1 Jul 2011</p>
        <p>

            <br>
            <a href="../argylehistorymenu">Return to History Contents</a>
    </div>
    <hr class="hrLine" />

    <a name="0"><p class="heading">BIBLIOGRAPHY FOR CHAPTERS 1 - 7 (1886-1903)</p></a>
    <p class="heading3">
        Research carried out since 1982 at:
        <ul>
            <li>British Newspaper Library, Colindale, London.</li>
            <li>Plymouth City Library.</li>
            <li>Launceston College (formerly Dunheved College) - courtesy of the Headmaster, C. D. Cooper. </li>
            <li>Plymouth College - courtesy of the Headmaster, A. M. Joyce.</li>
        </ul>
        <br />
    <p class="heading3">Newspapers:</p>
        <ul>
            <li>Western Daily Mercury – 1882 to 1904.</li>
            <li>Western Weekly Mercury – 1892 to 1895, 1898 to 1904.</li>
            <li>Western Morning News – 1882 to 1895, 1899 to 1905, 1934, 1937.</li>
            <li>Western Weekly News – 1890 to 1895, 1897 to 1904.</li>
            <li>Western Evening News – 1895 to 1903.</li>
            <li>Western Independent – 1886, 1891 to 1903.</li>
            <li>Western Evening Herald – 1895 to 1903.</li>
            <li>Football Herald – 1899 to 1903.</li>
            <li>Independent Echo – 1898 to 1900.</li>
            <li>Western Figaro – 1886 to 1891, 1900, 1902.</li>
            <li>Plymouth Comet – 1894.</li>
            <li>Tavistock Gazette – 1886 to 1891, 1899 to 1903.</li>
            <li>Dawlish Times – 1900.</li>
            <li>Devon &amp; Exeter Gazette – 1888, 1894, 1900.</li>
            <li>Devon Evening Express – 1894 to 1895, 1899 to 1900.</li>
            <li>Cornish Guardian – 1901 to 1902.</li>
            <li>Cornish Times – 1894, 1900 to 1902.</li>
            <li>West Briton – 1894 to 1895, 1899.</li>
            <li>Royal Cornwall Gazette – 1895, 1899.</li>
            <li>Launceston Weekly News – 1886, 1894 to 1895.</li>
            <li>Launceston Post – 1900.</li>
            <li>St. Austell Star – 1899 to 1901.</li>
            <li>Football Mail (Portsmouth) – 1903.</li>
            <li>Evening Despatch (Birmingham) – 1903.</li>
            <li>Western Mail (Cardiff) – 1924 to 1925.</li>
            <li>Cardiff Times – 1924.</li>
            <li>South Wales News – 1924.</li>
            <li>South Wales Evening Express – 1924.</li>
        </ul>
        <br />
    <p class="heading3">Periodicals:</p>
    <ul>
        <li>The Plymothian (Plymouth College) - 1892 to 1904.</li>
        <li>Mannamead School Magazine - 1885.</li>
        <li>Dunheved Mirror &amp; College Ventilator - 1882 to 1886.</li>
        <li>Athletic News – 1903.</li>
        <li>Plymouth Argyle Official Handbook – 1904-05, 1906-07, 1907-08, 1949-50, 1951-52.</li>
        <li>Argyle, The Official Match Magazine of Plymouth Argyle Football Club - 14th October 1978.</li>
        <li>Sport in History, Drink and the Professional Footballer in the 1890’s - Volume 25, Issue 3 (2005).</li>
    </ul>
    <br />
    <p class="heading3">Business Records (copies from The National Archives, Kew):</p>
    <ul>
        <li>Argyle Athletic Club Limited, 1901 – 1915.</li>
        <li>Plymouth Argyle Football Company Limited, 1903 – 1910.</li>
        <li>The Plymouth and Devonport Recreation Grounds Limited, 1892 – 1906.</li>
        <li>Plymouth Recreation Park Company Limited, 1892 – 1915.</li>
        <li>The Albion Football and Rectory Recreation Ground Company Limited, 1896 – 1921.</li>
        <li>Plymouth Rugby and Athletic Grounds Limited, 1899 – 1908.</li>
    </ul>
    <br />
    <p class="heading3">Maps:</p>
    <ul>
        <li>Foster’s “New Map of Plymouth, Devonport, Stonehouse, and Neighbourhood” (circa 1894).</li>
        <li>Plymouth - publisher unknown (circa 1903).</li>
        <li>Marsh Mills - Ordnance Survey (Revision 1933 with additions 1938).</li>
    </ul>
    <br />
    <p class="heading3">Books:</p>
    <ul>
        <li>West Buckland School, 1858 – 1958.</li>
        <li>Kelly College Register 1877 – 1927.</li>
        <li>“A History of Education at Launceston” by H. Spencer Toy (1966).</li>
        <li>“Devonshire. Historical, Descriptive, Biographical” – Mate’s County Series (1907).</li>
        <li>“Devon and Cornwall Illustrated” by Robin A. Fenner (1986).</li>
        <li>“Dartmoor Artists” by Brian Le Messurier (2002).</li>
        <li>“Plymouth College, An Historical Sketch” by Charles Robert Serpell (1950).</li>
        <li>“Plymouth &amp; Plymothians” compiled by Andrew Cluer (1974).</li>
        <li>“Plymouth and Devonport in Times of War and Peace” by H. Whitfield (1900).</li>
        <li>“Views of Old Plymouth” by Sarah Foot (1983).</li>
        <li>“Plymouth Through The Lens, No. 5” by Brian Moseley (1990).</li>
        <li>Plymouth Incorporated Mercantile Association Record Year Souvenir (1897).</li>
        <li>“The Book of Plymouth. N.U.T. Conference 1910” Edited by C. W. Bracken (1910).</li>
        <li>“Plymouth, 100 Years of Street Travel” by R. C. Sambourne (1972).</li>
        <li>“The Trams of Plymouth” by Martin Langley and Edwina Small (1990).</li>
        <li>“Floyd’s Football Guide” Edited by Alfred E. Floyd (1893).</li>
        <li>St. James-the-Less F.C. Minute Book (1893 – 1896).</li>
        <li>“A Sporting Century, 1863 - 1963” by Anne Pallant (1997).</li>
        <li>“The Book of Football” (1905).</li>
        <li>“Famous Association Footballers, 1895” reprint by Yore Publications (1997).</li>
        <li>“The History of the Football Association” by Geoffrey Green (1953).</li>
        <li>“The Story of The Football League 1888-1938” compiled by Charles E. Sutcliffe (1938).</li>
        <li>“Football League Players’ Records 1888-1939” by Michael Joyce (2002).</li>
        <li>“Association Football”, Caxton Volume 3, Edited by A. H. Fabian and Geoffrey Green (1960).</li>
        <li>“The Official Centenary History of the Southern League 1894 - 1994” compiled by Leigh Edwards (1993).</li>
        <li>“A View From The Terraces ” by Sandie &amp; Doug Webb (1992).</li>
        <li>“The Wow Factor”, Chapter 3 “Frederick Joseph Wall”, by John Blythe Smart (2003).</li>
        <li>“Play Up Corinth. A History of the Corinthian Football Club” by Rob Cavallini (2007).</li>
        <li>“Glory Gunners, The History of Royal  Artillery (Portsmouth) FC” by Kevin Smith (1999).</li>
        <li>“Pompey” by Mike Neasom, Mick Cooper, Doug Robinson (1984).</li>
        <li>“Lincoln City F.C. – The Official History” by Ian &amp; Donald Nannestad (1997).</li>
        <li>“Cardiff City Football Club 1899 – 1947” compiled by Richard Shepherd (1996).</li>
        <li>“The First Black Footballer, Arthur Wharton” by Phil Vasili (1998).</li>
        <li>“Rugby’s Great Split” by Tony Collins (Second Edition 2006).</li>
        <li>“England. The Official Rugby Union History” (2004).</li>
        <li>“Highland Soldier 1820 - 1920” by Diana M. Henderson (1989).</li>
        <li>“History of the South Staffordshire Regiment” by Colonel W. L. Vale (1969).</li>
        <li>“Shops and Shopping” by Alison Adburgham (1981).</li>
        <li>The Law List (1907).</li>
        <li>Clergy List (1904).</li>
        <li>Army List (1901, 1911).</li>
        <li>Medical Register (1895, 1909).</li>
    </ul>
    <br />
    <p class="heading3">Trade Directories, various including:</p>
    <ul>
        <li>Plymouth 1890, History and Directory, William White Limited – reprint by Hindsight Publications (1989).</li>
        <li>Plymouth Post Office Directory 1914, 1923, 1928.</li>
        <li>Kelly’s Directory of Plymouth 1935, 1938.</li>
        <li>Kelly’s Directory of Devonshire 1873, 1878, 1889, 1893, 1897, 1902, 1906, 1910, 1914, 1919, 1923, 1926, 1930, 1935, 1939.</li>
        <li>Kelly’s Directory of Cornwall 1873, 1883, 1893, 1910, 1919.</li>
    </ul>
    <br />
    <p class="heading3">Postcard:</p>
    <ul>
        <li>Raphael Tuck &amp; Sons – Plymouth Series 1 - Old Town Street.</li>
    </ul>
    <br />
    <p class="heading3">CD ROM:</p>
    <ul>
        <li>Census 1871, 1881, 1891, 1901.</li>
        <li>Royal Navy at Sea and in Ports Abroad, Census 1901.</li>
        <li>Blundell’s School Register, 1882 – 1932.</li>
        <li>The Law List, 1907.</li>
        <li>Army List 1892, 1906.</li>
        <li>Navy List (1890,1904, 1905, 1912, 1913, 1915, 1918, 1921).</li>
        <li>Crockford’s Clerical Directory (1929).</li>
        <li>Plymouth Marriage Index, Volume 1 & 2.</li>
    </ul>
    <br />
    <p class="heading3">Internet:</p>
    <ul>
        <li><p>freebmd.org.uk/  (Births, Marriages, Deaths).</p></li>
        <li><p>freecen.org.uk/   (Census).</p></li>
        <li><p>historicaldirectories.org/hd/   (Directories Digital Library).</p></li>
        <li><p>freepages.genealogy.rootsweb.ancestry.com/~terryw/   (Plymouth Miscellany).</p></li>
        <li><p>cyber-heritage.co.uk/   (Plymouth Victorian/Edwardian Photographs).</p></li>
        <li><p>archive.org/details/streetofinkintim00simouoft    (R. A. J. Walling – photograph on page 160).</p></li>
        <li><p>aviatechno.free.fr/brevets/images_brevets.php?image=60   (Victor Rigal – photograph).</p></li>
        <li><p>stokepark.com/book/chapter7.pdf    (Nicholas Lane Jackson).</p></li>
        <li><p>stokepark.com/assets/club-history.pdf    (Nicholas Lane Jackson).</p></li>
        <li><p>Wikipedia.org/wiki/Denys_Dobson    (Denys Douglas Dobson  - Oxford Univ. XV 1901).</p></li>
        <li><p>measuringworth.com     (Calculating the relative worth of money over time).</p></li>
    </ul>
    <br />
    <p class="heading3">Additional assistance from:</p>
    <ul>
        <li>John H. Pethybridge.</li>
        <li>Harold Pascho.</li>
        <li>David Pascho.</li>
        <li>Sam Rendell.</li>
        <li>Don Smith.</li>
        <li>Phil Hollow.</li>
        <li>Colin Parsons.</li>
        <li>Harley Lawer.</li>
        <li>Bodleian Library, Oxford.</li>
        <li>Edward Green, Museum of the Staffordshire Regiment.</li>
        <li>Superintendent Registrar of Births, Deaths, and Marriages, Plymouth.</li>
    </ul>
    <br />
    <p class="heading3">
        Note: Over many years, information has been found, or given, from so many sources that may not be listed. I apologise to any source not acknowledged.
    </p>







</body>
</html>



