@page
@model GoSWeb.Pages.History.ps1Model
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greens on Screen</title>
    <link rel="stylesheet" type="text/css" href="~/css/GoS.css?ver=1">
</head>
<body>
    <script>
        function popupToggle(popupId) {
            var popup = document.getElementById(popupId);
            if (popup.style.display === "none") {
                popup.style.display = "block";
            } else {
                popup.style.display = "none";

            }
        }
    </script>

    <div id="sidebar">
        <div id="printhead">
            <h2 class="heading">THE HISTORY OF ARGYLE</h2>
            <p>
                <b>
                    An original, comprehensive and thoroughly researched account of Plymouth Argyle Football Club from its earliest roots to the present day.
                </b>
            </p>
            <span style="font-size: 11px;">
                <b>Important copyright conditions:</b>
            </span>
            <span>
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/">
                    <img alt="Creative Commons Licence" src="http://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png" align="right" />
                </a>
            </span>
            <p>
                This chapter is licenced under a
                <b>
                    <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/">
                        <u>Creative Commons Licence</u>
                    </a>.
                </b>
                Attribution must include the Author <!-- AUTHOR NAME --> (Roger Walters) and this site's address (www.greensonscreen.co.uk) and must
                be displayed prominently, in close proximity to any associated material, and be implemented with strict regard to the <b>
                    <u>
                        <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/">
                            licence conditions
                        </a>
                    </u>
                </b>.
            </p>
        </div>
        <p>
            <b>Parts too small for comfortable reading?</b><br>
            Most browsers allow you to zoom. Try Ctrl+ (hold down the Ctrl
            key, then press the +
            key, without Shift). <br>
            Ctrl- reduces the size.
        </p>
        <p>
            <b>Have you new material to offer?</b><br>
            Please get in touch by writing to Steve using the 'Contact Us' button at the
            top-right of the page.
        </p>
        <p>
            <b>Photos used on this page:</b><br>
            Greens on Screen is run as a service to fellow supporters, in all good faith,
            without commercial or private gain. I have no wish to abuse copyright regulations
            and apologise unreservedly if this occurs. If you own any of the material used
            on this page, and object to its inclusion, please get in touch using the 'Contact Us'
            button at the top-right of the page.
        </p>
    </div>

    <div class="headerBox">
        <h1 class="historyTitle">
            <b>ARGYLE FC POSTSCRIPT</b>
        </h1>
        <p>A lasting memory of one of over 500 who played for the Argyle Football Club and an enduring reminder of Plymouth Argyle's roots.</p>
        <p><b>Author: Roger Walters </b> [<a href="authors">about the authors]</a></p>
        <p><b>Version:</b> 1.0</p>
        <p><b>Date:</b> 25 Aug 2011</p>
        

        <table class="historyTable">
            <tr><b>Other Chapters:</b></tr>
            <tr><td>1. <a href="1886-1890">In the Beginning (1886-90)</a></td> <td>12. <a href="1910-1920">Argyle and The Great War (1910-20)</a></td> </tr>
            <tr><td>2. <a href="1890-1895">From Struggle to Demise (1890-95)</a></td> <td>13. <a href="1920-1930">Into the Football League (1920-30)</a></td> </tr>
            <tr><td>3. <a href="1895-1899">Rising from the Phoenix (1895-99)</a></td> <td>14. <a href="1930-1934">Life in the Second Division (1930-34)</a></td> </tr>
            <tr><td>4. <a href="1899-1900">The Argyle Athletic Umbrella (1899-00)</a></td> <td>15. <a href="1934-1939">The End of an Era (1934-39)</a></td> </tr>
            <tr><td>5. <a href="1900-1901">Home Park Home (1900-01)</a></td> <td>16. <a href="1939-1945">Argyle and the Second World War (1939-45)</a></td> </tr>
            <tr><td>6. <a href="1901-1902_1">The Argyle Affair (1901-02 P1)</a></td> <td>17. <a href="1945-1950">From the Ashes (1945-50)</a></td> </tr>
            <tr><td>7. <a href="1901-1902_2">The big boys come to town (1901-02 P2)</a></td> <td>18. <a href="1950-1953">Into the Fifties (1950-53)</a></td> </tr>
            <tr><td>8. <a href="1902-1903_1">Argyle FC becomes Semi-pro (1902-03 P1)</a></td> <td>19. <a href="1953-1957">From Best to Worst, via Hollywood (1953-57)</a></td> </tr>
            <tr><td>9. <a href="1902-1903_2">The Birth of Plymouth Argyle (1902-03 P2)</a></td> <td>Annex 1. <a href="anx1">An Argyle Timeline</a></td> </tr>
            <tr><td>10. <a href="1902-1903_3">Argyle FC's Final Triumph (1902-03 P3)</a></td> <td>Annex 2. <a href="anx2">Facts & Figures</a></td> </tr>
            <tr><td>11. <a href="1903-1910">Plymouth Argyle's Early Years (1903-10)</a></td>  </tr>
        </table>
        <br>
        <a href="../argylehistorymenu">Return to History Contents</a>
    </div>
    <hr class="hrLine" />

    <a name="0"><p class="heading">IN MEMORY OF AN ARGYLE FOOTBALL CLUB PLAYER: DORT PASCHO, 1899-1900</a></p>
    <div class="imageleft" style="width:203px"><img width=190 height=664 src="~/images/history/image159.jpg"><p style="font-size: 11px; font-style: italic; margin: 4px 3px 2px 4px; text-align:center;">Window at Hooe St. John Church dedicated in 1933 to Matthias Dorton Willing Pascho</p></div>
    <div class="imageright" style="width:213px"><img width=200 height=300 src="/images/history/image160.png"><p style="font-size: 11px; font-style: italic; margin: 4px 3px 2px 4px; text-align:center;">Matthias Dorton Willing Pascho 1878-1932</p></div>
    <p>Dort Pascho made just 11 appearances for Argyle FC, scoring 2 goals. He was not a prominent member of the club, though his Argyle record is considerably more than many of the 500 players fielded by Argyle from 1886 to 1903. He was a local man whose keen interest and dedication to the local game was rewarded after his untimely death with a wonderful tribute. The beautiful stained-glass window at Hooe St. John Church is a lasting reminder of Dort and a forgotten football past.</p>
    <p>He was born and lived his whole life in Turnchapel, the son of a Trinity Pilot. Dort was very proud of his roots and loved to stand above his village and survey the scene over the Plym and Sound. He and his brother 'J. J.' helped found the Turnchapel Football Club in 1894, and they won the Devon Junior Cup in the 1896-97 season.</p>
    <p>The club folded, so Dort moved to Plymstock based club, Lifton. He first played for the County in 1898-99 before joining Argyle for the 1899-00 season. Injury restricted his appearances but he did receive a medal, as Argyle became winners of the Devon Senior League. In 1902, he revived Turnchapel FC. As their passionate Secretary, he was warned of his conduct towards referees at matches by the Devon FA. He held the Club Chairman position for many years.</p>
    <p>In 1920, he was elected Honorary Treasurer of the Devon FA. After ten years service, Dort received a medal in appreciation of his work. His premature death in 1932, at the age of 54, was mourned by the many that knew and respected a popular man. St. John’s Church, Hooe, was filled to capacity for his funeral. He is buried here.</p>
    <div class="imageright" style="width:242px"><img width=229 height=101 src="/images/history/image161.png"></div>
    <p>The Devon Football Association and its various Clubs contributed to installing the stained glass window in the Church as a fitting memorial to the sterling work Dort had carried out on their behalf. The inscription says "To the Glory of God and in affectionate memory of M. D. W. Pascho, late hon. Treasurer, Devon County Football Association. A sincere tribute from the Association and its Affiliated Bodies 1933". The Pascho family know of, and are still proud of Dort’s Argyle connection.</p>
   
    <a name="1"><p class="heading">BIBLIOGRAPHY FOR THIS POSTSCRIPT AND THE PRE-1903 CHAPTERS</a></p>
    <p><a href="argylehistory.asp?era=bib1"><u>Click here</u></a> for a full list of references.</p>
    


                        </body>
</html>